@import "../../map_modules/variables";

.browser-support-banner {
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    z-index: 999;
    background-color: $white;
    border-left: 3px solid $blue;
    border-radius: .25em;
    opacity: .9;

    p {
        margin: 0 1em 0 0;
    }
}
