@import "../../map_modules/variables";

.loading-spinner {
    height: 100%;
    width: 100%;
    color: $white;
    animation: loading-spinner 1s infinite linear;
}

button {

    &.blue-button[disabled] .loading-spinner {
        color: rgba($blue, .5);
    }

    .loading-spinner {
        height: 1.5em;
        width: 1.5em;
        margin-left: .5em;
    }
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
