@import "../../map_modules/variables";

.spinner-small-r {
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    margin-left: 6px;
    font-size: 10px;
    display: inline-block;
    text-indent: -9999em;
    border-top: .2em solid rgba(255, 255, 255, 0.6);
    border-right: .2em solid rgba(255, 255, 255, 0.6);
    border-bottom: .2em solid rgba(255, 255, 255, 0.6);
    border-left: .2em solid $white;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin-small-r .8s infinite linear;
    animation: spin-small-r .8s infinite linear;
}

@-webkit-keyframes spin-small-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-small-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
