@import "../../map_modules/variables";

.task-status-list {
    background-color: $white;
    border: 1px solid $charcoal;
    color: $charcoal;
    border-collapse: collapse;
    margin: 1em 0;

    th, td {
        border: 1px solid $charcoal;
        padding: .5em;
    }

    .selection-group-name {
        font-weight: bold;
        margin: 0 0 .25em;
        padding: 0;
    }

    .task-status-description {
        font-size: .9em;
        font-style: italic;
        margin: 0;
        padding: 0;
    }
}

.status-top {
    display: flex;
    flex-flow: row nowrap;

    .status-name {
        flex: 1;
    }

    .status-message-toggle {
        flex: 0;
    }
}