@import "../../map_modules/variables";

.status-expansion-icon {
    height: 1.5em;
    width: 1.5em;
    color: $white;
    transition: all .1s linear;

    &.open {
        transform: rotate(180deg);
        transition: all .1s linear;
    }
}

.task-status-list {
    background-color: $white;
    border: 1px solid $charcoal;
    color: $charcoal;
    border-collapse: collapse;
    margin: 1em 0;

    th, td {
        border: 1px solid $charcoal;
        padding: .5em;

        &.status-column {
            text-align: center;
        }
    }

    .card-status-icon {
        height: 2em;
        width: 2em;

        &.success {
            color: $green;
        }

        &.warning {
            color: $orange;
        }

        &.error {
            color: $red;
        }
    }

    .selection-group-name {
        font-weight: bold;
        margin: 0 0 .25em;
        padding: 0;
    }

    .task-status-description {
        font-size: .9em;
        font-style: italic;
        margin: 0;
        padding: 0;
    }
}

.status-top {
    display: flex;
    flex-flow: row nowrap;

    .status-name {
        flex: 1 1 auto;
    }

    .status-message-toggle {
        flex: 0 0 auto;
    }
}