@import "../../map_modules/variables";

.task-status-message {
    margin: .5em 0;
    font-size: .9em;
    font-style: italic;
}

.card-status-container.status-message,
.card-status-container.status-informational,
.card-status-container.status-error {
    display: block;
}

.card-status-container.status-message {
    background-color: $green;
}

.card-status-container.status-informational {
    background-color: $orange;
}

.card-status-container.status-error {
    background-color: $red;
}
