@import "../../map_modules/variables";

#iframe-container {
    position: relative;
    height: 100%;
    width: 100%;

    #content-iframe {
        height: 100%;
        width: 100%;
        overflow: auto;
        border: none;
    }

    #close-content-container {
        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;
        opacity: .2;

        &:hover {
            opacity: 1;
        }
    }
}
