@import "../../map_modules/variables";
@import "../../map_modules/general";

#message-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 1em;
    border: 1px solid $charcoal;
    border-radius: 1em;

    .primary-message,
    .secondary-message {
        width: 100%;
        text-align: center;
    }

    .secondary-message {
        font-weight: 600;
    }

    #download-close-button {
        margin: 1em 0 0;
        width: 100%;
    }
}

