@import "../../map_modules/variables";

#iframe-container {
    position: relative;
    height: 100%;
    width: 100%;

    iframe, object {
        height: 100vh;
        width: 100%;
        overflow: auto;
        border: none;
    }
}
