@import "../../map_modules/variables";

body {
    background-color: $light-grey;
}

#iframe-container {
    position: relative;
    height: 100%;
    width: 100%;

    iframe, object {
        height: 100vh;
        width: 100%;
        overflow: auto;
        border: none;
    }
}

#message-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .primary-message,
    .secondary-message {
        width: 100%;
        text-align: center;
    }

    .secondary-message {
        font-weight: 600;
    }
}

