@import "../../map_modules/variables";

.form-element-container {
    margin-bottom: 1.5em;
    opacity: 1;

    &.disabled {

        .input-icon-label,
        .action-icon-label,
        .form-input-container {
            border-color: $grey !important;
        }

        .form-input-label,
        .form-input {
            color: darken($grey, 10%) !important;
        }
    }


    .form-element {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        height: 3.5rem;
        width: 100%;
        align-self: flex-start;
        margin-bottom: .5rem;

        &.error {
            border: 2px solid $red;
        }

        .input-icon-label,
        .action-icon-label {
            flex: 0 0 auto;
            height: 100%;
            width: 3.5rem;
            border: 1px solid $charcoal;
            padding: .5rem;


            .input-icon,
            .action-icon {
                height: 100%;
                width: 100%;
                color: $white;
            }
        }

        .input-icon-label {
            background-color: $blue;
            border-right: none;
        }

        .action-icon-label {
            cursor: pointer;
            background-color: $green;
            border-left: none;
            margin: 0;
            border-radius: 0 !important;
            padding: .5rem !important;

            &:hover {
                background-color: darken($green, 5%);
            }
        }

        .form-input-container {
            flex: 1 0 auto;
            position: relative;
            border: 1px solid $charcoal;
            background-color: $white;


            input.form-input {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                font-size: 1.25rem;
                border: none;
                background-color: transparent;
                color: $charcoal;
                z-index: 1;
                transition: all .25s;

                &:focus:not([readonly]) {

                    & + .form-input-label {
                        color: $blue;
                        font-weight: bold;
                    }
                }

                &:not([value='']),
                &:focus {
                    padding: 1.25rem .5rem .1rem;
                }

                &[readonly] + .form-input-label,
                &[disabled] + .form-input-label,
                &:not([value='']) + .form-input-label,
                &:focus + .form-input-label {
                    top: 0;
                    opacity: 1;
                    transition: opacity .5s, top .5s;
                }

                &[readonly],
                &[disabled],
                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }

            .form-input-label {
                position: absolute;
                top: .25rem;
                left: 0;
                padding: .25rem .5rem;
                font-size: .75rem;
                font-weight: 300;
                color: $dark-grey;
                opacity: 0;
                z-index: 0;
            }
        }
    }

    .error-message {
        display: block;
        font-style: italic;
        font-size: .75rem;
        color: $red;
        padding: .25rem;
        margin: .25rem;
    }
}

.button-container {
    text-align: right;
}

.form-element-container,
.button-container {
    position: relative;
    top: 0;
    opacity: 1;
    transition: all .5s;

    &.hidden {
        top: -1rem;
        opacity: 0;
    }
}