@import "../../map_modules/variables";

.navbar-offset {
    padding-left: 6.5vmin;
}

nav {
    position: fixed;
    display: flex !important;
    flex-flow: column nowrap;
    justify-content: center;
    top: 0;
    left: -28vmin;
    width: 28vmin;
    bottom: 0;
    transition: all 0.3s;
    background-color: $charcoal;
    color: $white;
    padding: 0;
    z-index: 101;

    &.loaded {
        left: -21.5vmin;
    }

    &:hover {
        left: 0;
    }

    a {
        color: inherit;
    }

    .nav-element {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        cursor: pointer;
        margin-bottom: .25vmin;

        &:hover {
            color: $blue;
        }

        &.selected {
            background-color: $blue;

            &:hover {
                color: $charcoal;
            }
        }

        .nav-element-label {
            flex: 1 0 auto;
            margin: 0 0 0 2vmin;
            font-size: 2vmin;
            font-weight: bold;
            order: 1;
        }

        .nav-element-icon {
            flex: none;
            width: 6.5vmin;
            height: 6.5vmin;
            padding: 1vmin;
            order: 2;
        }
    }
}
