@import "../../map_modules/variables";

.navbar-offset {
    padding-left: 2.5rem;
}

nav {
    position: fixed;
    display: flex !important;
    flex-flow: column nowrap;
    justify-content: center;
    top: 0;
    left: -17rem;
    width: 17rem;
    bottom: 0;
    transition: all 0.3s;
    background-color: $charcoal;
    color: $white;
    padding: 0;
    z-index: 101;

    &.loaded {
        left: -14.5rem;
    }

    &.open {
        left: 0;

        #navbar-button-inner:before {
            transform: translate3d(-.5rem, 0.3rem, 0) rotate(-45deg) scaleX(.7);
        }

        #navbar-button-inner:after {
            transform: translate3d(-.5rem, -0.3rem, 0) rotate(45deg) scaleX(.7);
        }
    }

    &.close #navbar-button:hover {

        #navbar-button-inner:before {
            transform: translate3d(.5rem, 0.3rem, 0) rotate(45deg) scaleX(.7);
        }

        #navbar-button-inner:after {
            transform: translate3d(.5rem, -0.3rem, 0) rotate(-45deg) scaleX(.7);
        }
    }

    #navbar-button {
        position: absolute;
        top: 2rem;
        right: 4px;
        display: inline-block;
        overflow: visible;
        margin: 0;
        width: 2.5rem;
        height: 2.5rem;
        padding: .625rem;
        cursor: pointer;
        transition-timing-function: ease-in-out;
        transition-duration: .15s;
        transition-property: opacity, filter;
        text-transform: none;
        border: 0;
        background-color: transparent;

        &:hover #navbar-button-box {

            #navbar-button-inner,
            #navbar-button-inner:before,
            #navbar-button-inner:after {
                background-color: $blue;
            }
        }

        #navbar-button-box {
            position: absolute;
            display: block;
            top: 50%;

            #navbar-button-inner {
                display: block;
                margin-top: -1rem;
            }

            #navbar-button-inner,
            #navbar-button-inner:before,
            #navbar-button-inner:after {
                background-color: $white;
                position: absolute;
                width: 1.75rem;
                height: 3px;
                transition-timing-function: ease-in-out;
                transition-duration: .15s;
                transition-property: transform;
                border-radius: .25em;
            }

            #navbar-button-inner:before,
            #navbar-button-inner:after {
                display: block;
                content: "";
            }

            #navbar-button-inner:before {
                top: -.7rem;
            }

            #navbar-button-inner:after {
                bottom: -.7rem;
            }
        }
    }

    a {
        color: inherit;
    }

    .nav-element {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        cursor: pointer;
        margin-bottom: 5px;

        &:hover {
            color: $blue;
        }

        &.selected {
            background-color: $blue;

            &:hover {
                color: $charcoal;
            }
        }

        .badge {
            position: absolute;
            top: .25rem;
            right: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.5em;
            padding: .15em .3em;
            margin: 0;
            border: 2px solid $white;
            border-radius: 50%;
            background-color: $red;
            color: $white;
            font-size: .75em;
            text-align: center;
        }

        .nav-element-label {
            flex: 1 0 auto;
            margin: 0 0 0 1rem;
            font-size: 1rem;
            font-weight: 300;
            order: 1;
            width: 12rem;
        }

        .nav-element-icon {
            flex: none;
            width: 2.5rem;
            height: 2.5rem;
            padding: .5rem;
            order: 2;
        }
    }
}

#navBarModalBackground {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
