@import "../../map_modules/variables";

.navbar-offset {
    padding-left: 6.5vmin;
}

nav {
    position: fixed;
    display: flex !important;
    flex-flow: column nowrap;
    justify-content: center;
    top: 0;
    left: -28vmin;
    width: 28vmin;
    bottom: 0;
    transition: all 0.3s;
    background-color: $charcoal;
    color: $white;
    padding: 0;
    z-index: 101;

    &.loaded {
        left: -21.5vmin;
    }

    &.open {
        left: 0;

        #navbar-button-inner:before {
            transform: translate3d(-1.25vmin, 0.5vmin, 0) rotate(-45deg) scaleX(.7);
        }

        #navbar-button-inner:after {
            transform: translate3d(-1.25vmin, -0.5vmin, 0) rotate(45deg) scaleX(.7);
        }
    }

    &.close #navbar-button:hover {

        #navbar-button-inner:before {
            transform: translate3d(1.25vmin, 0.5vmin, 0) rotate(45deg) scaleX(.7);
        }

        #navbar-button-inner:after {
            transform: translate3d(1.25vmin, -0.5vmin, 0) rotate(-45deg) scaleX(.7);
        }
    }

    #navbar-button {
        position: absolute;
        top: 2vmin;
        right: 0;
        display: inline-block;
        overflow: visible;
        margin: 0;
        width: 6.5vmin;
        height: 6.5vmin;
        padding: 1vmin;
        cursor: pointer;
        transition-timing-function: ease-in-out;
        transition-duration: .15s;
        transition-property: opacity, filter;
        text-transform: none;
        border: 0;
        background-color: transparent;

        &:hover #navbar-button-box {

            #navbar-button-inner,
            #navbar-button-inner:before,
            #navbar-button-inner:after {
                background-color: $blue;
            }
        }

        #navbar-button-box {
            position: absolute;
            display: block;
            top: 50%;

            #navbar-button-inner {
                display: block;
                margin-top: -2.25vmin;
            }

            #navbar-button-inner,
            #navbar-button-inner:before,
            #navbar-button-inner:after {
                background-color: $white;
                position: absolute;
                width: 4.5vmin;
                height: .25em;
                transition-timing-function: ease-in-out;
                transition-duration: .15s;
                transition-property: transform;
                border-radius: .25em;
            }

            #navbar-button-inner:before,
            #navbar-button-inner:after {
                display: block;
                content: "";
            }

            #navbar-button-inner:before {
                top: -1.5vmin;
            }

            #navbar-button-inner:after {
                bottom: -1.5vmin;
            }
        }
    }

    a {
        color: inherit;
    }

    .nav-element {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        cursor: pointer;
        margin-bottom: .25vmin;

        &:hover {
            color: $blue;
        }

        &.selected {
            background-color: $blue;

            &:hover {
                color: $charcoal;
            }
        }

        .nav-element-label {
            flex: 1 0 auto;
            margin: 0 0 0 2vmin;
            font-size: 2vmin;
            font-weight: bold;
            order: 1;
        }

        .nav-element-icon {
            flex: none;
            width: 6.5vmin;
            height: 6.5vmin;
            padding: 1vmin;
            order: 2;
        }
    }
}

#navBarModalBackground {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
/* IE Specific overrides */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    .navbar-offset {
        padding-left: 4rem;
    }

    nav {
        left: -18.5em;
        width: 18.5em;

        &.loaded {
            left: -14.5em;
        }

        &:hover {
            left: 0;
        }

        .nav-element {
            margin-bottom: .25em;

            .nav-element-label {
                font-size: 1em;
            }

            .nav-element-icon {
                width: 4em;
                height: 4em;
                padding: .5rem;
            }
        }
    }
}