@import "../../map_modules/variables";

.popup-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .menu-button {
        cursor: pointer;

        .menu-icon {
            height: 1.25em;
            width: 1.25em;
        }
    }

    .popup-menu {
        position: absolute;
        right: 2em;
        top: 0;
        background-color: $white;
        padding: 0;
        border: 1px solid $charcoal;
        border-radius: .25em;
        cursor: pointer;

        &:after {
            content: "";
            position: absolute;
            top: 50%; // half way down (vertical center).
            margin-top: -15px; // adjust position, arrow has a height of 30px.
            right: -30px;
            border: 1px solid $charcoal;
            border-left-color: #FFF;
            z-index: 1;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;
                padding: 0 1em;

                &:hover {
                    font-weight: bold;
                }

                &.warning {
                    color: $red;

                    &:hover {
                        color: $white;
                        background-color: $red;
                    }
                }
            }
        }
    }
}
