@import "../../map_modules/variables";

.popup-container {
    position: relative;
    display: inline;
    width: 7em;
    height: 100%;
    padding: .5em;
    margin: 0;

    &.open {
        background-color: $light-grey;
    }

    .menu-button {
        cursor: pointer;

        .menu-icon {
            height: 1.25em;
            width: 1.25em;
        }
    }

    .popup-menu {
        position: absolute;
        right: 2em;
        top: 0;
        background-color: $off-white;
        border: 1px solid $light-grey;
        padding: 0;
        cursor: pointer;
        z-index: 999;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li,
            a {
                display: flex;
                flex-flow: row nowrap;
                cursor: pointer;
                padding: .1em .5em;
                line-height: 1.75em;

                a {
                    color: $charcoal;
                    padding: 0;
                }

                &:hover {
                    font-weight: bold;
                    background-color: $light-grey;
                }

                &.warning {
                    color: $red;

                    svg {
                        color: $red;
                    }

                    &:hover {
                        color: $white;
                        background-color: $red;

                        svg {
                            color: $white;
                        }
                    }
                }

                .action-icon-container-inline {
                    flex: 0 0 auto;

                    svg {
                        height: 1.25em;
                        width: 1.25em;
                    }
                }

                .menu-text {
                    flex: 1 1 auto;
                    padding: 0 2em 0 1em;
                    text-align: left;
                }
            }
        }
    }
}
