@{
    ViewData["Title"] = "ConfirmRepeatEnable";
}

<h1 class="text-danger"></h1>

<p>
    Your MAP account was not previously activated.  A new account welcome email has been sent with a new activation link.  Please activate your account using that link. 
</p>
