@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "";
    Layout = "_Layout_w_H_F";
}

@section Scripts {
    <script src="~/js/forgot-password-confirmation.bundle.js"></script>
}

<div id="reset-password-container">
    <h3>Please check your email inbox for @Model.Email for a password reset notification.</h3>
</div>
