@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "";
    Layout = "_Layout_w_H_F";
}

@section Scripts {
    <script src="~/js/forgot-password.bundle.js"></script>
}

<div id="reset-password-container">
    <div id="reset-password" class="admin-panel-container flex-item-for-phone-only-12-12 flex-item-for-tablet-up-10-12 flex-item-for-desktop-up-4-12">
        <div class="admin-panel-content-container">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                <div class="form-section-container">
                    <div class="form-section" data-section="password">
                        <h4 class="form-section-title">Enter your email address</h4>
                        <div class="form-input-container">
                            <div class="form-input form-input-text flex-item-12-12">
                                <label class="form-input-text-title" asp-for="Email"></label>
                                <div>
                                    <input asp-for="Email" autofocus />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="button-container button-container-update">
                            <button type="submit" class="button-submit blue-button">Reset Password</button>
                        </div>
                        <div class="form-antiforgery-token" style="display: none;">
                            @Html.AntiForgeryToken()
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
