@{
    ViewData["Title"] = "";
    Layout = "_Layout_w_H_F";
}

@section Scripts {
    <script src="~/js/reset-password.bundle.js"></script>
}

<div id="reset-password-container">
    <h3>Please check your email for a password reset notification.</h3>
</div>
