@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using MapDbContextLib.Identity
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    Layout = "_Layout_w_F";
}

    <div class="center-content content-item-flex-2 flex-container flex-column-no-wrap content-center items-align-center max-width-90pct">
        <div class="width-25em max-width-100pct margin-left-auto margin-right-auto margin-bottom-0">
            <img src="~/images/logo.png" alt="Milliman Access Portal Logo" class="width-100pct"/>
        </div>
        <div class="width-25em max-width-100pct center-content display-inline-block margin-left-auto margin-right-auto">
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="margin-bottom-1em">
                    <input asp-for="Email" id="email" placeholder="Email" autofocus>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="margin-bottom-1em">
                    <input asp-for="Password" id="password" placeholder="Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="right-align-content">
                    <a asp-action="ResetPassword" id="password-reset">Forgot Password</a>
                    <button type="submit" id="primary-button" class="margin-left-2em bg-color-blue bg-color-blue-hover font-color-white">Login</button>
                </div>
            </form>
        </div>
    </div>


    @*@section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }*@

