@{
    ViewData["Title"] = "";
    Layout = "_Layout_w_H_F";
}

@section Scripts {
    <script src="~/js/reset-password.bundle.js"></script>
}

<div id="reset-password-container">
    <h3>Your password has been reset. <a asp-controller="Account" asp-action="Login">Click here to log in</a>.</h3>
</div>
