@model MapDbContextLib.Context.RootContentItem;

@{
    /*
     * CODE OWNERS: Mike Reisz, Kelsie Stevenson
     * OBJECTIVE: Provide an interface for uploading and updating content
     * DEVELOPER NOTES:
     */

    ViewData["Title"] = "Content Publishing";
    Layout = "_Layout_w_NB_H_F";
    ViewData["NavIcon"] = "ContentPublisher";
}

@section Scripts {
    <script src="/js/content-publishing.bundle.js"></script>
}

<div id="client-tree" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-3-12">
    <div class="loading-wrapper">
        @Html.Partial("~/Views/Shared/_Loader.cshtml")
    </div>
    <h3 class="admin-panel-header">Client Tree</h3>
    <div class="admin-panel-toolbar">
        <input class="admin-panel-searchbar-tree" type="search" placeholder="Filter Clients" />
        <div class="admin-panel-action-icons-container">
        </div>
    </div>
    <div class="admin-panel-content-container">
        <ul class="admin-panel-content"></ul>
    </div>
</div>
<div id="root-content-items" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-3-12" @*style="display: none;" *@>
    <div class="loading-wrapper">
        @Html.Partial("~/Views/Shared/_Loader.cshtml")
    </div>
    <h3 class="admin-panel-header">Content Items</h3>
    <div class="admin-panel-toolbar">
        <input class="admin-panel-searchbar-tree" type="search" placeholder="Filter Content" />
        <div class="admin-panel-action-icons-container">
        </div>
    </div>
    <div class="admin-panel-content-container">
        <ul class="admin-panel-content"></ul>
    </div>
</div>
<div id="content-publishing-form" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-6-12" @*style="display: none;" *@>
    <div class="loading-wrapper" style="display: none;">
        @Html.Partial("~/Views/Shared/_Loader.cshtml")
    </div>
    <h3 class="admin-panel-header">Content Item</h3>
    <div class="admin-panel-toolbar">
        <div class="admin-panel-action-icons-container">
            <svg class="action-icon-edit action-icon tooltip" title="Edit Content Item details">
                <use xlink:href="#action-icon-edit"></use>
            </svg>
            <svg class="action-icon-cancel action-icon tooltip" title="Cancel edit">
                <use xlink:href="#action-icon-cancel"></use>
            </svg>
        </div>
    </div>
    <div class="admin-panel-content-container">
        <form class="admin-panel-content">
            <div class="form-container">
                <h4 class="form-section-header">Content Item Information</h4>
                <div class="form-section-container">
                    <div style="display: none;">
                        <input asp-for="Id" />
                    </div>
                    <div class="form-input flex-item-12-12">
                        <label asp-for="ContentName"></label>
                        <div>
                            <input asp-for="ContentName" />
                            <span asp-validation-for="ContentName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input content-item-flex-1">
                        <label asp-for="ContentTypeId"></label>
                        <div>
                            <select asp-for="ContentTypeId">
                                <option value="">Make a Selection</option>
                            </select>
                            <span asp-validation-for="ContentTypeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input form-input-flex content-item-flex-none">
                        <div class="switch-container">
                            <div class="toggle-switch">
                                <input type="checkbox" class="toggle-switch-checkbox" name="DoesReduce" id="DoesReduce">
                                <label class="toggle-switch-label" for="DoesReduce">
                                    <span class="toggle-switch-inner"></span>
                                    <span class="toggle-switch-switch"></span>
                                </label>
                            </div>
                            <label class="switch-label" for="DoesReduce">Reducible</label>
                        </div>
                    </div>
                </div>
                <h4 class="form-section-header">Files</h4>
                <div class="form-section-container">
                    <div class="form-input flex-item-5-12">
                        <label for="ThumbnailImage">Thumbnail Image</label>
                        <div></div>
                        <input type="text" id="thumbnailImageHash" style="display: none;"/>
                        <input type="text" id="thumbnailImageUID" style="display: none;" />
                    </div>
                    <div class="form-input flex-item-7-12">
                        <label for="ContentFile">File</label>
                        <input type="text" id="ContentFile" />
                        <input type="text" id="ContentFileHash" style="display: none;" />
                        <input type="text" id="ContentFileUID" style="display: none;" />
                        <label for="UserguideFile">Userguide</label>
                        <input type="text" id="UserguideFile" />
                        <input type="text" id="UserguideFileHash" style="display: none;" />
                        <input type="text" id="UserguideFileUID" style="display: none;" />
                        <label for="ReleaseNotesFile">Release Notes</label>
                        <input type="text" id="ReleaseNotesFile" />
                        <input type="text" id="ReleaseNotesFileHash" style="display: none;" />
                        <input type="text" id="ReleaseNotesFileUID" style="display: none;" />
                    </div>
                </div>
                <h4 class="form-section-header">Content Description</h4>
                <div class="form-section-container">
                    <div class="form-input flex-item-12-12">
                        <label for="Description">Description</label>
                        <div>
                            <textarea id="Description" for="Description" required></textarea>
                        </div>
                    </div>
                    <div class="form-input flex-item-12-12">
                        <label for="Notes">Notes</label>
                        <div>
                            <textarea id="Notes" for="Notes"></textarea>
                        </div>
                    </div>
                </div>
                @Html.AntiForgeryToken()
                <div class="new-form-button-container form-button-container">
                    <button type="button" class="reset-button link-button">Reset Form</button>
                    <button type="button" class="submit-button green-button">Create Content Item</button>
                </div>
                <div class="edit-form-button-container form-button-container" style="display: none;">
                    <button type="button" class="reset-button link-button">Discard Changes</button>
                    <button type="button" class="submit-button blue-button">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
