@model MapDbContextLib.Context.RootContentItem;

@{
    /*
     * CODE OWNERS: Mike Reisz, Kelsie Stevenson
     * OBJECTIVE: Provide an interface for uploading and updating content
     * DEVELOPER NOTES:
     */

    ViewData["Title"] = "Content Publishing";
    Layout = "_Layout_w_NB_H_F";
    ViewData["NavIcon"] = "ContentPublisher";
}

@section Scripts {
    <script src="/js/content-publishing.bundle.js"></script>
}

<div id="client-tree" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-3-12">
    <div class="loading-wrapper">
        @Html.Partial("~/Views/Shared/_Loader.cshtml")
    </div>
    <h3 class="admin-panel-header">Client Tree</h3>
    <div class="admin-panel-toolbar">
        <input class="admin-panel-searchbar-tree" type="search" placeholder="Filter Clients" />
        <div class="admin-panel-action-icons-container">
        </div>
    </div>
    <div class="admin-panel-content-container">
        <ul class="admin-panel-content"></ul>
    </div>
</div>
<div id="root-content-items" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-3-12" @*style="display: none;" *@>
    <div class="loading-wrapper">
        @Html.Partial("~/Views/Shared/_Loader.cshtml")
    </div>
    <h3 class="admin-panel-header">Content Items</h3>
    <div class="admin-panel-toolbar">
        <input class="admin-panel-searchbar-tree" type="search" placeholder="Filter Content" />
        <div class="admin-panel-action-icons-container">
        </div>
    </div>
    <div class="admin-panel-content-container">
        <ul class="admin-panel-content"></ul>
    </div>
</div>
<div id="content-publishing-form" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-6-12" @*style="display: none;" *@>
    <div class="loading-wrapper" style="display: none;">
        @Html.Partial("~/Views/Shared/_Loader.cshtml")
    </div>
    <h3 class="admin-panel-header">Content Item</h3>
    <div class="admin-panel-toolbar">
        <div class="admin-panel-action-icons-container">
            <svg class="action-icon-edit action-icon tooltip" title="Edit Content Item details">
                <use xlink:href="#action-icon-edit"></use>
            </svg>
            <svg class="action-icon-cancel action-icon tooltip" title="Cancel edit">
                <use xlink:href="#action-icon-cancel"></use>
            </svg>
        </div>
    </div>
    <div class="admin-panel-content-container">
        <form class="admin-panel-content">
            <div class="form-section-container">
                <div class="form-section">
                    <h4 class="form-section-title">Content Item Information</h4>
                    <div class="form-input-container">
                        <div class="form-input form-input-hidden">
                            <div class="form-input-hidden-contents">
                                @Html.AntiForgeryToken()
                            </div>
                        </div>
                        <div class="form-input form-input-hidden" style="display: none;">
                            <input asp-for="Id" />
                        </div>
                        <div class="form-input form-input-hidden" style="display: none;">
                            <input asp-for="ClientId" />
                        </div>
                        <div class="form-input form-input-text flex-item-12-12">
                            <label asp-for="ContentName"></label>
                            <div>
                                <input asp-for="ContentName" />
                                <span asp-validation-for="ContentName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input form-input-dropdown content-item-flex-1">
                            <label asp-for="ContentTypeId"></label>
                            <div>
                                <select asp-for="ContentTypeId">
                                    <option value="">Make a Selection</option>
                                </select>
                                <span asp-validation-for="ContentTypeId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input form-input-toggle form-input-flex content-item-flex-none">
                            <div class="switch-container">
                                <div class="toggle-switch">
                                    <input type="checkbox" class="toggle-switch-checkbox" name="DoesReduce" id="DoesReduce">
                                    <label class="toggle-switch-label" for="DoesReduce">
                                        <span class="toggle-switch-inner"></span>
                                        <span class="toggle-switch-switch"></span>
                                    </label>
                                </div>
                                <label class="switch-label" for="DoesReduce">Reducible</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <h4 class="form-section-title">Files</h4>
                    <div class="form-input-container">
                        <div class="form-input-container flex-item-4-12">
                            <div class="form-input form-input-file-upload">
                                <label for="ThumbnailImage" class="input-with-upload image">
                                    Thumbnail Image
                                    <span>
                                        <div class="image-placeholder"></div>
                                    </span>
                                    <input type="text" id="thumbnailImageHash" style="display: none;" />
                                    <input type="text" id="thumbnailImageUID" style="display: none;" />
                                    <svg class="upload-icon tooltip" title="Upload thumbnail image">
                                        <use xlink:href="#action-icon-file-upload"></use>
                                    </svg>
                                </label>
                            </div>
                        </div>
                        <div class="form-input-container flex-item-8-12">
                            <div class="form-input form-input-file-upload">
                                <label for="ContentFile" class="input-with-upload">
                                    File
                                    <span>
                                        <input type="text" id="ContentFile" />
                                    </span>
                                    <input type="text" id="ContentFileHash" style="display: none;" />
                                    <input type="text" id="ContentFileUID" style="display: none;" />
                                    <svg class="upload-icon tooltip" title="Upload thumbnail image">
                                        <use xlink:href="#action-icon-file-upload"></use>
                                    </svg>
                                </label>
                            </div>
                            <div class="form-input form-input-file-upload">
                                <label for="UserguideFile" class="input-with-upload">
                                    Userguide
                                    <span>
                                        <input type="text" id="UserguideFile" />
                                    </span>
                                    <input type="text" id="UserguideFileHash" style="display: none;" />
                                    <input type="text" id="UserguideFileUID" style="display: none;" />
                                    <svg class="upload-icon tooltip" title="Upload thumbnail image">
                                        <use xlink:href="#action-icon-file-upload"></use>
                                    </svg>
                                </label>
                            </div>
                            <div class="form-input form-input-file-upload">
                                <label for="ReleaseNotesFile" class="input-with-upload">
                                    Release Notes
                                    <span>
                                        <input type="text" id="ReleaseNotesFile" />
                                    </span>
                                    <input type="text" id="ReleaseNotesFileHash" style="display: none;" />
                                    <input type="text" id="ReleaseNotesFileUID" style="display: none;" />
                                    <svg class="upload-icon tooltip" title="Upload thumbnail image">
                                        <use xlink:href="#action-icon-file-upload"></use>
                                    </svg>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <h4 class="form-section-title">Content Description</h4>
                    <div class="form-input-container">
                        <div class="form-input form-input-text-area flex-item-12-12">
                            <label class="form-input-text-area-title" for="Description">Description</label>
                            <div class="form-input-text-area-contents">
                                <textarea id="Description" for="Description" required></textarea>
                            </div>
                        </div>
                        <div class="form-input form-input-text-area flex-item-12-12">
                            <label class="form-input-text-area-title" for="Notes">Notes</label>
                            <div class="form-input-text-area-contents">
                                <textarea id="Notes" for="Notes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-submission">
                    <div class="button-container button-container-new">
                        <button type="button" class="button-reset link-button">Reset Form</button>
                        <button type="button" class="button-submit green-button">Create Content Item</button>
                    </div>
                    <div class="button-container button-container-edit" style="display: none;">
                        <button type="button" class="button-reset link-button">Discard Changes</button>
                        <button type="button" class="button-submit blue-button">Save Changes</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
