@import "../../map_modules/variables";
@import "../../map_modules/mixins";

body {
    overflow: hidden;
}

#login-splash-panel {
    position: absolute;
    height: 100vh;
    width: 75vw;
    left: -15vw;
    z-index: 10;
    transform: skew(-10deg, 0deg);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, .3) .2em .2em .75em;


    &:before {
        content: "";
        transform: skewX(10deg);
        background: linear-gradient(rgba($charcoal, 0) 75%, rgba($charcoal, .75)), url('/images/login-hero.jpg');
        background-position: right center;
        background-size: cover;
        position: absolute;
        transform-origin: top left;
        height: 100vh;
        width: 100%;
    }
}

@include for-laptop-down {
    #login-splash-panel {
        position: relative;
        display: block;
        height: 25vh;
        width: 100vw;
        left: 0;
        transform: none;

        &:before {
            transform: none;
            background-position: center -10vh;
            background-size: contain;
        }
    }
}

#login-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 40vw;
    padding: 1em 5vw;

    @include for-laptop-down {
        left: 0;
        top: 25vh;
        height: 75vh;
        width: 100vw;
        padding: 1em;
    }

    #login-container {
        display: flex;
        flex-flow: column nowrap;
        flex: 1 0 auto;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: 0 auto;
        padding: 1em;
        width: 100%;
        max-width: 30em;

        @include for-tablet-down {
            justify-content: flex-start;
        }

        #login-form-container {
            display: inline-block;
            text-align: center;
            width: 100%;
            margin: 0 auto;

            #login-logo-container {
                margin-bottom: 2em;
                padding: .5em;
                width: 100%;

                #login-logo {
                    width: 100%;
                    height: 2.5rem;

                    svg {
                        width: 100%;
                    }
                }
            }

            #login-form {

                .login-form-input-container {
                    text-align: left;
                    margin-bottom: .5em;

                    input {
                        margin-bottom: 1em;
                    }
                }

                .login-form-button-container {
                    padding-top: .25em;
                    text-align: right;
                }
            }
        }
    }
}

.login-warning {
    display: block;
    font-style: italic;
    color: $red;
    padding: .25rem;
    margin: .25rem;
}

footer a {
    color: $white !important;

    @include for-laptop-down {
        color: $blue !important;
    }

    &:hover {
        text-decoration: underline;
    }
}

footer #copyright {
    color: $charcoal !important;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 20;
}

#username[readonly] {
    cursor: pointer !important;
}
