#login-logo-container {
  padding: .5em;
  width: 100%;
  max-width: 28.125em;

  #login-logo {
    width: 100%;
    height: 2.5rem;

    svg {
      width: 100%;
    }
  }
}

.form-contents {
    padding: 0.25em;
}

.button-container {
    text-align: center !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 20;
}
