<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="QMS" value="http://localhost:4799/QMS/Service"/>
    <add key="QMSUser" value=""/>
    <add key="QMSPassword" value=""/>
  </appSettings>
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="BasicHttpBinding_IQDS">
                          <security mode="TransportCredentialOnly">
                                <transport clientCredentialType="Ntlm" />
                          </security>
                    </binding>
                    <binding name="BasicHttpBinding_IQTService">
                          <security mode="TransportCredentialOnly">
                                <transport clientCredentialType="Ntlm" />
                          </security>
                    </binding>
                    <binding name="BasicHttpBinding_IQTService1">
                          <security mode="TransportCredentialOnly">
                                <transport clientCredentialType="Ntlm" />
                          </security>
                    </binding>
                    <binding name="BasicHttpBinding_IQTService2">
                          <security mode="TransportCredentialOnly">
                                <transport clientCredentialType="Ntlm" />
                          </security>
                    </binding>
              </basicHttpBinding>
        </bindings>
        <client>
              <endpoint address="http://indy-qvtest01:4720/QDS/Service" binding="basicHttpBinding"
                    bindingConfiguration="BasicHttpBinding_IQDS" contract="QMSAPI.IQDS"
                    name="BasicHttpBinding_IQDS" />
              <endpoint address="http://indy-qvtest01:4720/ANY/Service" binding="basicHttpBinding"
                    bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSAPI.IQTService1"
                    name="BasicHttpBinding_IQTService" />
              <endpoint address="http://indy-qvtest01:4720/ANY/Service" binding="basicHttpBinding"
                    bindingConfiguration="BasicHttpBinding_IQTService1" contract="QMSAPI.IQTService"
                    name="BasicHttpBinding_IQTService1" />
              <endpoint address="http://indy-qvtest01:4720/ANY/Service" binding="basicHttpBinding"
                    bindingConfiguration="BasicHttpBinding_IQTService2" contract="QMSAPI.IQTService2"
                    name="BasicHttpBinding_IQTService2" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
