/* Colors (Background, Hover, Font, Border) */
@each $label, $color, $background, $hover, $font, $border in (blue,        $blue,       Y, Y, Y, Y),
                                                             (green,       $green,      Y, Y, Y, Y),
                                                             (red,         $red,        Y, Y, Y, Y),
                                                             (orange,      $orange,     Y, N, N, Y),
                                                             (white,       $white,      Y, N, Y, N),
                                                             (light-grey,  $light-grey, Y, N, Y, Y),
                                                             (grey,        $grey,       Y, N, Y, Y),
                                                             (dark-grey,   $dark-grey,  Y, N, Y, Y),
                                                             (charcoal,    $charcoal,   Y, N, Y, Y),
                                                             (black,       $black,      Y, N, Y, Y),
                                                             (transparent, transparent, Y, N, N, Y){

    // Background Colors
    @if $background == Y {
        .bg-color-#{$label} { background-color: $color; }
    }

    // Background Hover Colors
    @if $hover == Y {
        .bg-color-#{$label}-hover { transition: all .5s; }
        .bg-color-#{$label}-hover:hover { background-color: darken( $color, 10% ); }
    }

    // Font Colors
    @if $font == Y {
        .font-color-#{$label} { color: $color; }
    }

    @if $border == Y {
        .border-color-#{$label} { border: .1rem solid $color; }
    }

}

/* Opacity */
@each $label, $opacity in (25pct,  .25),
                          (50pct,  .5 ),
                          (75pct,  .75),
                          (100pct,  1 ) {

     .#{$label}-opacity { opacity: $opacity; }

}

/* Box Shadow */
.box-shadow { box-shadow: rgba( $black, .3 ) .25em .25em .5em }
