/*
     On/Off Switch
*/
.switch-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 10px;
}

.toggle-switch {
    display: inline-block;
    position: relative;
    width: 65px;
    margin-left: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    flex: 0 1 65px;
}

.toggle-switch-checkbox {
    display: none;
}

.toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #555555;
    border-radius: 50px;
    margin: 0;
}

.toggle-switch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.toggle-switch-inner:before, .toggle-switch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.toggle-switch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #0091FF;
    color: #FFFFFF;
}

.toggle-switch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #DEDEE3;
    color: #555555;
    text-align: right;
}

.toggle-switch-switch {
    display: block;
    width: 20px;
    margin: 3px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 39px;
    border: 2px solid #555555;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
    margin-left: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
    right: 0px;
}

.switch-label {
    margin-left: 10px;
    flex: 2;
    cursor: pointer;
}

/*****
Nav Sidebar Styling
*****/
#sidebar-nav {
    position: fixed;
    top: 0;
    left: -14rem;
    width: 18.5rem;
    height: 100vh;
    transition: all 0.5s;
    background-color: $charcoal;
    color: $white;
    padding: 0;
    z-index: 9;

    &:hover {
        left: 0;
        transition: all 0.5s;
    }

    ul {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 100%;
    }


    .nav-item {
        width: 100%;
        height: 3.75rem;
        padding: 0;
        margin: .5rem 0;

        &.selected {
            background-color: $blue;

            a:hover {
                color: $charcoal;
            }
        }

        #logoutForm {
            padding: 0;
        }

        .nav-button {
            color: $white;
            padding: 0;
            text-align: left;

            &:hover {
                color: $blue;
            }

            button {
                background-color: inherit;
                border: none;
                margin: 0;
                width: 100%;
            }
        }
    }

    .nav-label {
        display: inline-block;
        width: 12.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        margin: auto 0 auto 1rem;
    }

    .nav-icon {
        display: inline-block;
        float: right;
        width: 4.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        padding: 0;
        margin: auto;
    }
}
