/*
     On/Off Switch
*/
.switch-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 10px;
}

.toggle-switch {
    display: inline-block;
    position: relative;
    width: 65px;
    margin-left: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    flex: 0 1 65px;
}

.toggle-switch-checkbox {
    display: none;
}

.toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #555555;
    border-radius: 50px;
    margin: 0;
}

.toggle-switch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.toggle-switch-inner:before, .toggle-switch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 14px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.toggle-switch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #0091FF;
    color: #FFFFFF;
}

.toggle-switch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #DEDEE3;
    color: #555555;
    text-align: right;
}

.toggle-switch-switch {
    display: block;
    width: 20px;
    margin: 3px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 39px;
    border: 2px solid #555555;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-inner {
    margin-left: 0;
}

.toggle-switch-checkbox:checked + .toggle-switch-label .toggle-switch-switch {
    right: 0px;
}

.switch-label {
    margin-left: 10px;
    flex: 2;
    cursor: pointer;
}

/*****
Nav Sidebar Styling
*****/
#sidebar-nav {
    position: fixed;
    top: 0;
    left: -14rem;
    width: 18.5rem;
    height: 100vh;
    transition: all 0.5s;
    background-color: $charcoal;
    color: $white;
    padding: 0;
    z-index: 9;

    &:hover {
        left: 0;
        transition: all 0.5s;
    }

    ul {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 100%;
    }


    .nav-item {
        width: 100%;
        height: 3.75rem;
        padding: 0;
        margin: .5rem 0;

        &.selected {
            background-color: $blue;

            a:hover {
                color: $charcoal;
            }
        }

        #logoutForm {
            padding: 0;
        }

        .nav-button {
            color: $white;
            padding: 0;
            text-align: left;

            &:hover {
                color: $blue;
            }

            button {
                background-color: inherit;
                border: none;
                margin: 0;
                width: 100%;
            }
        }
    }

    .nav-label {
        display: inline-block;
        width: 12.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        margin: auto 0 auto 1rem;
    }

    .nav-icon {
        display: inline-block;
        float: right;
        width: 4.5rem;
        height: 3.5rem;
        line-height: 3.5rem;
        padding: 0;
        margin: auto;
    }
}


/*
Cards
*/
.card-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: stretch;
    position: relative;
    padding:0;
    background-color: $white;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
        box-shadow: rgba(0, 0, 0, .3) 3px 3px 10px;
    }

    &.disabled {
        color: $dark-grey !important;
        background-color: $grey !important;

        &.selected {
            border: 5px solid $blue;
        }
    }

    &.selected {
        color: $white;
        background-color: $blue;
    }

    &.editing {
    }

    .card-body-main-container {
        position: relative;
        padding: 0 0 .5em;
        margin: 0;
        width: 100%;
        flex: 1;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        display: flex;

        .card-body-primary-container {
            display: inline-block;
            flex: 1;
            flex-basis: auto;
            padding-left: 15px;
            margin: auto;

            .card-body-primary-text {
                margin: 5px 0;
            }

            .card-body-secondary-text {
                display: inline-block;
                margin: 0;
                height: 100%;
                width: 75%;
            }
        }

        .card-body-secondary-container {
            position: relative;
            text-align: center;
            flex: 0 1 auto;
            margin: auto;

            .card-user-icon {
                vertical-align: middle;
                margin: auto;
            }

            .card-user-role-indicator {
                position: absolute;
                top: 5%;
                left: 60%;
                color: $green;
            }
        }
    }

    .card-stats-container {

        .card-stat-container {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin: 0;
            padding: 0;
            height: 50%;
            min-width: 6.5em;
            background-color: $charcoal;
            color: $white;

            .card-stat-icon {
                margin-left: .1em
            }

            .card-stat-value {
                flex: 1;
                margin-left: .5em
            }
        }
    }

    .card-button-side-container {
        position: absolute;
        display: inline;
        right: 0;
        top: 50%;
        text-align: right;
        transform: translate(50%, -50%);
    }

    .card-button-bottom-container {
        position: absolute;
        display: inline;
        right: 25px;
        bottom: 0;
        transform: translate(0, 50%);

        .card-expansion-button {
            background-color: $green;

            &:hover {
                background-color: darken($green, 5%);
            }
        }
    }

    .card-button-background {
        border-radius: 50%;
        display: block;
        text-align: center;
        vertical-align: middle;
        padding: 2px;
        margin-top: .5em;
        margin-bottom: .5em;
        transform-origin: center center;
        color: #fff;
        transition: .2s all linear;

        &.card-button-delete,
        &.card-button-remove-user,
        &.card-button-close {
            background-color: $red;

            &:hover {
                background-color: darken($red, 5%);
            }
        }

        &.card-button-edit,
        &.card-button-options,
        &.card-button-expansion {
            background-color: $blue;

            &:hover {
                background-color: darken($blue, 5%);
            }
        }

        &.card-button-new-child {
            background-color: $green;

            &:hover {
                background-color: darken($green, 5%);
            }
        }

        &:hover {
            transform: scale(1.25);
            transform-origin: center center;
        }

        .card-button-icon {
            color: white;
            vertical-align: middle;
        }
    }


    .card-expansion-container {
        overflow: hidden;
        padding: 5px 10px;
        border-top: 1px solid $light-grey;
        margin: 5px 5px 0;

        &.minimized {
            max-height: 0;
            border: none;
            padding: 0 10px;
            transition: .25s all linear;
        }

        &.maximized {
            max-height: 200px;
            transition: .25s all linear;

            & + div.card-button-bottom-container > .card-button-expansion {
                -webkit-transform: rotateX(180deg);
                -moz-transform: rotateX(180deg);
                -o-transform: rotateX(180deg);
                -ms-transform: rotateX(180deg);
                transform: rotateX(180deg);
                transition: .2s all linear;
            }
        }

        .card-expansion-category-label {
            font-weight: bold;
        }

        .card-expansion-option-label {
        }
    }
}
