body {
    background-color: $light-grey;
    color: $charcoal;
}

a,
.link-button {
    color: $blue;
    background-color: transparent;

    &:hover {
        color: darken( $blue, 10% );
        text-decoration: underline;
    }

    &:visited {
         color: darken( $blue, 50% );
    }
}

button,
.button {
    border: none;
    border-radius: .25em;
    padding: 1em 2em;
    margin-left: 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

input,
textarea,
select {
    display: block;
    font-size: 1rem;
    height: 2.25em;
    width: 100%;
    padding: .25em .5em;
    border: solid 1px transparent;
    border-radius: .25em;
    margin: 0 .25em .5em;
    transition: border 0.2s;

    &:focus {
        border: solid 1px $blue;
    }

    &[disabled] {
        font-weight: bold;
        border: solid 1px $grey;
        background-color: $light-grey;
        box-shadow: none;
        cursor: default;
        -moz-appearance: none;
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill,
input:-webkit-autofill {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out,
    background-color 9999s ease-out;
}
