/* Form Elements */

a,
.link-button {
    color: $blue;
    background-color: transparent;

    &:hover {
        color: darken( $blue, 10% );
        text-decoration: underline;
    }

    &:visited {
        color: darken( $blue, 50% );
    }
}

.link-button {
    text-transform: uppercase;
}

button,
.button {
    border: none;
    border-radius: .25em !important;
    padding: 1em 2em !important;
    margin-left: 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold !important;
    cursor: pointer;

    &:focus {
        animation: none !important;
    }

    &.blue-button {
        background-color: $blue;
        color: $white;

        &:hover {
            background-color: darken($blue, 5%);
        }
    }
}

.section-label {
    padding-top: .5em;
    text-transform: uppercase
}

label {
    padding-top: .25rem;
    font-weight: 700;
}

input,
textarea,
select {
    display: block;
    font-size: 1rem;
    height: 2.25em;
    width: 100%;
    padding: .25em .5em;
    border: solid 1px transparent;
    border-radius: .25em;
    margin: 0 .25em .5em;
    transition: border 0.2s;

    &:focus {
        border: solid 1px $blue;
    }

    &[disabled] {
        border: solid 1px $grey;
        color: $charcoal;
        background-color: $light-grey;
        box-shadow: none;
        cursor: default;
        -moz-appearance: none;
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill,
input:-webkit-autofill {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}
