/* Flex Container */
.flex-container {
     display: flex;
     display: -ms-flexbox;
     margin: 0 -1rem;
}

.flex-column-no-wrap  { flex-flow: column nowrap; }
.flex-column-wrap     { flex-flow: column wrap;   }
.flex-row-no-wrap     { flex-flow: row nowrap;    }
.flex-row-wrap        { flex-flow: row wrap;      }

.content-at-start     { justify-content: flex-start; }
.content-center       { justify-content: center;     }
.content-at-end       { justify-content: flex-end;   }

.items-align-start  { align-items: flex-start; }
.items-align-center { align-items: center;     }
.items-align-end    { align-items: flex-end;   }
.items-stretch      { align-items: stretch;    }

.content-align-start  { align-content: flex-start; }
.content-align-center { align-content: center;     }
.content-align-end    { align-content: flex-end;   }
.content-stretch      { align-content: stretch;    }

.no-gutter {
     margin-right: 0;
     margin-left:  0;
}

.no-gutter > [class*="flex-item"] {
     padding-right: 0;
     padding-left:  0;
}

/* Flex Items */
@include generate-flex-items()
@include for-phone-only {
     @include generate-flex-items(-for-phone-only)
}
@include for-tablet-up {
     @include generate-flex-items(-for-tablet-up)
}
@include for-laptop-up {
     @include generate-flex-items(-for-laptop-up)
}
@include for-desktop-up {
     @include generate-flex-items(-for-desktop-up)
}
@include for-big-desktop-up {
     @include generate-flex-items(-for-big-desktop-up)
}

.content-item-equal-row { flex: 1;    }
.content-item-expand    { flex: auto; }
