/* Content Alignment */
.left-align-content  { text-align: left;    }
.center-content      { text-align: center;  }
.right-align-content { text-align: right;   }
.justify-content     { text-align: justify; }

@include for-phone-only {
    .left-align-content-for-phone-only    { text-align: left;    }
    .center-content-for-phone-only        { text-align: center;  }
    .right-align-content-for-phone-only   { text-align: right;   }
    .justify-content-for-phone-only       { text-align: justify; }
}
@include for-tablet-up {
    .left-align-content-for-tablet-up   { text-align: left;    }
    .center-content-for-tablet-up       { text-align: center;  }
    .right-align-content-for-tablet-up  { text-align: right;   }
    .justify-content-for-tablet-up      { text-align: justify; }
}
@include for-laptop-up {
    .left-align-content-for-laptop-up   { text-align: left;    }
    .center-content-for-laptop-up       { text-align: center;  }
    .right-align-content-for-laptop-up  { text-align: right;   }
    .justify-content-for-laptop-up      { text-align: justify; }
}
@include for-desktop-up {
    .left-align-content-for-desktop-up  { text-align: left;    }
    .center-content-for-desktop-up      { text-align: center;  }
    .right-align-content-for-desktop-up { text-align: right;   }
    .justify-content-for-desktop-up     { text-align: justify; }
}

/* Display */
//   Note: Display Flex included with the grid classes
.display-none         { display: none;         }
.display-block        { display: block;        }
.display-inline       { display: inline;       }
.display-inline-block { display: inline-block; }

@include for-phone-only {
     .display-none-for-phone-only           { display: none;         }
     .display-block-for-phone-only          { display: block;        }
     .display-inline-for-phone-only         { display: inline;       }
     .display-inline-block-for-phone-only   { display: inline-block; }
}
@include for-tablet-up {
     .display-none-for-tablet-up          { display: none;         }
     .display-block-for-tablet-up         { display: block;        }
     .display-inline-for-tablet-up        { display: inline;       }
     .display-inline-block-for-tablet-up  { display: inline-block; }
}
@include for-laptop-up {
     .display-none-for-laptop-up          { display: none;         }
     .display-block-for-laptop-up         { display: block;        }
     .display-inline-for-laptop-up        { display: inline;       }
     .display-inline-block-for-laptop-up  { display: inline-block; }
}
@include for-desktop-up {
     .display-none-for-desktop-up         { display: none;         }
     .display-block-for-desktop-up        { display: block;        }
     .display-inline-for-desktop-up       { display: inline;       }
     .display-inline-block-for-desktop-up { display: inline-block; }
}

/* Position */
.position-relative  { position: relative; }
.position-absolute  { position: absolute; }
.position-fixed     { position: fixed;    }

/* Padding/Margin */
//   Note: We will not be using margin-top to improve consistency
@each $label, $size in (0,         0     ),
                       (pt1em,     .1em  ),
                       (pt25em,    .25em ),
                       (pt5em,     .5em  ),
                       (pt75em,    .75em ),
                       (1em,       1em   ),
                       (1pt5em,    1.5em ),
                       (2em,       2em   ),
                       (2pt5em,    2.5em ),
                       (4pt5rem,   4.5rem),
                       (5pt5rem,   5.5rem),
                       (auto,      auto  ){

     .margin-#{$label}         { margin:         0 $size $size; }
     .margin-left-#{$label}    { margin-left:    $size;         }
     .margin-bottom-#{$label}  { margin-bottom:  $size;         }
     .margin-right-#{$label}   { margin-right:   $size;         }
     .padding-#{$label}        { padding:        $size;         }
     .padding-top-#{$label}    { padding-top:    $size;         }
     .padding-right-#{$label}  { padding-right:  $size;         }
     .padding-bottom-#{$label} { padding-bottom: $size;         }
     .padding-left-#{$label}   { padding-left:   $size;         }
}

/* Height/Width */
@each $label, $size in (18rem,     18rem ),
                       (pt1em,     .1em  ),
                       (1em,       1em   ),
                       (25em,      25em  ),
                       (25pct,     25%   ),
                       (50pct,     50%   ),
                       (65pct,     65%   ),
                       (75pct,     75%   ),
                       (100pct,    100%  ),
                       (100vh,     100vh ),
                       (100vw,     100vw ),
                       (auto,      auto  ){

     .height-#{$label} { height: $size; }
     .width-#{$label}  { width:  $size; }
}

/* Max/Min Height/Width */
//   Note: These won't get used much, so they will just be added as needed
.max-height-0      { max-height: 0;     }
.max-height-7em    { max-height: 7em;   }
.max-height-2pt5em { max-height: 2.5em; }
.max-height-100vh  { max-height: 100vh; }
.max-width-25em    { max-width:  25em;  }
.max-width-100vw   { max-width:  100vw; }
.max-width-90pct   { max-width:  90%;   }
.min-height-100vh  { min-height: 100vh; }
.min-height-2rem   { min-height: 2rem;  }

/* Top/Left/Bottom/Right */
@each $label, $size in (neg14rem, -14rem)
                       (0,        0     ),
                       (25pct,    25%   ),
                       (50pct,    50%   ),
                       (75pct,    75%   ),
                       (100pct,   100%  ) {

     .from-top-#{$label}    { top:    $size; }
     .from-right-#{$label}  { right:  $size; }
     .from-bottom-#{$label} { bottom: $size; }
     .from-left-#{$label}   { left:   $size; }

}

/* Z-Index */
@for $level from 0 through 10 {
     .z-index-#{$level} { z-index: $level; }
}

/* Overflow */
.overflow-hidden   { overflow: hidden;                       }
.overflow-y-scroll { overflow-y: auto; overflow-x: hidden; }