div.selectize-input {
    color: #555;
    min-height: 40px;
    border-radius: 5px;
    transition: border 0.2s;
    padding: 2px 5px;

    &.disabled {
        font-weight: bold;
        border: none;
        background-color: transparent;
        box-shadow: none;
        cursor: default;
        opacity: 1;
        -moz-appearance: none;
        -webkit-appearance: none;

        div.item {
            background: $grey;
            color: $dark-grey;
            border: none;
            font-size: 14px;
            z-index: 99;
            opacity: 1;

            a.remove {
                display: none;
            }
        }
    }

    input {
        height: $input-height;
    }
}
