div.selectize-input {
    color: $charcoal;
    border-radius: .25em;
    min-height: 2.6em;
    transition: border 0.2s;
    padding: .25em !important;
    font-size: 1rem;
    box-shadow: none;
    -webkit-box-shadow: none;

    &:focus {
        border: solid 1px $blue;
    }

    &.disabled {
        border: solid 1px $grey;
        background-color: $light-grey !important;
        box-shadow: none;
        cursor: default;
        -moz-appearance: none;
        -webkit-appearance: none;
        opacity: 1 !important;

        div.item {
            background: $grey;
            color: $charcoal !important;
            border: none;
            font-size: 1em;
            z-index: 10;
            opacity: 1;
            padding-right: 1em !important;

            a.remove {
                display: none;
            }
        }
    }

    div.item {
        margin: .25em !important;
    }
}
