.toast-info {
    background-color: $blue;
    color: $charcoal;
}
.toast-error {
    background-color: $orange;
    color: $charcoal;
}
.toast-success {
    background-color: $green;
    color: $charcoal;
}
.toast-warning {
    background-color: $red;
    color: $charcoal;
}
