.toast {
  background-color: #030303;
}
.toast-info {
  background-color: $blue;
}
.toast-error {
  background-color: #bd362f;
}
.toast-success {
  background-color: $green;
}
.toast-warning {
  background-color: $red;
}
