/*
    Base Site Color Palette
*/

$blue:          #0095FF;
$green:         #42CC42;
$red:           #FF2E00;
$orange:        #F89F06;
$white:         #FFFFFF;
$light-grey:    #DFE8E8;
$grey:          #AAAAAA;
$dark-grey:     #555555;
$charcoal:      #2B2B2B;
$black:         #000000;

/*
     Element Sizes
*/
$input-height: 2rem;
