/* Font Style */
.font-bold      { font-weight: bold; }
.font-italic    { font-style: italic; }
.font-underline { text-decoration: underline; }

/* Font Sizes */
@each $label, $size in (pt5em,   .5em  ),
                       (pt75em,  .75em ),
                       (1pt25em, 1.25em),
                       (1pt5em,  1.5em ),
                       (2em,     2em   ) {

     .font-size-#{$label} { font-size: $size; }

}

/* List Styling */
.list-style-none      { list-style: none; }
.list-style-type-none { list-style-type: none; }
