@model MillimanAccessPortal.Models.AuthorizedContentViewModels.ContentDisclaimer

@{
    ViewData["Title"] = "Content Disclaimer";
    Layout = "_Layout";
    ViewData["NavIcon"] = "Content Disclaimer";
}

<div>@Model.ContentName</div>
<div>@Model.DisclaimerText</div>
<form action="/AuthorizedContent/AcceptDisclaimer">
    <input asp-for="SelectionGroupId" style="visibility: hidden;">
    <input id="accept-button" type="submit" value="Click Me" />,
</form>
