@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*
@model SomeType
*@ 

@{
	Layout = null;
}

<html>
    <head>
        <style>
            body {
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
            iframe {
                border: 0;
            }
        </style>
    </head>
    <body>
        <div id="userMessage">
            <hr />
            <p>This containerized content is launching.  Please wait.</p>
            <hr />
        </div>
    </body>
</html>
