<script type="text/template" data-template="node">
    <li>
        <div class="card-container">
            <div class="card-body-main-container">
                <div class="card-body-primary-container">
                    <h2 class="card-body-primary-text"></h2>
                    <p class="card-body-secondary-text"></p>
                    <p class="card-body-secondary-text"></p>
                </div>
                <div class="card-stats-container">
                    <div class="card-stat-container tooltip" title="Assigned users">
                        <svg class="card-stat-icon">
                            <use xlink:href="#action-icon-users"></use>
                        </svg>
                    <h4 class="card-stat-value card-stat-user-count"></h4>
                    </div>
                    <div class="card-stat-container tooltip" title="Reports">
                        <svg class="card-stat-icon">
                            <use xlink:href="#action-icon-reports"></use>
                        </svg>
                        <h4 class="card-stat-value card-stat-content-count"></h4>
                    </div>
                </div>
            </div>
        </div>
    </li>
</script>
