<script type="text/template" data-template="clientNode">
    <li>
        <div class="{{class}} card-container" data-search-string data-client-id="{{id}}">
            <div class="card-body-main-container">
                <div class="card-body-primary-container">
                    <h{{header-level}} class="card-body-primary-text">{{name}}</h{{header-level}}>
                    <p class="card-body-secondary-text">{{clientCode}}</p>
                </div>
            </div>
            <div class="card-stats-container">            
                <div class="card-stat-container">
                    <i class="fa fa-fw fa-users fa-2x card-stat-icon"></i><h4 class="card-stat-value">{{users}}</h4>
                </div>
                <div class="card-stat-container">
                    <i class="fa fa-fw fa-file fa-2x card-stat-icon"></i><h4 class="card-stat-value">{{content}}</h4>
                </div>
            </div>
            <div class="card-button-side-container">
                <div class="card-button-background card-button-delete">
                    <i class="fa fa-fw fa-trash" onclick="deleteClient(event, '{{id}}', '{{name}}')"></i>
                </div>
                <div class="card-button-background card-button-edit">
                    <i class="fa fa-fw fa-pencil"></i>
                </div>
               <div class="card-button-background card-button-new-child">
                    <i class="fa fa-fw fa-plus"></i>
                </div>
            </div>
        </div>
    </li>
</script>

<script type="text/template" data-template="childNodePlaceholder">
    <li class="client-insert">
        <div class="{{class}} client-admin-card selected">
            <div class="client-information">
                <h4 class="client-admin-card-title">New Child Client</h4>
            </div>
            <div class="placeholder-arrow">
                <i class="fa fa-fw fa-2x fa-chevron-circle-right"></i>
            </div>
        </div>
    </li>
</script>

<script type="text/template" data-template="createNewClientCard">
    <li>
        <div class="col-xs-12 client-admin-card action-card" onclick="newClientFormSetup()">
            <h2 class="center-text-card">
                <i class="fa fa-plus"></i>
                <span>Create New Client</span>
            </h2>
        </div>
    </li>
</script>