<script type="text/template" data-template="clientNode">
    <li>
        <div class="{{class}} client-admin-card" data-client-id="{{id}}">
            <h{{header-level}} class="client-admin-card-title">{{name}}</h{{header-level}}>
            <p>{{clientCode}}</p>
            <div class="icon-container">
                <div class="card-button-background card-button-background-edit">
                    <i class="fa fa-fw fa-pencil"></i>
                </div>
                <div class="card-button-background card-button-background-delete">
                    <i class="fa fa-fw fa-trash" onclick="deleteClient('{{id}}', '{{name}}')"></i>
                </div>
               <div class="card-button-background card-button-background-add">
                    <i class="fa fa-fw fa-plus"></i>
                </div>
            </div>
        </div>
    </li>
</script>

<script>

    var clientNodeTemplate = $('script[data-template="clientNode"]').html();
    var clientTree;

    function getClientTree() {
        $.ajax({
            'type': 'GET',
            'url': 'ClientAdmin/ClientFamilyList/'
        }).done(function (response) {
            clientTree = response;
            renderClientTree();
        }).fail(function (response) {
            if (response.status == 401) {
                toastr['error']('You are not authorized to view any clients');
            }
            else {
                toaster['error']('An error has occurred');
            }
        });
    }

    function renderClientTree() {
        $('#client-tree-list').empty();
        clientTree.forEach(function (rootClient) {
            renderClientNode(rootClient, 1);
            $('#client-tree-list').append('<li class="hr col-xs-12"></li>');
        });
    };

    function renderClientNode(client, level) {
        var template = clientNodeTemplate;

        switch (level) {
            case 1:
                template = template.replace(/{{class}}/g, "col-xs-12");
                break;
            case 2:
                template = template.replace(/{{class}}/g, "col-xs-offset-1 col-xs-11");
                break;
            default:
                template = template.replace(/{{class}}/g, "col-xs-offset-2 col-xs-10");
                break;
        }

        template = template.replace(/{{header-level}}/g, (level + 1))
        template = template.replace(/{{id}}/g, client.clientEntity.id);
        template = template.replace(/{{name}}/g, client.clientEntity.name);
        if (client.clientEntity.clientCode) {
            template = template.replace(/{{clientCode}}/g, client.clientEntity.clientCode);
        }
        else {
            template = template.replace(/{{clientCode}}/g, '');
        }


        // convert template to DOM element for jQuery manipulation
        var $template = $(template.toString());

        if (!client.canManage) {
            $('.icon-container', $template).remove();
            $('.client-admin-card', $template).addClass('disabled');
        }

        if (level == 3) {  // Don't include the add child client button on lowest level
            $('.card-button-background-add', $template).remove();
        }

        $('#client-tree-list').append($template);

        // Render child nodes
        if (client.children.length) {
            client.children.forEach(function (childNode) {
                renderClientNode(childNode, level + 1);
            })
        }

    };

    function deleteClient(id, name) {

        bootbox.confirm({
            title: "Delete " + name + "?",
            message: "This action can not be undone.  Do you wish to proceed?",
            className: 'screen-center',
            backdrop: true,
            onEscape: true,
            buttons: {
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm',
                    className: 'primary-button btn-danger'
                },
                cancel: {
                    label: 'Cancel',
                    className: 'btn-link'
                }
            },
            callback: function (result) {
                if (result) {
                    bootbox.prompt({
                        title: "Please provide your password to proceed with deletion",
                        className: 'screen-center',
                        inputType: 'password',
                        backdrop: true,
                        onEscape: true,
                        buttons: {
                            confirm: {
                                label: '<i class="fa fa-trash"></i> DELETE',
                                className: 'primary-button btn-danger'
                            },
                            cancel: {
                                label: 'Cancel',
                                className: 'btn-link'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                removeClientNode(id, name, result);
                            } 
                            else if (result == "") {
                                toastr['warning']("Please enter a password");
                                return false;
                            }
                            else {
                                toastr['warning']("Deletion was canceled");

                            }
                        }
                    })
                }
            }
        });

    };

    function removeClientNode(clientId, clientName, password) {
        $.ajax({
            type: 'DELETE',
            url: 'ClientAdmin/DeleteClient',
            data: {
                Id: clientId,
                Password: password
            },
            headers: {
                'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
            },
        }).done(function (response) {
            recursiveClientNodeSearch(clientTree, clientId);
            renderClientTree();
            toastr['success'](clientName + " was successfully deleted.");
        }).fail(function (response) {
            toastr["warning"](response.getResponseHeader("Warning"));
        })
    };

    function recursiveClientNodeSearch(array, clientId) {
        for (var i = 0; i < array.length; i++) {
            if (array[i].clientEntity.id == clientId) {
                array.splice(i, 1);
                return;
            }
            if (array[i].children.length > 0) {
                recursiveClientNodeSearch(array[i].children, clientId);
            }
        }
    }


</script>