<script type="text/template" data-template="childNodePlaceholder">
    <li class="client-insert">
        <div class="card-container flex-container flex-row-no-wrap items-align-center">
            <div class="card-body-main-container content-item-flex-1">
                <h2 class="card-body-primary-text">New Child Client</h2>
            </div>
            <i class="fa fa-fw fa-2x fa-chevron-right"></i>
        </div>
    </li>
</script>

<script type="text/template" data-template="createNewClientCard">
    <li>
        <div id="create-new-client-card" class="card-container card-100 action-card">
            <div class="card-body-main-container">
                <h2 class="card-body-primary-text">
                    <i class="fa fa-plus"></i>
                    <span>Create New Client</span>
                </h2>
            </div>
        </div>
    </li>
</script>
