<script type="text/template" data-template="clientNode">
    <li>
        <div class="{{class}} client-admin-card" data-client-id="{{id}}">
            <div class="client-information">
                <h{{header-level}} class="client-admin-card-title">{{name}}</h{{header-level}}>
                <p class="client-admin-card-clientcode">{{clientCode}}</p>
            </div>
            <div class="client-stats">
                <div class="client-stat-container">
                    <i class="fa fa-fw fa-users fa-2x pull-left"></i><h4>{{users}}</h4>
                </div>
                <div class="client-stat-container">
                    <i class="fa fa-fw fa-file fa-2x pull-left"></i><h4>{{content}}</h4>
                </div>
            </div>
            <div class="icon-container">
                <div class="card-button-background card-button-background-delete">
                    <i class="fa fa-fw fa-trash" onclick="deleteClient(event, '{{id}}', '{{name}}')"></i>
                </div>
                <div class="card-button-background card-button-background-edit">
                    <i class="fa fa-fw fa-pencil"></i>
                </div>
               <div class="card-button-background card-button-background-add">
                    <i class="fa fa-fw fa-plus"></i>
                </div>
            </div>
        </div>
    </li>
</script>