<script type="text/template" data-template="clientNode">
    <li>
        <div class="{{class}} client-admin-card" data-client-id="{{id}}">
            <h2 class="client-admin-card-title">{{name}}</h2>
            <p>{{info}}</p>
            <div class="icon-container">
                <i class="fa fa-fw fa-pencil"></i>
                <i class="fa fa-fw fa-trash" onclick="deleteClient('{{id}}', '{{name}}')"></i>
            </div>
        </div>
    </li>
</script>

<script>


    var clientTree = [
        {
            "clientEntity":
            {
                "id": 2,
                "name": "Client 2",
                "acceptedEmailDomainList": ["milliman.com", "hotmail.com"],
                "parentClientId": null,
                "parentClient": null
            },
            "canManage": true,
            "associatedUserCount": 0,
            "associatedContentCount": 1,
            "children": []
        },
        {
            "clientEntity":
            {
                "id": 6,
                "name": "xyz3",
                "acceptedEmailDomainList": [],
                "parentClientId": null,
                "parentClient": null
            },
            "canManage": true,
            "associatedUserCount": 0,
            "associatedContentCount": 0,
            "children": []
        },
        {
            "clientEntity":
            {
                "id": 1,
                "name": "Client 1",
                "acceptedEmailDomainList": ["milliman.com"],
                "parentClientId": null,
                "parentClient": null
            },
            "canManage": true,
            "associatedUserCount": 2,
            "associatedContentCount": 2,
            "children": [
                {
                    "clientEntity":
                    {
                        "id": 4,
                        "name": "xyz",
                        "acceptedEmailDomainList": ["hotmail.com"],
                        "parentClientId": 1,
                        "parentClient": null
                    },
                    "canManage": true,
                    "associatedUserCount": 0,
                    "associatedContentCount": 0,
                    "children": [
                        {
                            "clientEntity":
                            {
                                "id": 5,
                                "name": "xyz2",
                                "acceptedEmailDomainList": [],
                                "parentClientId": 4,
                                "parentClient":
                                {
                                    "id": 4,
                                    "name": "xyz",
                                    "acceptedEmailDomainList": ["hotmail.com"],
                                    "parentClientId": 1,
                                    "parentClient": null
                                }
                            },
                            "canManage": true,
                            "associatedUserCount": 0,
                            "associatedContentCount": 0,
                            "children": []
                        },
                        {
                            "clientEntity":
                            {
                                "id": 5,
                                "name": "xyz2",
                                "acceptedEmailDomainList": [],
                                "parentClientId": 4,
                                "parentClient":
                                {
                                    "id": 4,
                                    "name": "xyz",
                                    "acceptedEmailDomainList": ["hotmail.com"],
                                    "parentClientId": 1,
                                    "parentClient": null
                                }
                            },
                            "canManage": true,
                            "associatedUserCount": 0,
                            "associatedContentCount": 0,
                            "children": []
                        },
                        {
                            "clientEntity":
                            {
                                "id": 5,
                                "name": "xyz2",
                                "acceptedEmailDomainList": [],
                                "parentClientId": 4,
                                "parentClient":
                                {
                                    "id": 4,
                                    "name": "xyz",
                                    "acceptedEmailDomainList": ["hotmail.com"],
                                    "parentClientId": 1,
                                    "parentClient": null
                                }
                            },
                            "canManage": true,
                            "associatedUserCount": 0,
                            "associatedContentCount": 0,
                            "children": []
                        }]
                },
                {
                    "clientEntity":
                    {
                        "id": 4,
                        "name": "xyz",
                        "acceptedEmailDomainList": ["hotmail.com"],
                        "parentClientId": 1,
                        "parentClient": null
                    },
                    "canManage": true,
                    "associatedUserCount": 0,
                    "associatedContentCount": 0,
                    "children": [
                        {
                            "clientEntity":
                            {
                                "id": 5,
                                "name": "xyz2",
                                "acceptedEmailDomainList": [],
                                "parentClientId": 4,
                                "parentClient":
                                {
                                    "id": 4,
                                    "name": "xyz",
                                    "acceptedEmailDomainList": ["hotmail.com"],
                                    "parentClientId": 1,
                                    "parentClient": null
                                }
                            },
                            "canManage": true,
                            "associatedUserCount": 0,
                            "associatedContentCount": 0,
                            "children": []
                        },
                        {
                            "clientEntity":
                            {
                                "id": 5,
                                "name": "xyz2",
                                "acceptedEmailDomainList": [],
                                "parentClientId": 4,
                                "parentClient":
                                {
                                    "id": 4,
                                    "name": "xyz",
                                    "acceptedEmailDomainList": ["hotmail.com"],
                                    "parentClientId": 1,
                                    "parentClient": null
                                }
                            },
                            "canManage": true,
                            "associatedUserCount": 0,
                            "associatedContentCount": 0,
                            "children": []
                        },
                        {
                            "clientEntity":
                            {
                                "id": 5,
                                "name": "xyz2",
                                "acceptedEmailDomainList": [],
                                "parentClientId": 4,
                                "parentClient":
                                {
                                    "id": 4,
                                    "name": "xyz",
                                    "acceptedEmailDomainList": ["hotmail.com"],
                                    "parentClientId": 1,
                                    "parentClient": null
                                }
                            },
                            "canManage": true,
                            "associatedUserCount": 0,
                            "associatedContentCount": 0,
                            "children": []
                        }]
                }]
        }]


    var clientNodeTemplate = $('script[data-template="clientNode"]').html();
    var clientTree;

    function getClientTree() {
        $.ajax({
            'type': 'GET',
            'url': 'ClientAdmin/ClientFamilyList/'
        }).done(function (response) {
            clientTree = response;
            renderClientTree();
        }).fail(function (response) {
            if (response.status == 401) {
                toastr['error']('You are not authorized to view any clients');
            }
            else {
                toaster['error']('An error has occurred');
            }
        });
    }

    function renderClientTree() {
        $('#client-tree-list').empty();
        clientTree.forEach(function (rootClient) {
            renderClientNode(rootClient, 1);
            $('#client-tree-list').append('<li class="hr col-xs-12"></li>');
        });
    };

    function renderClientNode(client, level) {
        var template = clientNodeTemplate;

        switch (level) {
            case 1:
                template = template.replace(/{{class}}/g, "col-xs-12");
                break;
            case 2:
                template = template.replace(/{{class}}/g, "col-xs-offset-1 col-xs-11");
                break;
            default:
                template = template.replace(/{{class}}/g, "col-xs-offset-2 col-xs-10");
                break;
        }

        template = template.replace(/{{id}}/g, client.clientEntity.id);
        template = template.replace(/{{name}}/g, client.clientEntity.name);
        template = template.replace(/{{info}}/g, client.clientEntity.acceptedEmailDomainList);

        $('#client-tree-list').append(template);

        // Render child nodes
        if (client.children.length) {
            client.children.forEach(function (childNode) {
                renderClientNode(childNode, level + 1);
            })
        }

    };

    function deleteClient(id, name) {

        bootbox.confirm({
            title: "Delete " + name + "?",
            message: "This action can not be undone.  Do you wish to proceed?",
            className: 'screen-center',
            backdrop: true,
            onEscape: true,
            buttons: {
                confirm: {
                    label: '<i class="fa fa-check"></i> Confirm',
                    className: 'primary-button btn-danger'
                },
                cancel: {
                    label: 'Cancel',
                    className: 'btn-link'
                }
            },
            callback: function (result) {
                if (result) {
                    bootbox.prompt({
                        title: "Please provide your password to proceed with deletion",
                        className: 'screen-center',
                        inputType: 'password',
                        backdrop: true,
                        onEscape: true,
                        buttons: {
                            confirm: {
                                label: '<i class="fa fa-trash"></i> DELETE',
                                className: 'primary-button btn-danger'
                            },
                            cancel: {
                                label: 'Cancel',
                                className: 'btn-link'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                removeClientNode(id);
                                toastr['success'](name + " was successfully deleted.");
                            } 
                            else if (result == "") {
                                toastr['warning']("Please enter a password");
                                return false;
                            }
                            else {
                                toastr['warning']("Deletion was canceled");

                            }
                        }
                    })
                }
            }
        });

    };

    function removeClientNode(clientId) {
        recursiveClientNodeSearch(clientTree, clientId);
        renderClientTree();
    };

    function recursiveClientNodeSearch(array, clientId) {
        for (var i = 0; i < array.length; i++) {
            if (array[i].clientEntity.id == clientId) {
                array.splice(i, 1);
                return;
            }
            if (array[i].children.length > 0) {
                recursiveClientNodeSearch(array[i].children, clientId);
            }
        }
    }


</script>