<script type="text/template" data-template="node">
  <li>
    <div class="card-container">
      <div class="card-body-main-container">
        <div class="card-body-secondary-container">
          <i class="fa fa-fw fa-user fa-4x card-user-icon"></i>
          <i class="fa fa-fw fa-plus fa-2x card-user-role-indicator"></i>
        </div>
        <div class="card-body-primary-container">
          <h2 class="card-body-primary-text"></h2>
          <p class="card-body-secondary-text"></p>
          <p class="card-body-secondary-text"></p>
        </div>
        <div class="card-stats-container">
          <div class="card-stat-container">
            <i class="fa fa-fw fa-users fa-2x card-stat-icon"></i>
            <h4 class="card-stat-value card-stat-user-count"></h4>
          </div>
          <div class="card-stat-container">
            <i class="fa fa-fw fa-file fa-2x card-stat-icon"></i>
            <h4 class="card-stat-value card-stat-content-count"></h4>
          </div>
        </div>
        <div class="card-button-side-container">
          <div class="card-button-background card-button-delete">
            <i class="fa fa-fw fa-trash card-button-icon"></i>
          </div>
          <div class="card-button-background card-button-edit">
            <i class="fa fa-fw fa-pencil card-button-icon"></i>
          </div>
          <div class="card-button-background card-button-new-child">
            <i class="fa fa-fw fa-plus card-button-icon"></i>
          </div>
          <div class="card-button-background card-button-remove-user">
            <i class="fa fa-fw fa-times"></i>
          </div>
        </div>
      </div>
      <div class="card-expansion-container">
        <h4 class="card-expansion-category-label">Client Roles</h4>
        <div class="switch-container">
          <div class="toggle-switch">
            <input type="checkbox" class="toggle-switch-checkbox" data-role-enum="1">
            <label class="toggle-switch-label">
              <span class="toggle-switch-inner"></span>
              <span class="toggle-switch-switch"></span>
            </label>
          </div>
          <label class="switch-label">Client Administrator</label>
        </div>
        <div class="switch-container">
          <div class="toggle-switch">
            <input type="checkbox" class="toggle-switch-checkbox" data-role-enum="3">
            <label class="toggle-switch-label">
              <span class="toggle-switch-inner"></span>
              <span class="toggle-switch-switch"></span>
            </label>
          </div>
          <label class="switch-label">User Administrator</label>
        </div>
        <div class="switch-container">
          <div class="toggle-switch">
            <input type="checkbox" class="toggle-switch-checkbox" data-role-enum="4">
            <label class="toggle-switch-label">
              <span class="toggle-switch-inner"></span>
              <span class="toggle-switch-switch"></span>
            </label>
          </div>
          <label class="switch-label">Content Administrator</label>
        </div>
        <div class="switch-container">
          <div class="toggle-switch">
            <input type="checkbox" class="toggle-switch-checkbox" data-role-enum="5">
            <label class="toggle-switch-label">
              <span class="toggle-switch-inner"></span>
              <span class="toggle-switch-switch"></span>
            </label>
          </div>
          <label class="switch-label">Content Eligible</label>
        </div>
      </div>
      <div class="card-button-bottom-container">
        <div class="card-button-background card-button-expansion">
          <i class="fa fa-fw fa-chevron-down"></i>
        </div>
      </div>
    </div>
  </li>
</script>
