<script type="text/template" data-template="spinner">
    <div class="spinner-container">
        <div class="spinner-box">
            <div class="spinner"></div>
            <div class="spinner-text">Loading...</div>
        </div>
    </div>
</script>
