<script type="text/template" data-template="addUserCard">
    <li>
        <div id="add-user-card" class="card-container card-100 action-card">
            <div class="card-body-main-container">
                <h2 class="card-body-primary-text">
                    <i class="fa fa-plus"></i>
                    <span>Add User</span>
                </h2>
            </div>
        </div>
    </li>
</script>
