<script type="text/template" data-template="userNode">
    <li>
        <div class="card-container card-100" data-search-string data-client-id="{{clientId}}" data-user-id="{{id}}">
            <div class="card-body-main-container">
                <div class="card-body-secondary-container">
                    <i class="fa fa-fw fa-user fa-4x card-user-icon"></i>
                    <i class="fa fa-fw fa-plus fa-2x card-user-role-indicator"></i>
                </div>
                <div class="card-body-primary-container">
                    <h3 class="card-body-primary-text">{{name}}</h3>
                    <p class="card-body-secondary-text">{{username}}</p>
                    <p class="card-body-secondary-text">{{email}} (email)</p>
                </div>
                <div class="card-button-side-container">
                    <div class="card-button-background card-button-remove-user">
                        <i class="fa fa-fw fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="card-expansion-container">
                <h4 class="card-expansion-category-label">Client Roles</h4>
                <div class="switch-container">
                    <div class="toggle-switch">
                        <input type="checkbox" name="clientAdmin{{id}}" class="toggle-switch-checkbox" id="clientAdmin{{id}}">
                        <label class="toggle-switch-label" for="clientAdmin{{id}}">
                            <span class="toggle-switch-inner"></span>
                            <span class="toggle-switch-switch"></span>
                        </label>
                    </div>
                    <label for="clientAdmin{{id}}" class="switch-label">Client Administrator</label>
                </div>
                <div class="switch-container">
                    <div class="toggle-switch">
                        <input type="checkbox" name="userAdmin{{id}}" class="toggle-switch-checkbox" id="userAdmin{{id}}">
                        <label class="toggle-switch-label" for="userAdmin{{id}}">
                            <span class="toggle-switch-inner"></span>
                            <span class="toggle-switch-switch"></span>
                        </label>
                    </div>
                    <label for="userAdmin{{id}}" class="switch-label">User Administrator</label>
                </div>
                <div class="switch-container">
                    <div class="toggle-switch">
                        <input type="checkbox" name="contentAdmin{{id}}" class="toggle-switch-checkbox" id="contentAdmin{{id}}">
                        <label class="toggle-switch-label" for="contentAdmin{{id}}">
                            <span class="toggle-switch-inner"></span>
                            <span class="toggle-switch-switch"></span>
                        </label>
                    </div>
                    <label for="contentAdmin{{id}}" class="switch-label">Content Administrator</label>
                </div>
                <div class="switch-container">
                    <div class="toggle-switch">
                        <input type="checkbox" name="contentUser{{id}}" class="toggle-switch-checkbox" id="contentUser{{id}}">
                        <label class="toggle-switch-label" for="contentUser{{id}}">
                            <span class="toggle-switch-inner"></span>
                            <span class="toggle-switch-switch"></span>
                        </label>
                    </div>
                    <label for="clientAdmin{{id}}" class="switch-label">Content Eligible</label>
                </div>
            </div>
            <div class="card-button-bottom-container">
                <div class="card-button-background card-button-expansion">
                    <i class="fa fa-fw fa-chevron-down"></i>
                </div>
            </div>
        </div>
    </li>
</script>

<script type="text/template" data-template="addUserCard">
    <li>
        <div id="add-user-card" class="card-container card-100 action-card">
            <div class="card-body-main-container">
                <h2 class="card-body-primary-text">
                    <i class="fa fa-plus"></i>
                    <span>Add User</span>
                </h2>
            </div>
        </div>
    </li>
</script>
