<script type="text/template" data-template="userNode">
    <li>
        <div class="col-xs-12 client-admin-card" data-user-id="{{id}}">
            <div class="client-information">
                <h3 class="client-admin-card-title">{{name}}</h3>
                <p class="client-admin-card-clientcode">{{clientCode}}</p>
            </div>
            <div class="card-expansion minimized">
                <h4>Client Roles</h4>
                <div class="toggle-switch">
                    <input type="checkbox" name="toggle-switch" class="toggle-switch-checkbox" id="mytoggle-switch" checked>
                    <label class="toggle-switch-label" for="mytoggle-switch">
                        <span class="toggle-switch-inner"></span>
                        <span class="toggle-switch-switch"></span>
                    </label>
                    <label for="mytoggle-switch">Client Administrator</label>
                </div>
                <div class="toggle-switch">
                    <input type="checkbox" name="toggle-switch" class="toggle-switch-checkbox" id="mytoggle-switch" checked>
                    <label class="toggle-switch-label" for="mytoggle-switch">
                        <span class="toggle-switch-inner"></span>
                        <span class="toggle-switch-switch"></span>
                    </label>
                    <label for="mytoggle-switch">User Administrator</label>
                </div>
                <div class="toggle-switch">
                    <input type="checkbox" name="toggle-switch" class="toggle-switch-checkbox" id="mytoggle-switch" checked>
                    <label class="toggle-switch-label" for="mytoggle-switch">
                        <span class="toggle-switch-inner"></span>
                        <span class="toggle-switch-switch"></span>
                    </label>
                    <label for="mytoggle-switch">Content Administrator</label>
                </div>
            </div>
            <div class="icon-container">
                <div class="card-button-background card-button-background-delete">
                    <i class="fa fa-fw fa-times"></i>
                </div>
                <div class="card-button-background card-button-background-edit">
                    <i class="fa fa-fw fa-wrench"></i>
                </div>
            </div>
        </div>
    </li>
</script>

<script type="text/template" data-template="createNewUserCard">
    <li>
        <div class="col-xs-12 client-admin-card action-card" onclick="newClientUserSetup()">
            <h2 class="center-text-card">
                <i class="fa fa-plus"></i>
                <span>Add User</span>
            </h2>
        </div>
    </li>
</script>