@import "../../map_modules/variables";
@import "../../map_modules/mixins";

.iframe-container {
    position: relative;
    height: 100vh;
    width: 100%;

    iframe, object {
        height: 100vh;
        width: 100%;
        overflow: auto;
        border: none;
    }
}

#authorized-content-container {
    width: 100%;
    padding: 1em;
    overflow: hidden;

    #authorized-content-header {
        display: flex;
        flex: none;
        justify-content: flex-end;
        padding: .5em 1em 0;

        .filter-container {
            align-self: flex-end;

            @include for-phone-only() {
                width: 100%;
            }

            @include for-tablet-up() {
                width: 25em;
            }
        }
    }

    #authorized-content-items {
        overflow: auto;

        .client-content-container {
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
            align-items: flex-start;
            margin-bottom: 2em;

            .client-name {
                width: 100%;
                margin-bottom: 1em;
                margin-right: .5em;
                border-bottom: 2px solid $charcoal;
            }
        }
    }
}
