@import "../../map_modules/variables";
@import "../../map_modules/mixins";

#authorized-content-container {
    display: flex;
    flex-flow: column nowrap;

    @include for-phone-only() {
        padding: 1em;
    }

    @include for-tablet-up() {
        padding: 1em 3em;
    }

    @include for-desktop-up() {
        padding: 1em 5em;
    }

    #authorized-content-header {
        display: flex;
        flex: none;
        justify-content: flex-end;
        padding: 1em 1em 2em;

        #authorized-content-filter {
            @include for-phone-only() {
                width: 100%;
            }

            @include for-tablet-up() {
                width: 25em;
            }
        }
    }

    #authorized-content-items {
        flex: 1;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
    }
}
