@import "../../map_modules/variables";
@import "../../map_modules/mixins";

.content-card {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    color: $charcoal;
    background-color: $white;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1.75em;
    cursor: pointer;
    border-radius: .25em;

    &:hover {
        box-shadow: rgba(0, 0, 0, .3) .2em .2em .75em;
        text-decoration: none;
    }

    .content-card-header {
        display: flex;
        flex-flow: row nowrap;
        flex: none;
        padding: 1em;
        justify-content: flex-start;

        .content-card-title {
            flex: 1;
        }

        .content-card-icons {
            flex: none;

            .content-card-icon {
                height: 2em;
                width: 2em;
                margin-right: 1em;

                &:hover {

                }
            }

            .content-card-releasenotes-icon {
                height: 1.25em;
                width: 1.25em;
            }

            .content-card-releasenotes-icon {

            }
        }
    }

    .content-card-body {
        flex: 1;
        padding: 1em;

        .content-card-image {
            width: 10em;
            margin-right: 1em;
            height: auto;
            float: left;
        }

        .content-card-description {
            font-size: 1.25em;
        }
    }
}
