@import "../../map_modules/variables";
@import "../../map_modules/mixins";


.content-card-container {
    position: relative;
    padding: 0 1em 1.5em 1em;

    @include for-phone-only() {
        flex: 1 0 100%;
        max-width: 100%;
    }

    @include for-tablet-up() {
        flex: 1 0 50%;
        max-width: 50%;
    }

    @include for-desktop-up() {
        flex: 1 0 33.3%;
        max-width: 33.3%;
    }

    .content-card {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        color: $charcoal;
        background-color: $white;
        padding: 1em;
        cursor: pointer;
        border-radius: .25em;
        border: 1px solid $charcoal;
        min-height: 7.5em;

        &:hover {
            box-shadow: rgba(0, 0, 0, .3) .2em .2em .75em;
            text-decoration: none;
        }

        .content-card-header {
            display: flex;
            flex-flow: row nowrap;
            flex: none;
            justify-content: flex-start;
            margin-bottom: .5em;

            .content-card-title {
                margin: 0 0 .25em;
                line-height: 1.25em;
                flex: 1 1 auto;
            }

            .content-card-icons {
                flex: none;
                display: flex;
                flex-flow: row nowrap;

                .action-icon-link {
                    z-index: 6;
                    display: block;

                    &:hover {
                        transform: scale(1.05);
                        transform-origin: center center;
                    }
                }

                .action-icon-container {
                    margin-left: 1em;
                }
            }
        }

        .content-card-body {
            flex: 1 0 auto;

            .content-card-image {
                width: 10em;
                margin-right: 1em;
                height: auto;
                float: left;
            }

            .content-card-description {
                font-size: .75em;
                white-space: pre-wrap;
            }
        }

        .content-card-link {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;

            &.content-card-download {
                overflow: hidden;

                &:hover > .content-card-download-indicator {
                    bottom: 0;
                    transition: .25s all linear;
                }

                .content-card-download-indicator {
                    position: absolute;
                    bottom: -4.5em;
                    left: 0;
                    right: 0;
                    background: linear-gradient(to bottom right, rgba($charcoal, .5), rgba($charcoal, .95));
                    padding: .5em 1em;
                    text-align: right;
                    transition: .25s all linear;

                    .content-card-download-icon {
                        color: $green;
                        height: 3em;
                        width: 3em;
                    }
                }
            }
        }
    }
}
