@import "../../map_modules/variables";
@import "../../map_modules/mixins";


.content-card-container {
    padding: 0 1em 1.5em 1em;

    @include for-phone-only() {
        flex: 1 0 100%;
        max-width: 100%;
    }

    @include for-tablet-up() {
        flex: 1 0 50%;
        max-width: 50%;
    }

    @include for-desktop-up() {
        flex: 1 0 33.3%;
        max-width: 33.3%;

    }

    .content-card {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        color: $charcoal;
        background-color: $white;
        padding: 1em;
        cursor: pointer;
        border-radius: .25em;


        &:hover {
            box-shadow: rgba(0, 0, 0, .3) .2em .2em .75em;
            text-decoration: none;
        }

        .content-card-header {
            display: flex;
            flex-flow: row nowrap;
            flex: none;
            justify-content: flex-start;

            .content-card-title {
                margin: 0 0 .25em;
                line-height: 1em;
                flex: 1;
            }

            .content-card-icons {
                flex: none;

                .content-card-icon {
                    height: 1.5em;
                    width: 1.5em;
                    margin-left: 1em;

                    &:hover {
                    }
                }
            }
        }

        .content-card-body {
            flex: 1;

            .content-card-image {
                width: 10em;
                margin-right: 1em;
                height: auto;
                float: left;
            }

            .content-card-description {
                font-size: .75em;
            }
        }
    }

}
