#content-wrapper {
    display:     flex;
    flex-flow:   column nowrap;
    height:      100vh;
    width:       100vw;
    overflow:    hidden;

    &.navbar-offset {
        padding-left: 4.5rem;
    }

    #content-container {
        display:    flex;
        flex-flow:  row nowrap;
        flex:       1;
        overflow-y: auto;
        padding:    1em;        
    }
}
