/* Login Page */

#login-container {
    display:         flex;
    flex-flow:       column nowrap;
    flex:            1;
    align-items:     center;
    justify-content: center;
    align-self:      center;
    margin:          0 auto;
    padding:         1em;
    max-width:       25em;

    #login-logo-container {
        margin:    0 auto;
        max-width: 100%;

        #login-logo {
            width:  100%;
            height: auto;
        }
    }

    #login-form-container {
        display:    inline-block;
        text-align: center;
        width:      100%;
        max-width:  25em;
        margin:     0 auto;

        #login-form {

            .login-form-input-container {
                text-align: left;
                margin-bottom: .5em;
            }

            .login-form-button-container {
                padding-top: .25em;
                text-align: right;
            }
        }
    }
}