@{
    Layout = "_Layout";
}

<div id="content-wrapper">
    <div id="content-container">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
</div>

@section CSS {
    @RenderSection("CSS", required: false)
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}

