@{
    Layout = "_Layout";
}

<div id="content-wrapper">
    @RenderBody()
    @await Html.PartialAsync("_Footer")
</div>

@section CSS {
    @RenderSection("CSS", required: false)
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}

