@model List<string>;

@{
    ViewData["Title"] = "";
    Layout = "_Layout";
}

@section Scripts {
    <script src="~/js/message.bundle.js"></script>
}

<div class="screen-center screen-center-text">
    @foreach (var line in Model)
    {
        <h3>
            @line
        </h3>
        <br>
    }
</div>
