@{
    ViewData["Title"] = "Content Publishing";
    Layout = "_Layout_w_NB_H_F";
    ViewData["NavIcon"] = "ContentPublishing";
}

@section CSS {
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
}

@section Scripts {
    <% for (var chunk in htmlWebpackPlugin.files.js) { %>
    <script src="<%= htmlWebpackPlugin.files.js[chunk] %>"></script>
    <% } %>
}
