/* Loading Indicators */

.loading-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: radial-gradient(circle, rgba($light-grey, .75) 25%, rgba($light-grey, 0.5), rgba($light-grey, 0));

    .loading-indicator {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;

        li {
            background-color: $blue;
            border: 1px solid $charcoal;
            width: 15px;
            height: 10px;
            float: right;
            margin-right: 5px;
        }

        li:first-child {
            -webkit-animation: loadbars 1s ease-in-out infinite 0s;
        }

        li:nth-child(2) {
            -webkit-animation: loadbars 1s ease-in-out infinite -0.2s;
        }

        li:nth-child(3) {
            -webkit-animation: loadbars 1s ease-in-out infinite -0.4s;
        }

        li:nth-child(4) {
            -webkit-animation: loadbars 1s ease-in-out infinite -0.6s;
        }

        li:nth-child(5) {
            -webkit-animation: loadbars 1s ease-in-out infinite -0.8s;
        }

        @keyframes loadbars {
            0% {
                height: 10px;
                margin-top: 25px;
            }

            50% {
                height: 50px;
                margin-top: 0px;
            }

            100% {
                height: 10px;
                margin-top: 25px;
            }
        }

        @-webkit-keyframes loadbars {
            0% {
                height: 10px;
                margin-top: 25px;
            }

            50% {
                height: 50px;
                margin-top: 0px;
            }

            100% {
                height: 10px;
                margin-top: 25px;
            }
        }
    }
}

.spinner-small {
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    margin-left: 6px;
    font-size: 10px;
    display: inline-block;
    text-indent: -9999em;
    border-top: .2em solid rgba(255, 255, 255, 0.6);
    border-right: .2em solid rgba(255, 255, 255, 0.6);
    border-bottom: .2em solid rgba(255, 255, 255, 0.6);
    border-left: .2em solid $white;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin-small .8s infinite linear;
    animation: spin-small .8s infinite linear;
}

@-webkit-keyframes spin-small {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-small {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
