<div id="footer">
    <div>
        <ul>
            <li><a href="http://www.milliman.com/">Milliman</a></li>
            <li><a href="https://www.prmanalytics.com">PRM Analytics</a></li>
            <li><a href="http://us.milliman.com/legal/terms/">Terms of Use</a></li>
            <li><a href="http://us.milliman.com/legal/privacy/">Privacy Policy</a></li>
            <li><a href="http://us.milliman.com/legal/copyright/">Copyright</a></li>
        </ul>
    </div>
    <div id="copyright-div">
        <span id="copyright">&copy; 2017 Milliman, Inc. All Rights Reserved</span>
    </div>
</div>
