@using MapCommonLib

<footer id="page-footer">
    <div id="footer-nav-container">
        <ul id="footer-nav" class="list-style-none display-inline-block padding-0 margin-bottom-1em center-content-for-laptop-up">
            <li><a href="http://www.milliman.com/" target="_blank">Milliman</a></li>
            <li class="hide-on-tablet-down"><a href="https://www.prmanalytics.com" target="_blank">PRM Analytics</a></li>
            <li><a href="http://us.milliman.com/legal/terms/" target="_blank">Terms of Use</a></li>
            <li><a href="http://us.milliman.com/legal/privacy/" target="_blank">Privacy Policy</a></li>
            <li><a href="http://us.milliman.com/legal/copyright/" target="_blank">Copyright</a></li>
        </ul>
    </div>
    <div id="copyright-container">
        <span>© @BuildTimeProperties.CompilationYear Milliman, Inc. All Rights Reserved</span>
    </div>
</footer>
