<footer class="flex-container flex-row-wrap">
    <div class="">
        <ul class="list-style-none display-inline-block padding-0">
            <li class="display-inline-block margin-pt75em"><a href="http://www.milliman.com/">Milliman</a></li>
            <li class="display-inline-block margin-pt75em display-none-for-tablet-down"><a href="https://www.prmanalytics.com">PRM Analytics</a></li>
            <li class="display-inline-block margin-pt75em"><a href="http://us.milliman.com/legal/terms/">Terms of Use</a></li>
            <li class="display-inline-block margin-pt75em"><a href="http://us.milliman.com/legal/privacy/">Privacy Policy</a></li>
            <li class="display-inline-block margin-pt75em"><a href="http://us.milliman.com/legal/copyright/">Copyright</a></li>
        </ul>
    </div>
    <div id="right-align-content">
        <span id="copyright">&copy; 2017 Milliman, Inc. All Rights Reserved</span>
    </div>
<footer />
