<footer class="flex-container flex-row-wrap-for-tablet-up flex-column-wrap width-100pct content-stretch items-stretch font-size-pt75em padding-left-2em padding-right-2em">
    <div class="align-self-center content-item-flex-1">
        <ul class="list-style-none display-inline-block padding-0 margin-bottom-1em center-content-for-laptop-up">
            <li class="display-inline-block margin-pt75em"><a href="http://www.milliman.com/">Milliman</a></li>
            @*<li class="display-inline-block margin-pt75em display-none-for-tablet-down"><a href="https://www.prmanalytics.com">PRM Analytics</a></li>*@
            <li class="display-inline-block margin-pt75em"><a href="http://us.milliman.com/legal/terms/">Terms of Use</a></li>
            <li class="display-inline-block margin-pt75em"><a href="http://us.milliman.com/legal/privacy/">Privacy Policy</a></li>
            <li class="display-inline-block margin-pt75em"><a href="http://us.milliman.com/legal/copyright/">Copyright</a></li>
        </ul>
    </div>
    <div class="align-self-center right-align-content margin-bottom-1em">
        <span>&copy; 2017 Milliman, Inc. All Rights Reserved</span>
    </div>
<footer />
