@{
    Layout = "_Layout";
}

@Html.Partial("_Header")

@await Html.PartialAsync("_Navbar")

<div id="content-wrapper" class="navbar-offset container-fluid">
    @RenderBody()
</div>

@Html.Partial("_Footer")

<<<<<<< HEAD
@section Scripts {
    @RenderSection("Scripts", required: false)
}

=======

@section Scripts {
    <environment names="Development,CI">
        <script src="~/js/contact-form.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/contact-form.min.js"></script>
    </environment>
}
>>>>>>> refs/remotes/origin/develop
