@{
    Layout = "_Layout";
}

@Html.Partial("_Header")

@await Html.PartialAsync("_Navbar")

<div id="content-wrapper" class="navbar-offset header-offset container-fluid">
    @RenderBody()
</div>

@Html.Partial("_Footer")


@section Scripts {
    <environment names="Development">
        <script src="~/js/contact-form.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/contact-form.min.js" asp-append-version="true"></script>
    </environment>
}