@{
    Layout = "_Layout";
}

@await Html.PartialAsync("_Navbar")

<div id="content-wrapper" class="navbar-offset">
    @RenderBody()
</div>


@section Scripts {
    <environment names="Development,CI">
        <script src="~/js/contact-form.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/contact-form.min.js"></script>
    </environment>
}
