@{
    Layout = "_Layout";
}

@section CSS {
    @RenderSection("CSS", required: false)
}

@await Html.PartialAsync("_Navbar")

<div id="content-wrapper" class="navbar-offset">
    @RenderBody()
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
