<nav id="sidebar-nav">
    <ul>
        <li class="nav-item selected">
            <a asp-controller="HostedContent" asp-action="Index" class="nav-button">
                <h3 class="nav-label">Reports</h3>
                <i class="fa fa-fw fa-3x fa-th-large nav-icon" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-button">
                <h3 class="nav-label">User Profile</h3>
                <i class="fa fa-fw fa-3x fa-user nav-icon" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-button">
                <h3 class="nav-label">User Admin</h3>
                <i class="fa fa-fw fa-3x fa-users nav-icon" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a asp-controller="ClientAdmin" asp-action="Index" class="nav-button">
                <h3 class="nav-label">Global Admin</h3>
                <i class="fa fa-fw fa-3x fa-cogs nav-icon" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-button">
                <h3 class="nav-label">User Guide</h3>
                <i class="fa fa-fw fa-3x fa-book nav-icon" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-button" id="contact-button">
                <h3 class="nav-label">Contact Support</h3>
                <i class="fa fa-fw fa-3x fa-envelope nav-icon" aria-hidden="true"></i>
            </a>
        </li>
        <li class="nav-item">
            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="nav-button">
                <button type="submit" class="nav-button">
                    <h3 class="nav-label">Logout</h3>
                    <i class="fa fa-fw fa-3x fa-sign-out nav-icon" aria-hidden="true"></i>
                </button>
            </form>
        </li>
    </ul>
</nav>

 
@*Contact Form*@


<div id="modal-background" class="hide">

    <div id="contact-form-modal">
        <h2 class="contact-title">Contact Support</h2>
        <i id="contact-close" class="fa fa-close fa-fw fa-2x form-close" aria-hidden="true"></i>
        <form id="contact-form" asp-controller="Message" asp-action="SendEmailFromUser" method="post">
            <input type="hidden" name="recipient" value="prm.support@milliman.com" />
            <div>
                <select name="subject" id="topic-select" required>
                    <option value="">Please Select a Topic</option>
                    <option value="Account Inquiry">Account Inquiry</option>
                    <option value="Bug Report">Report a Bug</option>
                    <option value="Other Support Question">Other</option>
                </select>
            </div>
            <div>
                <textarea id="body-text" placeholder="Message" name="message" rows="10" required></textarea>
            </div>
            <div class="text-right">
                <a href="#" onclick="resetContactForm()">Reset</a>
                <button type="submit" id="form-submit" class="btn btn-primary">Submit</button>
            </div>

        </form>
    </div>


</div>