#create-initial-user-container,
#account-settings-container,
#enable-account-container,
#reset-password-container,
#message-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}
