.admin-panel-content.form-disabled {

    .markdown-view-button-container,
    #ContentDisclaimerGuide {
        display: none;
    }
}

#ContentDisclaimerPreview {
    padding: .5em;
    border: 1px solid $charcoal;
}

#ContentDisclaimerGuide {
    text-align: right;
    padding: .5em;
}

.confirmation-section {
    margin-bottom: 2em;

    ul.hierarchy-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    label.selection-option-label {
        margin-top: 1em;
    }

    .confirmation-section-title {
        width: 100%;
        display: inline-block;

        h4 {
            float: left;
        }

        span {
            float: right;
        }
    }


    .content-preview-container {
        position: relative;

        .content-preview,
        .content-preview-pdf,
        .content-preview-sandbox {
            width: 100%;
            height: 20em;
            position: relative;

            iframe,
            object {
                width: 100%;
                height: 100%;
                border: 1px solid $charcoal;
            }
        }

        .new-tab-icon > svg {
            color: $charcoal;
            position: absolute;
            top: 1em;
            right: 1.5em;
            width: 2em;
            height: 2em;
            z-index: 1;

            &:hover {
                color: $green;
            }
        }
    }

    .selection-group-list {
        padding-left: 0;
    }

    .hierarchy-container {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        margin-bottom: 0.8em;

        & > div {
            width: 100%;
        }

        .hierarchy-diff-field {
            margin-left: 0.5em;
            margin-top: 0.3em;
            font-size: 0.95rem;
            font-weight: 600;
        }

        .hierarchy-diff-container {
            border-radius: 1em;
            border: 1px solid $charcoal;
            overflow: hidden;
            width: 100%;
            margin-bottom: 1em;
        }

        .hierarchy-diff-values {
            width: 100%;
            font-size: 0.95rem;
        }

        table {
            background-color: $white;

            td {
                padding-left: 10px;
                padding-right: 10px;
            }

            td.hierarchy-diff-symbol {
                width: 60px;
                background-color: $white;

                &.plus,
                &.plus + td {
                    background-color: lighten($green, 30%);
                }

                &.minus,
                &.minus + td {
                    background-color: lighten($red, 30%);
                }
            }
        }
    }

    &#confirmation-section-hierarchy-stats {

        ul {
            list-style: none;
        }

        li + li {
            margin-top: 0.5em;
        }
    }

    .selection-group-summary {
        display: block;
        background-color: $white;
        border-radius: 1em;
        border: 1px solid $charcoal;
        padding: 1.0em;

        .pre-live-user-list ul {
            padding: .5em;
        }

        .selection-group-stat {
            .selection-group-stat-label {
                width: 20%;
                display: inline-block;
            }

            .selection-group-stat-value {
                color: $black;
            }
        }

        .pre-live-group-active {
            color: darken($green, 10%);
            font-variant-caps: all-small-caps;
        }

        .pre-live-group-inactive {
            color: darken($orange, 10%);
            font-variant-caps: all-small-caps;
        }
    }

    .attestation-language {
        background-color: $white;
        border: 1px solid $charcoal;
        border-radius: 1em;
        padding: 1em;
        margin-bottom: 1em;

        .attestation {
            font-weight: 600;
        }

        .attestation-items li {
            margin-bottom: .5em;
        }
    }

    .confirmation-section-button-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
}
