.confirmation-section {
    margin-bottom: 2em;

    ul.hierarchy-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    label.selection-option-label {
        margin-top: 1em;
    }

    .content-preview,
    .content-preview-pdf,
    .content-preview-sandbox {
        width: 100%;
        height: 20em;
        position: relative;

        iframe,
        object {
            width: 100%;
            height: 100%;
            border: 1px solid $charcoal;
        }

        svg {
            color: $charcoal;
            position: absolute;
            top: 0.2em;
            right: 0.2em;
            width: 2em;
            height: 2em;
            z-index: 1;
            // Temporarily hide this button until this functionality is completely implemented.
            display: none;

            &:hover {
                color: $green;
            }
        }
    }

    .selection-group-list {
        padding-left: 0;
    }

    .hierarchy-container {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        margin-bottom: 0.8em;

        .hierarchy-diff-field {
            margin-left: 0.5em;
            margin-top: 0.3em;
            font-size: 0.95rem;
            font-weight: 600;
        }

        .hierarchy-diff-values {
            margin-left: 1.0em;
            font-size: 0.95rem;
        }

        table {
            background-color: $white;

            td {
                padding-left: 10px;
                padding-right: 10px;
            }

            td.hierarchy-diff-symbol { 
                width: 60px;
                background-color: $white;

                &.plus { 
                    background-color: lighten($green, 30%);
                }

                &.minus { 
                    background-color: lighten($red, 30%);
                }
            }

        }
    }

    &#confirmation-section-hierarchy-stats {

        ul {
            list-style: none;
        }

        li + li {
            margin-top: 0.5em;
        }
    }

    .selection-group-summary {
        display: block;
        background-color: $white;
        border-radius: 1em;
        border: 1px solid $charcoal;
        padding: 1.0em;

        .selection-group-stat {
            .selection-group-stat-label {
                width: 20%;
                display: inline-block;
            }

            .selection-group-stat-value {
                color: $black;
            }
        }

        .pre-live-group-active {
            color: darken($green, 10%);
            font-variant-caps: all-small-caps;
        }
        .pre-live-group-inactive {
            color: darken($orange, 10%);
            font-variant-caps: all-small-caps;
        }
    }

    .attestation-language {
        background-color: $white;
        border: 1px solid $charcoal;
        border-radius: 1em;
        padding: 1em;
        margin-bottom: 1em;

        .attestation {
            font-weight: 600;
        }

        .attestation-items li {
            margin-bottom: .5em;
        }
    }

    .confirmation-section-button-container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
}
