header {
    display: flex;
    flex-flow: row wrap;
    flex: none;
    align-items: center;
    padding: 0 1em;

    #page-title {
        display: inline-block;
        flex: 1;
        order: 1;
    }

    @include for-phone-only {
        #page-title {
            order: 2;
        }
    }

    #header-logo {
        order: 2;
        padding-right: 1em;
        height: 5.5rem;
        width: 25rem;
    }
    
    @include for-phone-only {
        #header-logo {
            order: 1;
        }
    }
}

#map-logo_brand {
    fill: $charcoal;
}

#map-logo_product {
    fill: $blue;
}
