#content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    &.full-scroll {
        overflow-y: auto;
        height: auto;
        min-height: 100vh;
        width: 100%;
    }

    @include for-tablet-down() {
        overflow: auto !important;
    }

    #content-container {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 1 auto;
        overflow: hidden;

        @include for-tablet-down() {
            flex-flow: column nowrap !important;
            overflow: auto !important;
            padding: 0 !important;
        }
    }
}

@include for-tablet-down() {
    .hide-on-tablet-down {
        display: none !important;
    }
}

#create-initial-user-container,
#enable-account-container,
#reset-password-container,
#message-container {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}
