/* Login Page */

#login-wrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    flex: 1;
    background-image: radial-gradient(lighten($blue, 20%), darken($blue, 20%));

    #login-container {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: 0 auto;
        padding: 1em;
        max-width: 95vw;
        width: 28em;

        #login-form-container {
            display: inline-block;
            text-align: center;
            width: 100%;
            margin: 0 auto;
            padding: 1em 2em;
            background-color: $white;
            border-radius: 1em;
            box-shadow: rgba(0, 0, 0, .3) .2em .2em .75em;

            #login-logo-container {
                margin-bottom: .5em;
                padding: .5em;
                width: 100%;

                #login-logo {
                    width: 100%;
                    height: 2.5rem;
                }
            }

            #login-form {

                .login-form-input-container {
                    text-align: left;
                    margin-bottom: .5em;

                    input {
                        margin-bottom: 1em;
                    }
                }

                .login-form-button-container {
                    padding-top: .25em;
                    text-align: right;
                }
            }
        }
    }

    footer,
    footer a {
        color: white !important;
    }
}