/* Nav Sidebar Styling */

#sidebar-nav {
    position: fixed;
    top: 0;
    left: -14rem;
    width: 18.5rem;
    height: 100vh;
    transition: all 0.5s;
    background-color: $charcoal;
    color: $white;
    padding: 0;
    z-index: 101;

    &:hover {
        left: 0;
        transition: all 0.5s;
    }

    ul {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 100%;
    }


    .nav-item {
        width: 100%;
        padding: 0;

        &.selected {
            background-color: $blue;
            fill: $white;

            a:hover {
                color: $charcoal;
                fill: $charcoal;
            }
        }

        #logoutForm {
            padding: 0;
        }

        .nav-button {
            display: flex;
            color: $white;
            padding: 0 !important;
            text-transform: none !important;
            text-align: left;
            text-decoration: none;

            &:hover {
                color: $blue;
                fill: $blue;
            }

            button {
                background-color: $charcoal;
                border: none;
                margin: 0;
                width: 100%;
            }
        }
    }

    .nav-label {
        flex: 1;
        display: inline-block;
        width: 13.5rem;
        margin: auto 0 auto 1rem;
    }

    .nav-icon {
        flex: none;
        align-self: center;
        display: inline-block;
        width: 4rem;
        height: 4rem;
        padding: .5rem;
        margin: auto;
    }
}