<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IQMS">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQMS2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IQTService2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Ntlm" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://indy-qvtest01:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS" contract="QmsApi.IQMS"
                name="BasicHttpBinding_IQMS" />
            <endpoint address="http://indy-qvtest01:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS1" contract="QmsApi.IQMS1"
                name="BasicHttpBinding_IQMS1" />
            <endpoint address="http://indy-qvtest01:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS2" contract="QmsApi.IQMS2"
                name="BasicHttpBinding_IQMS2" />
            <endpoint address="http://indy-qvtest01:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService" contract="QmsApi.IQTService"
                name="BasicHttpBinding_IQTService" />
            <endpoint address="http://indy-qvtest01:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService1" contract="QmsApi.IQTService1"
                name="BasicHttpBinding_IQTService1" />
            <endpoint address="http://indy-qvtest01:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService2" contract="QmsApi.IQTService2"
                name="BasicHttpBinding_IQTService2" />
        </client>
    </system.serviceModel>
</configuration>