@model MillimanAccessPortal.Models.UserAdminViewModels.ApplicationUserViewModel

@{
    /*
     * CODE OWNERS: Ben Wyatt
     * OBJECTIVE: Add new application user
     * DEVELOPER NOTES:
     */
    ViewData["Title"] = "User Administration";
    Layout = "_Layout_w_NB_H_F";
    ViewData["NavIcon"] = "UserAdmin";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>ApplicationUser</h4>
        <hr />
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label">User's Email</label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label">User ID</label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label id="EmailForUserName" class="col-md-6 control-label">Use Email As UserName</label>
                <div class="col-md-6">
                    @Html.CheckBox("UserNameEqualsEmail", true)
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label">First Name</label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label">Last Name</label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PhoneNumber" class="col-md-2 control-label">Phone Number</label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Employer" class="col-md-2 control-label">Employer</label>
            <div class="col-md-10">
                <input asp-for="Employer" class="form-control" />
                <span asp-validation-for="Employer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MemberOfClientIdArray" class="col-md-2 control-label">MemberOfClientIdArray</label>
            <div class="col-md-10">
                <input asp-for="MemberOfClientIdArray" class="form-control" />
                <span asp-validation-for="MemberOfClientIdArray" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" onclick="submitSaveNewUser(event)" />
            </div>
        </div>

    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<environment names="Development,CI">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</environment>

<script>
        $(document).ready(function () {

            $("#Email").on('change keyup paste', function (eventData) {
                if ($("#UserNameEqualsEmail").is(':checked') == true) {
                    $("#UserName").val(eventData.currentTarget.value);
                }
            });

            $("#UserName").on('keyup paste', function (eventData) {
                if ($("#UserName").val() != $("#Email").val() && $("#UserNameEqualsEmail").is(':checked') == true) {
                    $("#UserNameEqualsEmail").click();
                }
            });

            var disabledColor = "silver";
            $("#UserName").css("background-color", disabledColor);
            $("#UserNameEqualsEmail").on('change', function (eventData) {
                if ($("#UserNameEqualsEmail").is(':checked') == true) {
                    $("#UserName").css("background-color", disabledColor);
                }
                else {
                    $("#UserName").css("background-color", "white");
                }
            });
        });

    function submitSaveNewUser(event) {

        event.preventDefault();

        var form = $('form');
        var email = $('#Email').val();
        var userName = $('#UserName').val();
        var firstName = $('#FirstName').val();
        var lastName = $('#LastName').val();
        var phoneNumber = $('#PhoneNumber').val();
        var employer = $('#Employer').val();
        var urlAction = 'SaveNewUser';
        var successResponse, failResponse;

        $.ajax({
            type: 'POST',
            url: urlAction,
            data: form.serialize(),
            headers: {
                'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
            },
        }).done(function (response) {
            var d = response
            //toastr['success'](successResponse);
        }).fail(function (response) {
            var f = response
            //toastr["warning"](failResponse);
        })

    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
