@model ResetPasswordViewModel

@{
    /*
     * CODE OWNERS: Michael Reisz
     * OBJECTIVE: Allow the user to reset their password
     * DEVELOPER NOTES:
     */

    ViewData["Title"] = "";
    Layout = "_Layout_w_H_F";
}

@section CSS {
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
}

@section Scripts {
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
}

<div id="reset-password-container">
    <div id="reset-password" class="admin-panel-container flex-item-for-phone-only-12-12 flex-item-for-tablet-up-10-12 flex-item-for-desktop-up-5-12">
        <div class="admin-panel-content-container">
            <form id="reset-password-form" class="admin-panel-content" autocomplete="off" action="ResetPassword" method="post">
                <div class="form-section-container">
                    <div class="form-section" data-section="hidden">
                        <div class="form-input-container" style="display: none;">
                            <div>
                                <input asp-for="Email" data-original-value="Email" />
                            </div>
                            <div>
                                <input asp-for="PasswordResetToken" data-original-value="PasswordResetToken" />
                            </div>
                        </div>
                    </div>
                    <div class="form-section" data-section="password">
                        <h4 class="form-section-title">Reset Your Password</h4>
                        @{
                            if (Model.Message.Length > 0)
                            {
                                <div class="form-section">
                                    <div class="form-input-container">
                                        <div class="flex-item-12-12">
                                            <span class="form-validation-error">@Model.Message</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="form-input-container">
                            <div class="form-input form-input-text flex-item-12-12">
                                <label class="form-input-text-title" asp-for="NewPassword"></label>
                                <div>
                                    <input asp-for="NewPassword" autofocus />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-input form-input-text flex-item-12-12">
                                <label class="form-input-text-title" asp-for="ConfirmNewPassword"></label>
                                <div>
                                    <input asp-for="ConfirmNewPassword" />
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="button-container button-container-update">
                            <button type="submit" class="button-submit blue-button">Reset Password</button>
                        </div>
                        <div class="form-antiforgery-token" style="display: none;">
                            @Html.AntiForgeryToken()
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
