@model MapDbContextLib.Context.Client

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Client</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AcceptedEmailDomainList" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AcceptedEmailDomainList" class="form-control" />
                <span asp-validation-for="AcceptedEmailDomainList" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ParentClientId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <!-- This field in the model is type string[].  Figure out a good way to reference/render the values -->
                <select asp-for="ParentClientId" class="form-control" asp-items="ViewBag.ParentClientId"></select>
                <span asp-validation-for="ParentClientId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<form asp-action="AssignUser">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="All Users" class="control-label col-md-2"></label>
        <div class="col-md-10">
            <select name="AssignedUsers" class="form-control" asp-items="ViewBag.AllUsers"></select>
            <!--<span asp-validation-for="ViewBag.AllUsers" class="text-danger"></span>-->
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

