@model IEnumerable<MapDbContextLib.Context.Client>

@{
    ViewData["Title"] = "Client Administration";
    Layout = "_Layout_w_NB_H_F";
    ViewData["NavIcon"] = "ClientAdmin";
}

<h2 class="page-title">Client Admin</h2>

<div class="row">
    <div id="client-tree" class="client-admin-section no-vertical-scroll col-sm-12 col-md-3">
        <h3 class="client-admin-section-title">Client Tree</h3>
        <div class="client-admin-section-toolbar container-fluid">
            <input class="search-box" placeholder="Search for Client" />
            <a href="#">
                <i class="fa fa-2x fa-plus pull-right"></i>
            </a>        
        </div>
        <div id="client-tree" class="container-fluid scroll-y">
            <div class="row">
                <ul>
                    <li>
                        <div class="client-admin-card col-xs-12">
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Client Name</h2>
                            <p>Client information</p>
                        </div>
                    </li>
                    <li>
                        <div class="client-admin-card col-xs-offset-1 col-xs-11">
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h3 class="client-admin-card-title">Client Name</h3>
                            <p>Client information</p>
                        </div>
                    </li>
                    <li>
                        <div class="client-admin-card col-xs-offset-2 col-xs-10">
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h4 class="client-admin-card-title">Client Name</h4>
                            <p>Client information</p>
                        </div>
                    </li>
                    <li>
                        <div class="client-admin-card col-xs-offset-1 col-xs-11">
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h3 class="client-admin-card-title">Client Name</h3>
                            <p>Client information</p>
                        </div>
                    </li>
                    <li>
                        <div class="client-admin-card col-xs-offset-2 col-xs-10">
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h4 class="client-admin-card-title">Client Name</h4>
                            <p>Client information</p>
                        </div>
                    </li>
                    <li class="hr col-xs-12"></li>
                    <li>
                        <div class="client-admin-card col-xs-12">
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Client Name</h2>
                            <p>Client information</p>
                        </div>
                    </li>
                    <li>
                        <div class="client-admin-card col-xs-offset-1 col-xs-11">
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h3 class="client-admin-card-title">Client Name</h3>
                            <p>Client information</p>
                        </div>
                    </li>
                    <li>
                        <div class="client-admin-card col-xs-offset-2 col-xs-10">
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h4 class="client-admin-card-title">Client Name</h4>
                            <p>Client information</p>
                        </div>
                    </li>
                    <li>
                        <div class="client-admin-card col-xs-offset-1 col-xs-11">
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h3 class="client-admin-card-title">Client Name</h3>
                            <p>Client information</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>    
    </div>
    <div id="client-info" class="client-admin-section col-sm-12 col-md-6">
        <h3 class="client-admin-section-title">Client Information</h3>
        <div class="container-fluid scroll-y">
            <form id="client-form" class="read-only" asp-action="/" method="post">
                <div class="row">
                    <h4>Client Information</h4>
                    <div class="form-group col-md-9">
                        <label for="clientName">Client Name</label>
                        <input type="text" id="clientName" name="clientName" class="form-control" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="clientCode">Client Code</label>
                        <input type="text" id="clientCode" name="clientCode" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ccName">Primary Client Contact</label>
                        <input type="text" id="ccName" name="ccName" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ccTitle">Client Contact Title</label>
                        <input type="text" id="ccTitle" name="ccTitle" class="form-control" />
                    </div>
                    <div class="form-group col-md-9">
                        <label for="ccEmail">Client Contact Email</label>
                        <input type="email" id="ccEmail" name="ccEmail" class="form-control" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="ccPhone">Client Contact Phone</label>
                        <input type="tel" id="ccPhone" name="ccPhone" class="form-control" />
                    </div>
                    <h4>Security Information</h4>
                    <div class="form-group col-md-12">
                        <label for="domainWhitelist">Approved Email Domain</label>
                        <input type="text" id="domainWhitelist" name="domainWhitelist" class="form-control" />
                    </div>
                    <div class="form-group col-md-12">
                        <label for="emailWhitelist">Email Exception List</label>
                        <input type="text" id="emailWhitelist" name="emailWhitelist" class="form-control" />
                    </div>
                    <h4>Billing Information</h4>
                    <div class="form-group col-md-6">
                        <label for="consultantName">Primary Consultant</label>
                        <input type="text" id="consultantName" name="consultantName" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="consultantTitle">Primary Consultant Title</label>
                        <input type="text" id="consultantTitle" name="consultantTitle" class="form-control" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="consultantEmail">Primary Consultant Email</label>
                        <input type="email" id="consultantEmail" name="consultantEmail" class="form-control" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="billingOffice">Office</label>
                        <input type="text" id="billingOffice" name="billingOffice" class="form-control" />
                    </div>
                    <div class="form-group col-md-3">
                        <label for="profitCenter">Profit Center</label>
                        <input type="text" id="profitCenter" name="profitCenter" class="form-control" />
                    </div>
                    <div class="text-right">
                        <button type="reset" class="btn btn-link">Reset Form</button>
                        <button type="submit" id="primary-button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="client-users" class="client-admin-section col-sm-12 col-md-3">
        <h3 class="client-admin-section-title">Client Users</h3>
        <div class="client-admin-section-toolbar container-fluid">
            <input class="search-box" placeholder="Search for User" />
            <a href="#">
                <i class="fa fa-2x fa-plus pull-right"></i>
            </a>
        </div>
        <div id="user-list" class="container-fluid scroll-y">
            <div class="row">
                <ul>
                    <li>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                        <div class="client-admin-card col-xs-12">
                            <i class="fa fa-fw fa-4x fa-user left-icon pull-left"></i>
                            <div class="icon-container">
                                <i class="fa fa-fw fa-pencil"></i>
                                <i class="fa fa-fw fa-trash"></i>
                            </div>
                            <h2 class="client-admin-card-title">Last, First</h2>
                            <p>first.last@email.com</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(function () {

            /*
            // Get the client families
            $.ajax({
                type: 'GET',
                url: 'ClientAdmin/ClientFamilyList/',
            }).done(function (response) {
                console.log(response);
            }).fail(function () {
               console.log('failed to retreive Client Tree data');
            });
            */

            /*
            // Get the assigned / eligible users for a client
            $.ajax({
                type: 'GET',
                url: 'ClientAdmin/ClientUserLists',
                data: { id: 1 },
            }).done(function (response) {
                console.log(response)
            }).fail(function () {
                console.log('failed to retrieve Client data');
            });
            */

            /*
             // Assign a user by name to a client id
             $.ajax({
                 type: 'POST',
                 url: 'ClientAdmin/AssignUserToClient',
                 data: { clientId: 1, userName: "testid4444@yahoo.com" },
                 headers: {
                     'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                 },
             }).done(function (response) {
                 console.log(response)
             }).fail(function (response) {
                 switch (response.status) {
                     case 412:
                         toastr["warning"](response.getResponseHeader("Warning"));
                         break;
                     default:
                         alert("ajax AssignUserToClient response code is " + response.status);
                         break;
                 }
             });
            */

            /*
             window.setTimeout(function () {  // Delete this entire line
             // Remove a user by name from a client id
             $.ajax({
                 type: 'POST',
                 url: 'ClientAdmin/RemoveUserFromClient',
                 data: { clientId: 1, userName: "testid4444@yahoo.com" },
                 headers: {
                     'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                 },
             }).done(function (response) {
                 console.log(response)
             }).fail(function (response) {
                 switch (response.status) {
                     case 412:
                         toastr["warning"](response.getResponseHeader("Warning"));
                         break;
                     default:
                         alert("ajax RemoveUserFromClient response code is " + response.status);
                         break;
                 }
             })
             }, 2000)  // Delete this entire line
             ;
            */

            /*
            window.setTimeout(function () {  // Delete this entire line
                // Edit a client record
                $.ajax({
                    type: 'POST',
                    url: 'ClientAdmin/EditClient',
                    data: {
                        Id: 4,
                        Name: "xyz",
                        ClientCode: "Some Code",
                        ContactName: "Contact 4",
                        ContactTitle: "Director of Contacts",
                        ContactEmail: "Contact4@company.com",
                        ContactPhone: "1234567890",
                        ConsultantName: "Phill Ittup",
                        ConsultantEmail: "Consultant4@milliman.com",
                        ConsultantOffice: "Indianapolis",
                        ProfitCenter: "Bulls Eye",
                        AcceptedEmailDomainList: ["milliman.com", "yahoo.com"],
                        AcceptedEmailAddressExceptionList: [],
                        ParentClientId: 1
                    },
                    headers: {
                        'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                    },
                }).done(function (response) {
                    console.log(response)
                }).fail(function (response) {
                    switch (response.status) {
                        case 412:
                            toastr["warning"](response.getResponseHeader("Warning"));
                            break;
                        default:
                            alert("ajax RemoveUserFromClient response code is " + response.status);
                            break;
                    }
                })
            }, 2000)  // Delete this entire line
            ;
            */

            ///*
            window.setTimeout(function () {  // Delete this entire line
                // Save a new client record
                $.ajax({
                    type: 'POST',
                    url: 'ClientAdmin/SaveNewClient',
                    data: {
                        Id: null,
                        Name: "xyzaaa",
                        ClientCode: "Some Code",
                        ContactName: "Contact 4",
                        ContactTitle: "Director of Contacts",
                        ContactEmail: "Contact4@company.com",
                        ContactPhone: "1234567890",
                        ConsultantName: "Phill Ittup",
                        ConsultantEmail: "Consultant4@milliman.com",
                        ConsultantOffice: "Indianapolis",
                        ProfitCenter: "Bulls Eye",
                        AcceptedEmailDomainList: ["milliman.com", "yahoo.com"],
                        AcceptedEmailAddressExceptionList: [],
                        ParentClientId: 1
                    },
                    headers: {
                        'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                    },
                }).done(function (response) {
                    console.log(response)
                }).fail(function (response) {
                    switch (response.status) {
                        case 412:
                            toastr["warning"](response.getResponseHeader("Warning"));
                            break;
                        default:
                            alert("ajax SaveNewClient response code is " + response.status + "Warning header value is " + response.getResponseHeader("Warning"));
                            break;
                    }
                })
            }, 2000)  // Delete this entire line
            ;
            //*/

            /*
            window.setTimeout(function () {  // Delete this entire line
                // Delete a client by id
                $.ajax({
                    //type: 'GET',
                    url: 'ClientAdmin/DeleteClient',
                    data: {
                        Id: 15,
                    },
                    headers: {
                        'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                    },
                }).done(function (response) {
                    console.log(response)
                }).fail(function (response) {
                    switch (response.status) {
                        case 412:
                            toastr["warning"](response.getResponseHeader("Warning"));
                            break;
                        default:
                            alert("ajax DeleteClient response code is " + response.status + "Body is " + response.responseText);
                            break;
                    }
                })
            }, 10000)  // Delete this entire line
            ;
            */


        })


    </script>
}