@model MapDbContextLib.Context.Client;

@{
    ViewData["Title"] = "Client Administration";
    Layout = "_Layout_w_NB_H_F";
    ViewData["NavIcon"] = "ClientAdmin";
}

@section CSS {

<environment names="Development,CI">
    <link rel="stylesheet" href="~/lib/selectize/selectize.default.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/selectize/selectize.default.min.css" />
</environment>


}

<div id="client-tree" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-4-12 flex-item-for-desktop-up-3-12">
    <div class="loading-wrapper" style="display: none;">
        @Html.Partial("~/Views/Shared/_Loader.cshtml")
    </div>
    <h3 class="admin-panel-header">Client Tree</h3>
    <div class="admin-panel-toolbar">
        <input class="admin-panel-searchbar" type="search" placeholder="Filter Clients" />
        <div class="admin-panel-action-icons-container">
            <svg class="action-icon-add action-icon tooltip" title="New Client">
                <use xlink:href="#action-icon-add"></use>
            </svg>
        </div>
    </div>
    <div class="admin-panel-content-container">
        <ul class="admin-panel-content">
        </ul>
    </div>
</div>
<div id="client-info" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-4-12 flex-item-for-desktop-up-6-12" style="display: none;">
    <div class="loading-wrapper" style="display: none;">
        @Html.Partial("~/Views/Shared/_Loader.cshtml")
    </div>
    <h3 class="admin-panel-header">Client Information</h3>
    <div class="admin-panel-toolbar">
        <div class="admin-panel-action-icons-container">
            <svg class="action-icon-edit action-icon tooltip" title="Edit client details">
                <use xlink:href="#action-icon-edit"></use>
            </svg>
            <svg class="action-icon-cancel action-icon tooltip" title="Cancel edit">
                <use xlink:href="#action-icon-cancel"></use>
            </svg>
        </div>
    </div>
    <div class="admin-panel-content-container">
        <form class="admin-panel-content">
            <div class="form-container">
                <h4 class="form-section-header">Client Information</h4>
                <div class="form-section-container">
                    <div style="display: none;">
                        <input asp-for="Id" />
                        <input asp-for="ParentClientId" />
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-9-12">
                        <label asp-for="Name"></label>
                        <div>
                            <input asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-3-12">
                        <label asp-for="ClientCode"></label>
                        <div>
                            <input asp-for="ClientCode" />
                            <span asp-validation-for="ClientCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                        <label asp-for="ContactName"></label>
                        <div>
                            <input asp-for="ContactName" />
                            <span asp-validation-for="ContactName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                        <label asp-for="ContactTitle"></label>
                        <div>
                            <input asp-for="ContactTitle" />
                            <span asp-validation-for="ContactTitle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-9-12">
                        <label asp-for="ContactEmail"></label>
                        <div>
                            <input asp-for="ContactEmail" />
                            <span asp-validation-for="ContactEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-3-12">
                        <label asp-for="ContactPhone"></label>
                        <div>
                            <input asp-for="ContactPhone" />
                            <span asp-validation-for="ContactPhone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <h4 class="form-section-header">Security Information</h4>
                <div class="form-section-container">
                    <div class="form-input flex-item-12-12">
                        <label asp-for="AcceptedEmailDomainList"></label>
                        <div>
                            <input asp-for="AcceptedEmailDomainList" class="selectize-custom-input" />
                        </div>
                    </div>
                    <div class="form-input flex-item-12-12">
                        <label asp-for="AcceptedEmailAddressExceptionList"></label>
                        <div>
                            <input asp-for="AcceptedEmailAddressExceptionList" class="selectize-custom-input" />
                        </div>
                    </div>
                </div>
                <h4 class="form-section-header">Billing Information</h4>
                <div class="form-section-container">
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                        <label asp-for="ConsultantName"></label>
                        <div>
                            <input asp-for="ConsultantName" />
                            <span asp-validation-for="ConsultantName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                        <label asp-for="ConsultantEmail"></label>
                        <div>
                            <input asp-for="ConsultantEmail" />
                            <span asp-validation-for="ConsultantEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                        <label asp-for="ConsultantOffice"></label>
                        <div>
                            <input asp-for="ConsultantOffice" />
                            <span asp-validation-for="ConsultantOffice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                        <label asp-for="ProfitCenterId"></label>
                        <div>
                            <select asp-for="ProfitCenterId">
                                <option value="">Make a Selection</option>
                            </select>
                            <span asp-validation-for="ProfitCenterId" class="text-danger"></span>
                        </div>
                    </div>
                    @Html.AntiForgeryToken()
                </div>
                <div class="new-form-button-container form-button-container" style="display: none;">
                    <button type="button" class="reset-button link-button">Reset Form</button>
                    <button type="button" class="submit-button green-button">Create Client</button>
                </div>
                <div class="edit-form-button-container form-button-container" style="display: none;">
                    <button type="button" class="reset-button link-button">Discard Changes</button>
                    <button type="button" class="submit-button blue-button">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="client-users" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-4-12 flex-item-for-desktop-up-3-12" style="display: none;">
    <div class="loading-wrapper" style="display: none;">
        @Html.Partial("~/Views/Shared/_Loader.cshtml")
    </div>
    <h3 class="admin-panel-header">Client Users</h3>
    <div class="admin-panel-toolbar">
        <input class="admin-panel-searchbar" type="search" placeholder="Filter Users" />
        <div class="admin-panel-action-icons-container">
            <svg class="action-icon-collapse action-icon tooltip" title="Collapse all user cards"  style="display: none;">
                <use xlink:href="#action-icon-collapse"></use>
            </svg>
            <svg class="action-icon-expand action-icon tooltip" title="Expand all user cards">
                <use xlink:href="#action-icon-expand"></use>
            </svg>
            <svg class="action-icon-add action-icon tooltip" title="Add user">
                <use xlink:href="#action-icon-add-user"></use>
            </svg>
        </div>
    </div>
    <div class="admin-panel-content-container">
        <ul class="admin-panel-content"></ul>
    </div>
</div>

@section Scripts {

    <environment names="Development,CI">
        <script src="~/lib/selectize/selectize.js"></script>
        <script src="~/lib/typeahead/typeahead.js"></script>
        <script src="~/js/client-admin.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/selectize/selectize.min.js"></script>
        <script src="~/lib/typeahead/typeahead.min.js"></script>
        <script src="~/js/client-admin.min.js"></script>
    </environment>

}
