@model MapDbContextLib.Context.Client;

@{
    ViewData["Title"] = "Client Administration";
    Layout = "_Layout_w_NB_H_F";
    ViewData["NavIcon"] = "ClientAdmin";
}

@section CSS {

<environment names="Development,CI">
    <link rel="stylesheet" href="~/lib/selectize/dist/css/selectize.default.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/selectize/dist/css/selectize.default.min.css" />
</environment>


}

<div id="client-tree" class="flex-container flex-column-no-wrap overflow-hidden flex-item-12-12 flex-item-for-tablet-up-3-12">
    <h3 class="center-content padding-1em">Client Tree</h3>
    <div class="flex-container flex-row-no-wrap items-align-center padding-1em">
        <input type="search" id="client-search-box" class="width-65pct" placeholder="Search for Client" />
        <i id="add-client-icon" class="fa fa-2x fa-plus right-align-content flex-item-4-12 padding-left-pt5em" onclick="newClientFormSetup()"></i>
    </div>
    <div id="client-tree" class="overflow-y-scroll padding-1em">
        <ul id="client-tree-list">
        </ul>
    </div>
</div>
<div id="client-info" class="flex-container flex-column-no-wrap client-admin-section flex-item-12-12 flex-item-for-tablet-up-6-12 padding-1em" @*style="display: none;"*@>
    <h3 class="center-content padding-1em">Client Information</h3>
    <div class="align-self-end right-align-content content-align-center width-100pct">
        <i id="edit-client-icon" class="fa fa-2x fa-pencil padding-left-pt25em" onclick="toggleEditExistingClient()"></i>
        <i id="cancel-edit-client-icon" class="fa fa-2x fa-close padding-left-pt25em" onclick="cancelClientEdit()"></i>
    </div>
    <div class="overflow-y-scroll padding-1em">
        <form id="client-form">
            <div class="flex-container with-gutter flex-row-wrap">
                <h4 class="flex-item-12-12 padding-top-1em">Client Information</h4>
                <div class="display-none">
                    <input asp-for="Id" />
                    <input asp-for="ParentClientId" />
                </div>
                <div class="flex-item-for-phone-only-12-12 flex-item-for-tablet-up-9-12">
                    <label asp-for="Name"></label>
                    <div>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="flex-item-for-phone-only-12-12 flex-item-for-tablet-up-3-12">
                    <label asp-for="ClientCode"></label>
                    <div>
                        <input asp-for="ClientCode" class="form-control" />
                        <span asp-validation-for="ClientCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                    <label asp-for="ContactName"></label>
                    <div>
                        <input asp-for="ContactName" class="form-control" />
                        <span asp-validation-for="ContactName" class="text-danger"></span>
                    </div>
                </div>
                <div class="flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                    <label asp-for="ContactTitle"></label>
                    <div>
                        <input asp-for="ContactTitle" class="form-control" />
                        <span asp-validation-for="ContactTitle" class="text-danger"></span>
                    </div>
                </div>
                <div class="flex-item-for-phone-only-12-12 flex-item-for-tablet-up-9-12">
                    <label asp-for="ContactEmail"></label>
                    <div>
                        <input asp-for="ContactEmail" class="form-control" />
                        <span asp-validation-for="ContactEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="flex-item-for-phone-only-12-12 flex-item-for-tablet-up-3-12">
                    <label asp-for="ContactPhone"></label>
                    <div>
                        <input asp-for="ContactPhone" class="form-control" />
                        <span asp-validation-for="ContactPhone" class="text-danger"></span>
                    </div>
                </div>
                <h4 class="flex-item-12-12 padding-top-1em">Security Information</h4>
                <div class="flex-item-12-12">
                    <label asp-for="AcceptedEmailDomainList"></label>
                    <div>
                        <input asp-for="AcceptedEmailDomainList" class="selectize-custom-input" />
                        <span asp-validation-for="AcceptedEmailDomainList" class="text-danger"></span>
                    </div>
                </div>
                <div class="flex-item-12-12">
                    <label asp-for="AcceptedEmailAddressExceptionList"></label>
                    <div>
                        <input asp-for="AcceptedEmailAddressExceptionList" class="selectize-custom-input" />
                        <span asp-validation-for="AcceptedEmailAddressExceptionList" class="text-danger"></span>
                    </div>
                </div>
                <h4 class="flex-item-12-12 padding-top-1em">Billing Information</h4>
                <div class="flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                    <label asp-for="ConsultantName"></label>
                    <div>
                        <input asp-for="ConsultantName" class="form-control" />
                        <span asp-validation-for="ConsultantName" class="text-danger"></span>
                    </div>
                </div>
                <div class="flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                    <label asp-for="ConsultantEmail"></label>
                    <div>
                        <input asp-for="ConsultantEmail" class="form-control" />
                        <span asp-validation-for="ConsultantEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                    <label asp-for="ConsultantOffice"></label>
                    <div>
                        <input asp-for="ConsultantOffice" class="form-control" />
                        <span asp-validation-for="ConsultantOffice" class="text-danger"></span>
                    </div>
                </div>
                <div class="flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                    <label asp-for="ProfitCenterId"></label>
                    <div>
                        <select asp-for="ProfitCenterId" class="form-control">
                            <option value="">Make a Selection</option>
                        </select>
                        <span asp-validation-for="ProfitCenterId" class="text-danger"></span>
                    </div>
                </div>
                @Html.AntiForgeryToken()
            </div>            
            <div id="form-buttons-new" class="text-right" style="display: none;">
                <button type="button" class="btn btn-link" onclick="resetNewClientForm(event)">Reset Form</button>
                <button type="submit" id="create-new-button" class="btn btn-primary primary-button" onclick="submitClientForm(event)">Create New Client</button>
            </div>
            <div id="form-buttons-edit" class="text-right" style="display: none;">
                <button type="button" id="undo-changes-button" class="btn btn-link" onclick="undoChangesEditClientForm(event)">Undo Changes</button>
                <button type="submit" id="save-changes-button" class="btn btn-primary primary-button" onclick="submitClientForm(event)">Save Changes</button>
            </div>
        </form>
    </div>
</div>
<div id="client-users" class="flex-container flex-column-no-wrap overflow-hidden flex-item-12-12 flex-item-for-tablet-up-3-12" @*style="display: none;"*@>
    <h3 class="center-content padding-1em">Client Users</h3>
    <div class="flex-container flex-row-no-wrap items-align-center padding-1em">
        <input type="search" id="user-search-box" class="width-65pct" placeholder="Search for User" />
        <div class="right-align-content flex-item-4-12">
            <i id="collapse-user-icon" class="fa fa-2x fa-toggle-up padding-left-pt25em" onclick="collapseAllUsers()"></i>
            <i id="expand-user-icon" class="fa fa-2x fa-toggle-down padding-left-pt25em" onclick="expandAllUsers()"></i>
            <i id="add-user-icon" class="fa fa-2x fa-user-plus padding-left-pt25em"></i>
        </div>    
    </div>
    <div id="user-list" class="overflow-y-scroll padding-1em">
        <ul id="client-user-list">
        </ul>
    </div>
</div>

@section Scripts {

    @Html.Partial("~/Views/ClientAdmin/templates/_ClientNode.cshtml")
    @Html.Partial("~/Views/ClientAdmin/templates/_UserNode.cshtml")


    <environment names="Development,CI">
        <script src="~/lib/selectize/dist/js/standalone/selectize.js"></script>
        <script src="~/js/client-admin.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/selectize/dist/js/standalone/selectize.min.js"></script>
        <script src="~/js/client-admin.min.js"></script>
    </environment>

    <script>

        $(document).ready(function () {

            getClientTree();

            $('#client-search-box').keyup(function () {
                var searchString = $(this).val();
                searchClientTree(searchString);
            });

            $('#user-search-box').keyup(function () {
                var searchString = $(this).val();
                searchUser(searchString);
            });

            $('#client-form #AcceptedEmailDomainList').selectize({
                plugins: ['remove_button'],
                persist: false,
                create: function (input) {
                    if (input.match(domainValRegex)) {
                        return {
                            value: input,
                            text: input
                        };
                    } else {
                        vex.dialog.alert({
                            unsafeMessage: 'The Approved Email Domain List only accepts the email domain (e.g. <i>username@@</i><strong><u>domain.com</u></strong>)',
                            callback: function () {
                                $('#AcceptedEmailDomainList-selectized').val(input);
                                $('#client-form #AcceptedEmailDomainList')[0].selectize.unlock();
                                $('#client-form #AcceptedEmailDomainList')[0].selectize.focus();
                            }
                        });
                    }
                }
            });

            $('#client-form #AcceptedEmailAddressExceptionList').selectize({
                plugins: ['remove_button'],
                delimiter: ',',
                persist: false,
                create: function (input) {
                    if (input.match(emailValRegex)) {
                        return {
                            value: input,
                            text: input
                        };
                    } else {
                        vex.dialog.alert({
                            unsafeMessage: 'The Approved Email Address Exception List only accepts valid email addresses (e.g. <strong><u>username@domain.com</u></strong>)',
                            callback: function () {
                                $('#AcceptedEmailAddressExceptionList-selectized').val(input);
                                $('#client-form #AcceptedEmailAddressExceptionList')[0].selectize.unlock();
                                $('#client-form #AcceptedEmailAddressExceptionList')[0].selectize.focus();
                            }
                        });
                    }
                }
            });


            /*
             // Assign a user by name to a client id
             $.ajax({
                 type: 'POST',
                 url: 'ClientAdmin/AssignUserToClient',
                 data: { clientId: 1, userName: "testid4444@yahoo.com" },
                 headers: {
                     'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                 },
             }).done(function (response) {
                 console.log(response)
             }).fail(function (response) {
                 switch (response.status) {
                     case 412:
                         toastr["warning"](response.getResponseHeader("Warning"));
                         break;
                     default:
                         alert("ajax AssignUserToClient response code is " + response.status);
                         break;
                 }
             });
            */

            /*
             window.setTimeout(function () {  // Delete this entire line
             // Remove a user by name from a client id
             $.ajax({
                 type: 'POST',
                 url: 'ClientAdmin/RemoveUserFromClient',
                 data: { clientId: 1, userName: "testid4444@yahoo.com" },
                 headers: {
                     'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                 },
             }).done(function (response) {
                 console.log(response)
             }).fail(function (response) {
                 switch (response.status) {
                     case 412:
                         toastr["warning"](response.getResponseHeader("Warning"));
                         break;
                     default:
                         alert("ajax RemoveUserFromClient response code is " + response.status);
                         break;
                 }
             })
             }, 2000)  // Delete this entire line
             ;
            */

            /*
            window.setTimeout(function () {  // Delete this entire line
                // Edit a client record
                $.ajax({
                    type: 'POST',
                    url: 'ClientAdmin/EditClient',
                    data: {
                        Id: 4,
                        Name: "xyz",
                        ClientCode: "Some Code",
                        ContactName: "Contact 4",
                        ContactTitle: "Director of Contacts",
                        ContactEmail: "Contact4@company.com",
                        ContactPhone: "1234567890",
                        ConsultantName: "Phill Ittup",
                        ConsultantEmail: "Consultant4@milliman.com",
                        ConsultantOffice: "Indianapolis",
                        ProfitCenter: "Bulls Eye",
                        AcceptedEmailDomainList: ["milliman.com", "yahoo.com"],
                        AcceptedEmailAddressExceptionList: [],
                        ParentClientId: 1
                    },
                    headers: {
                        'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                    },
                }).done(function (response) {
                    console.log(response)
                }).fail(function (response) {
                    switch (response.status) {
                        case 412:
                            toastr["warning"](response.getResponseHeader("Warning"));
                            break;
                        default:
                            alert("ajax RemoveUserFromClient response code is " + response.status);
                            break;
                    }
                })
            }, 2000)  // Delete this entire line
            ;
            */

            /*
            window.setTimeout(function () {  // Delete this entire line
                // Save a new client record
                $.ajax({
                    type: 'POST',
                    url: 'ClientAdmin/SaveNewClient',
                    data: {
                        Id: null,
                        Name: "xyzaab",
                        ClientCode: "Some Code",
                        ContactName: "Contact 4",
                        ContactTitle: "Director of Contacts",
                        ContactEmail: "Contact4@company.com",
                        ContactPhone: "1234567890",
                        ConsultantName: "Phill Ittup",
                        ConsultantEmail: "Consultant4@milliman.com",
                        ConsultantOffice: "Indianapolis",
                        ProfitCenter: "Bulls Eye",
                        AcceptedEmailDomainList: ["milliman.com", "yahoo.com"],
                        AcceptedEmailAddressExceptionList: [],
                        ParentClientId: 1,
                        ProfitCenterId: 1
                    },
                    headers: {
                        'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                    },
                }).done(function (response) {
                    console.log(response)
                }).fail(function (response) {
                    switch (response.status) {
                        case 412:
                            toastr["warning"](response.getResponseHeader("Warning"));
                            break;
                        default:
                            alert("ajax SaveNewClient response code is " + response.status + "Warning header value is " + response.getResponseHeader("Warning"));
                            break;
                    }
                })
            }, 2000)  // Delete this entire line
            ;
            */
        })


    </script>
}