@model MapDbContextLib.Context.Client;

@{
    ViewData["Title"] = "Client Administration";
    Layout = "_Layout_w_NB_H_F";
    ViewData["NavIcon"] = "ClientAdmin";
}

<div id="navbar"></div>
<div id="client-tree" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-4-12 flex-item-for-desktop-up-3-12">
    <div class="loading-wrapper" style="display: none;">
        @Html.Partial("~/Views/Shared/_Loader.cshtml")
    </div>
    <h3 class="admin-panel-header">Client Tree</h3>
    <div class="admin-panel-toolbar">
        <input class="admin-panel-searchbar-tree" type="search" placeholder="Filter Clients" />
        <div class="admin-panel-action-icons-container">
            <svg class="action-icon-add action-icon tooltip" title="New Client">
                <use xlink:href="#add"></use>
            </svg>
        </div>
    </div>
    <div class="admin-panel-content-container">
        <ul class="admin-panel-content">
        </ul>
    </div>
</div>
<div id="client-info" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-4-12 flex-item-for-desktop-up-6-12" style="display: none;">
    <div class="loading-wrapper" style="display: none;">
        @Html.Partial("~/Views/Shared/_Loader.cshtml")
    </div>
    <h3 class="admin-panel-header">Client Information</h3>
    <div class="admin-panel-toolbar">
        <div class="admin-panel-action-icons-container">
            <svg class="action-icon-edit action-icon tooltip" title="Edit client details">
                <use xlink:href="#edit"></use>
            </svg>
            <svg class="action-icon-cancel action-icon tooltip" title="Cancel edit">
                <use xlink:href="#cancel"></use>
            </svg>
        </div>
    </div>
    <div class="admin-panel-content-container">
        <form class="admin-panel-content">
            <div class="form-section-container">
                <div class="form-section">
                    <h4 class="form-section-title">Client Information</h4>
                    <div class="form-input-container">
                        <div class="form-input form-input-hidden" style="display: none;">
                            <input asp-for="Id" />
                        </div>
                        <div class="form-input form-input-hidden" style="display: none;">
                            <input asp-for="ParentClientId" />
                        </div>
                        <div class="form-input form-input-text flex-item-for-phone-only-12-12 flex-item-for-tablet-up-9-12">
                            <label class="form-input-text-title" asp-for="Name"></label>
                            <div>
                                <input asp-for="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input form-input-text flex-item-for-phone-only-12-12 flex-item-for-tablet-up-3-12">
                            <label class="form-input-text-title" asp-for="ClientCode"></label>
                            <div>
                                <input asp-for="ClientCode" />
                                <span asp-validation-for="ClientCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input form-input-text flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                            <label class="form-input-text-title" asp-for="ContactName"></label>
                            <div>
                                <input asp-for="ContactName" />
                                <span asp-validation-for="ContactName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input form-input-text flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                            <label class="form-input-text-title" asp-for="ContactTitle"></label>
                            <div>
                                <input asp-for="ContactTitle" />
                                <span asp-validation-for="ContactTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input form-input-text flex-item-for-phone-only-12-12 flex-item-for-tablet-up-9-12">
                            <label class="form-input-text-title" asp-for="ContactEmail"></label>
                            <div>
                                <input asp-for="ContactEmail" />
                                <span asp-validation-for="ContactEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input form-input-text flex-item-for-phone-only-12-12 flex-item-for-tablet-up-3-12">
                            <label class="form-input-text-title" asp-for="ContactPhone"></label>
                            <div>
                                <input asp-for="ContactPhone" />
                                <span asp-validation-for="ContactPhone" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <h4 class="form-section-title">Security Information</h4>
                    <div class="form-input-container">
                        <div class="form-input form-input-selectized flex-item-12-12">
                            <label class="form-input-selectized-title" asp-for="AcceptedEmailDomainList"></label>
                            <div>
                                <input asp-for="AcceptedEmailDomainList" class="selectize-custom-input" />
                            </div>
                        </div>
                        <div class="form-input form-input-selectized flex-item-12-12">
                            <label class="form-input-selectized-title" asp-for="AcceptedEmailAddressExceptionList"></label>
                            <div>
                                <input asp-for="AcceptedEmailAddressExceptionList" class="selectize-custom-input" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-section">
                    <h4 class="form-section-title">Billing Information</h4>
                    <div class="form-input-container">
                        <div class="form-input form-input-text flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                            <label class="form-input-text-title" asp-for="ConsultantName"></label>
                            <div>
                                <input asp-for="ConsultantName" />
                                <span asp-validation-for="ConsultantName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input form-input-text flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                            <label class="form-input-text-title" asp-for="ConsultantEmail"></label>
                            <div>
                                <input asp-for="ConsultantEmail" />
                                <span asp-validation-for="ConsultantEmail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input form-input-text flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                            <label class="form-input-text-title" asp-for="ConsultantOffice"></label>
                            <div>
                                <input asp-for="ConsultantOffice" />
                                <span asp-validation-for="ConsultantOffice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-input form-input-dropdown flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                            <label class="form-input-dropdown-title" asp-for="ProfitCenterId"></label>
                            <div>
                                <select asp-for="ProfitCenterId">
                                    <option value="">Make a Selection</option>
                                </select>
                                <span asp-validation-for="ProfitCenterId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <h4 class="form-section-title">New User Welcome Text</h4>
                    <div class="form-input-container">
                        <div class="form-input form-input-nullable-textarea">
                            <div class="switch-container">
                                <div class="toggle-switch">
                                    <input type="checkbox" class="toggle-switch-checkbox" for="NewUserWelcomeTextToggle" name="NewUserWelcomeTextToggle" id="NewUserWelcomeTextToggle">
                                    <label class="toggle-switch-label" for="NewUserWelcomeTextToggle">
                                        <span class="toggle-switch-inner"></span>
                                        <span class="toggle-switch-switch"></span>
                                    </label>
                                </div>
                                <label class="form-input-nullable-textarea-title switch-label" asp-for="NewUserWelcomeText"></label>
                            </div>
                            <div class="content-item-flex-1">
                                <div>
                                    <textarea id="NewUserWelcomeText" name="NewUserWelcomeText" for="NewUserWelcomeText"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-submission-section">
                    <div class="button-container button-container-new" style="display: none;">
                        <button type="button" class="button-reset link-button" disabled>Reset Form</button>
                        <button type="button" class="button-submit green-button" disabled>Create Client</button>
                    </div>
                    <div class="button-container button-container-edit" style="display: none;">
                        <button type="button" class="button-reset link-button" disabled>Discard Changes</button>
                        <button type="button" class="button-submit blue-button" disabled>Save Changes</button>
                    </div>
                    <div class="form-antiforgery-token" style="display: none;">
                        @Html.AntiForgeryToken()
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="client-users" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-4-12 flex-item-for-desktop-up-3-12" style="display: none;">
    <div class="loading-wrapper" style="display: none;">
        @Html.Partial("~/Views/Shared/_Loader.cshtml")
    </div>
    <h3 class="admin-panel-header">Client Users</h3>
    <div class="admin-panel-toolbar">
        <input class="admin-panel-searchbar-tree" type="search" placeholder="Filter Users" />
        <div class="admin-panel-action-icons-container">
            <svg class="action-icon-collapse action-icon tooltip" title="Collapse all user cards"  style="display: none;">
                <use xlink:href="#collapse-cards"></use>
            </svg>
            <svg class="action-icon-expand action-icon tooltip" title="Expand all user cards">
                <use xlink:href="#expand-cards"></use>
            </svg>
            <svg class="action-icon-add action-icon tooltip" title="Add user">
                <use xlink:href="#add"></use>
            </svg>
        </div>
    </div>
    <div class="admin-panel-content-container">
        <ul class="admin-panel-content"></ul>
    </div>
</div>

@section Scripts {
    <script src="~/js/client-admin.bundle.js"></script>
}
