@model MapDbContextLib.Context.Client;

@{
    ViewData["Title"] = "Client Administration";
    Layout = "_Layout_w_NB_H_F";
    ViewData["NavIcon"] = "ClientAdmin";
}

@section CSS {

<environment names="Development,CI">
    <link rel="stylesheet" href="~/lib/selectize/dist/css/selectize.default.css" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/selectize/dist/css/selectize.default.min.css" />
</environment>


}

<div id="client-tree" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-4-12 flex-item-for-desktop-up-3-12">
    <h3 class="admin-panel-header">Client Tree</h3>
    <div class="admin-panel-toolbar">
        <input id="client-search-box" class="admin-panel-searchbar" type="search" placeholder="Filter Clients" />
        <div class="admin-panel-action-icons-container">
            <i id="add-client-icon" class="fa fa-2x fa-plus action-icon"></i>
        </div>
    </div>
    <div id="client-tree" class="admin-panel-content-container">
        <ul id="client-tree-list" class="admin-panel-content">
        </ul>
    </div>
</div>
<div id="client-info" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-4-12 flex-item-for-desktop-up-6-12" style="display: none;">
    <h3 class="admin-panel-header">Client Information</h3>
    <div class="admin-panel-toolbar">
        <div class="admin-panel-action-icons-container">
            <i id="edit-client-icon" class="fa fa-2x fa-pencil action-icon"></i>
            <i id="cancel-edit-client-icon" class="fa fa-2x fa-close action-icon"></i>
        </div>
    </div>
    <div class="admin-panel-content-container">
        <form id="client-form">
            <div class="form-container">
                <h4 class="form-section-header">Client Information</h4>
                <div class="form-section-container">
                    <div style="display: none;">
                        <input asp-for="Id" />
                        <input asp-for="ParentClientId" />
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-9-12">
                        <label asp-for="Name"></label>
                        <div>
                            <input asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-3-12">
                        <label asp-for="ClientCode"></label>
                        <div>
                            <input asp-for="ClientCode" />
                            <span asp-validation-for="ClientCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                        <label asp-for="ContactName"></label>
                        <div>
                            <input asp-for="ContactName" />
                            <span asp-validation-for="ContactName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                        <label asp-for="ContactTitle"></label>
                        <div>
                            <input asp-for="ContactTitle" />
                            <span asp-validation-for="ContactTitle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-9-12">
                        <label asp-for="ContactEmail"></label>
                        <div>
                            <input asp-for="ContactEmail" />
                            <span asp-validation-for="ContactEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-3-12">
                        <label asp-for="ContactPhone"></label>
                        <div>
                            <input asp-for="ContactPhone" />
                            <span asp-validation-for="ContactPhone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <h4 class="form-section-header">Security Information</h4>
                <div class="form-section-container">
                    <div class="form-input flex-item-12-12">
                        <label asp-for="AcceptedEmailDomainList"></label>
                        <div>
                            <input asp-for="AcceptedEmailDomainList" class="selectize-custom-input" />
                            <span asp-validation-for="AcceptedEmailDomainList" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-12-12">
                        <label asp-for="AcceptedEmailAddressExceptionList"></label>
                        <div>
                            <input asp-for="AcceptedEmailAddressExceptionList" class="selectize-custom-input" />
                            <span asp-validation-for="AcceptedEmailAddressExceptionList" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <h4 class="form-section-header">Billing Information</h4>
                <div class="form-section-container">
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                        <label asp-for="ConsultantName"></label>
                        <div>
                            <input asp-for="ConsultantName" />
                            <span asp-validation-for="ConsultantName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                        <label asp-for="ConsultantEmail"></label>
                        <div>
                            <input asp-for="ConsultantEmail" />
                            <span asp-validation-for="ConsultantEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                        <label asp-for="ConsultantOffice"></label>
                        <div>
                            <input asp-for="ConsultantOffice" />
                            <span asp-validation-for="ConsultantOffice" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-input flex-item-for-phone-only-12-12 flex-item-for-tablet-up-6-12">
                        <label asp-for="ProfitCenterId"></label>
                        <div>
                            <select asp-for="ProfitCenterId">
                                <option value="">Make a Selection</option>
                            </select>
                            <span asp-validation-for="ProfitCenterId" class="text-danger"></span>
                        </div>
                    </div>
                    @Html.AntiForgeryToken()
                </div>
                <div id="form-buttons-new" class="form-button-container" style="display: none;">
                    <button type="button" id="reset-form-button" class="link-button">Reset Form</button>
                    <button type="button" id="create-new-button" class="green-button">Create Client</button>
                </div>
                <div id="form-buttons-edit" class="form-button-container" style="display: none;">
                    <button type="button" id="undo-changes-button" class="link-button">Discard Changes</button>
                    <button type="button" id="save-changes-button" class="blue-button">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="client-users" class="admin-panel-container flex-item-12-12 flex-item-for-tablet-up-4-12 flex-item-for-desktop-up-3-12" style="display: none;">
    <h3 class="admin-panel-header">Client Users</h3>
    <div class="admin-panel-toolbar">
        <input id="user-search-box" class="admin-panel-searchbar" type="search" placeholder="Filter Users" />
        <div class="admin-panel-action-icons-container">
            <i id="collapse-user-icon" class="fa fa-2x fa-toggle-up action-icon"></i>
            <i id="expand-user-icon" class="fa fa-2x fa-toggle-down action-icon"></i>
            <i id="add-user-icon" class="fa fa-2x fa-user-plus action-icon"></i>
        </div>
    </div>
    <div id="user-list" class="admin-panel-content-container">
        <ul id="client-user-list" class="admin-panel-content">
        </ul>
    </div>
</div>

@section Scripts {

    @Html.Partial("~/Views/ClientAdmin/templates/_Node.cshtml")


    <environment names="Development,CI">
        <script src="~/lib/selectize/dist/js/standalone/selectize.js"></script>
        <script src="~/lib/typeahead.js/dist/typeahead.jquery.js"></script>
        <script src="~/js/client-admin.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/selectize/dist/js/standalone/selectize.min.js"></script>
        <script src="~/lib/typeahead.js/dist/typeahead.jquery.min.js"></script>
        <script src="~/js/client-admin.min.js"></script>
    </environment>

}
