/* Form Elements */

a,
.link-button {
    color: $blue;
    background-color: transparent;

    &:hover, &:active {
        color: darken( $blue, 15% );
        text-decoration: none;
    }
}

.link-button {
    text-transform: uppercase;
}

button,
.button {
    border: 1px solid transparent;
    border-radius: .25em !important;
    padding: 1em 2em !important;
    margin-top: .5em;
    margin-left: 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold !important;
    cursor: pointer;

    &:focus {
        animation: none !important;
        outline: none;
    }

    &.blue-button {
        background-color: $blue;
        color: $white;

        &:hover {
            background-color: darken($blue, 5%);
        }

        &:disabled {
            border: 1px solid $blue;
            color: $blue;
            background-color: transparent;
            cursor: default;
        }
    }

    &.green-button {
        background-color: $green;
        color: $white;

        &:hover {
            background-color: darken($green, 5%);
        }

        &:disabled {
            border: 1px solid $green;
            color: $green;
            background-color: transparent;
            cursor: default;
        }
    }

    &.red-button {
        background-color: $red;
        color: $white;

        &:hover {
            background-color: lighten($red, 5%);
        }

        &:disabled {
            border: 1px solid $red;
            color: $red;
            background-color: transparent;
            cursor: default;
        }
    }
}

label {
    font-weight: bold;
    font-size: .75em;
    padding-top: .25rem;
    padding-left: .25em;
    margin-bottom: .25rem;
}

input,
textarea,
select {
    display: block;
    width: 100%;
    padding: .25em .5em;
    border: solid 1px transparent;
    border-radius: .25em;
    transition: border 0.2s;

    &:focus {
        border: solid 1px $blue;
    }

    &[disabled] {
        border: solid 1px $grey;
        color: $charcoal;
        background-color: $light-grey;
        box-shadow: none;
        cursor: default;
        -moz-appearance: none;
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }
    }

    &[type="checkbox"] {
        display: inline-block;
        width: unset;
        background: $white;
    }
}

input:-webkit-autofill,
input:-webkit-autofill,
input:-webkit-autofill {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

.form-section-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    align-content: stretch;

    .form-section-title {
        width: 100%;
        border-bottom: 2px solid $charcoal;
        padding: .5em .5em 0;
        text-transform: uppercase
    }

    .form-input-container {
        display: flex;
        flex-flow: row wrap;
        padding-left: 1.5em;
        margin-bottom: .5em;
        margin-right: -.5em;
        margin-left: -.5em;

        & > [class*="form-input"] {
            padding: .25em .5em;
        }

        .form-input-file-upload {
            width: 100%;
        }

        .form-input-flex {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-end;

            & > .switch-container {
                margin-bottom: 0;
                margin-left: .5em;
            }
        }
    }

    .button-container {
        text-align: right;
    }
}

label.input-with-upload {
    position: relative;
    padding-left: 2em;
    cursor: pointer;
    width: 100%;

    &.image {
        display: flex;
        flex-flow: column nowrap;
        height: 100%;
        width: 100%;

        .image-preview {
            width: 100%;
            height: auto;
            padding-top: 0.5em;
        }
    }

    input,
    div.image-placeholder {
        cursor: pointer;
    }

    input {
        padding-right: 2.5em;
        position: relative;
        z-index: 1;
    }

    svg {
        
        &.upload-icon,&.cancel-icon {
            color: $charcoal;
            height: 2em;
            width: 2em;
            position: absolute;
            right: .25em;
            top: 1.9em;
            z-index: 2;
        }
    }

    .progress-bars {
        position: relative;
        display: block;
        height: 1.5em;
        margin-top: -0.5em;
        border: 1px solid $dark-grey;
        border-radius: 0.25em;

        .progress-bar {
            position: absolute;
            width: 0;
            height: 100%;
        }
        .progress-easing {
            transition: 1.0s linear;
        }
        .progress-bar-1 {
            background-color: rgb(100, 200, 255);
        }
        .progress-bar-2 {
            background-color: rgb(0, 235, 0);
        }
    }

    &:hover:not([disabled]) svg.upload-icon {
        color: $green;
    }
    &[disabled] svg.cancel-icon:hover {
        color: $green;
    }
}
/* Validation Error Styling */
.input-validation-error {
    border: solid 2px $red !important;
}

span.field-validation-error {
    color: $red;
    font-weight: bold;
    font-style: italic;
}

/* Contact Form */
#contact-title {
    text-align: center;
    margin-bottom: 1em;
}

#contact-form {

    #subject {
        margin-bottom: 1em;
    }

    #message {
        height: 10em;
        margin-bottom: 1em;
    }
}
