@import "./variables";
@import "./mixins/breakpoints";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: 300;
    background-color: $light-grey;
    color: $charcoal;
    height: 100%;
    width: 100%;
}

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    padding: 40vh 40vw;

    &.screen-center-text {
        padding: 0;
        text-align: center;
    }
}

.welcome-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 10vh 2vw;
}

@include for-tablet-down {
    .hide-for-tablet-down {
        display: none;
    }
}

svg:not([id='header-logo']):not(.action-icon):not(.cancel-icon):not(.upload-icon) {
    pointer-events: none;
}

b, strong {
    font-weight: bold;
}

table {
    margin-bottom: 1em;

    th, td {
        padding-left: .5em;
    }
}