body {
    background-color: $light-grey;
    color: $charcoal;
    height: 100%;
    width: 100%;
}

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    padding: 40vh 40vw;
}

@include for-tablet-down {
    .hide-for-tablet-down {
        display: none;
    }
}