div.selectize-input {
    color: $charcoal;
    border-radius: 0 !important;
    min-height: 2.6em;
    transition: border 0.2s;
    padding: .25em !important;
    font-size: 1rem;
    box-shadow: none;
    -webkit-box-shadow: none;

    input {
        font-size: 1em !important;
        line-height: 18px !important;
        height: 1.5em !important;
        margin: .25em !important;
    }

    &:focus {
        border-bottom: solid 1px $blue;
    }

    &.disabled {
        border: none;
        border-bottom: solid 1px $grey;
        background-color: $light-grey !important;
        box-shadow: none;
        cursor: default;
        -moz-appearance: none;
        -webkit-appearance: none;
        opacity: 1 !important;

        div.item {
            background: $grey;
            color: $charcoal !important;
            border: none;
            font-size: 1em;
            z-index: 10;
            opacity: 1;
            padding-right: 1em !important;

            a.remove {
                display: none;
            }
        }
    }

    div.item {
        margin: .25em !important;
        cursor: default !important;

        a.remove {
            margin-left: .25em;
            font-size: 1.2em;
            color: $dark-grey;

            &:hover {
                text-decoration: none;
            }
        }
    }
}
