.rrt-info, .toast-info {
    background-color: $blue !important;
}
.rrt-error, .toast-error {
    background-color: $orange !important;
}
.rrt-success, .toast-success {
    background-color: $green !important;
}
.rrt-warning, .toast-warning {
    background-color: $red !important;
}

.rrt-right-container > button {
    margin: 0;
}
.rrt-middle-container {
    padding: 24px 5px !important;
}
