.rrt-info, .toast-info {
    background-color: $blue !important;
}
.rrt-error, .toast-error {
    background-color: $orange !important;
}
.rrt-success, .toast-success {
    background-color: $green !important;
}
.rrt-warning, .toast-warning {
    background-color: $red !important;
}
