.toast-info {
    background-color: $blue !important;
}
.toast-error {
    background-color: $orange !important;
}
.toast-success {
    background-color: $green !important;
}
.toast-warning {
    background-color: $red !important;
}
