/******
Variable Definitions
******/

$background: #DEDEE3;
$input-focus: #0091ff;
$login-button-color: #0091ff;
$login-button-hover: #0080E2;
$nav-background-color: #242424;
$nav-font-color: #fff;
$nav-selected-color: #0091ff;
$nav-hover-font-color: #0091ff;

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/******
General Styling
******/

body {
    background-color: $background;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
}

#content-wrapper {
    min-height: 100vh;
    position: relative;

    &.navbar-offset {
        margin-left: 70px;
    }
}

.page-title {
    margin: 8vh 0 20px 20px;
    text-align: center;
    font-weight: bold;
} 

input {
    height: 40px;
    width: 350px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: border 0.2s;

    &:focus {
        border: solid 2px $input-focus;
    }
}

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

#primary-button {
    height: 50px;
    width: 90px;
    background-color: $login-button-color;
    margin: 0 20px;
    font-weight: bold;

    &:hover {
        background-color: $login-button-hover;
    }
}

/*****
Login Page
*****/

#login-form {

    img {
        width: 400px;
    }
}

#password-reset-form {
}

/*****
Nav Sidebar Styling
*****/
#sidebar-nav {
    position: fixed;
    top: 0;
    left: -230px;
    width: 300px;
    height: 100vh;
    transition: all 0.5s;
    background-color: $nav-background-color;
    color: $nav-font-color;
    padding: 0;
    z-index: 90;

    &:hover {
        left: 0;
        transition: all 0.5s;
    }

    ul {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        width: 100%;
    }


    .nav-item {
        width: 100%;
        height: 55px;
        padding: 0;
        margin: 10px 0;

        &.selected {
            background-color: $nav-selected-color;

            a:hover {
                color: $nav-background-color;
            }
        }

        #logoutForm {
            padding: 0;
        }

        .nav-button {
            color: $nav-font-color;
            padding: 0;
            text-align: left;

            &:hover {
                color: $nav-hover-font-color;
            }

            button {
                background-color: inherit;
                border: none;
                margin: 0;
                width: 100%;
            }
        }
    }

    .nav-label {
        display: inline-block;
        width: 200px;
        height: 55px;
        line-height: 55px;
        margin: auto 0 auto 15px;
    }

    .nav-icon {
        display: inline-block;
        float: right;
        width: 70px;
        height: 55px;
        line-height: 55px;
        padding: 0;
        margin: auto;
    }
}


/*****
Header Styling
*****/

#header {
    position: absolute;
    top: 0;
    right: 0;
    height: 10vh;

    #logo {
        height: 100%;
        margin-right: 20px;
    }
}

/*****
Footer Styling
*****/

#footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 7vh;
    text-align: center;

    ul {
        list-style: none;
        display: inline-block;
        padding: 0;

        li {
            display: inline-block;
            margin: 5px 10px;
        }
    }

    #copyright-div {
        text-align: right;
        padding: 0 20px 20px;

        #copyright {
            font-size: 12px;
            font-style: italic;
        }
    }
}

/*****
Content Block Styling
*****/
#iframe-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(1.00);
        transform-origin: top left;
    }
}


/*****
Report Block Styling
*****/
.report-card {
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
    margin: 15px 0;
    padding: 20px;
}


/*****
Client Admin Styling
*****/
.client-admin-section {
    overflow-y: hidden;
    height: 80vh;
    padding: 10px;

    h3.client-admin-section-title {
        margin: 10px 10px 20px;
        text-align: center;
    }

    input .search-box{
        width: 50% !important;
    } 
    
    .vertical-scroll {
        overflow-y: auto;
        height: 85%;
        width: 100%;
        margin-bottom: 10px;

        ul {
            list-style-type: none;
            padding: 5px;
            margin: 5px;
        }
    }

    .hr {
        height: 2px;
        border: 1px solid black;
        margin: 20px 5px;
        padding: 0;
    }
}

.client-node {
    position: relative;
    padding: 5px 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px 5px;
    cursor: pointer;

    &:hover {
        background-color: lightgray;
        transform: scale(1.02);
    }
    

    .client-node-title {
        margin: 5px 0;
    } 
    
    .icon-container {
        position: absolute;
        display: inline;
        bottom: 10px;
        right: 10px;
    }
}
