/******
Variable Definitions
******/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
/******
General Styling
******/
body {
  background-color: #DEDEE3;
  box-sizing: border-box;
  font-family: 'Noto Sans', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; }

#content-wrapper {
  min-height: 100vh;
  position: relative; }
  #content-wrapper.navbar-offset {
    margin-left: 70px; }

.page-title {
  margin: 8vh 0 20px 20px;
  text-align: center;
  font-weight: bold; }

input,
textarea,
select {
  height: 40px;
  width: 350px;
  padding: 5px 10px;
  border: solid 2px transparent;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: border 0.2s; }
  input:focus,
  textarea:focus,
  select:focus {
    border: solid 2px #0091ff; }

textarea {
  height: auto;
  resize: none; }

.form-group {
  margin-bottom: 10px; }

.screen-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#primary-button,
#form-submit {
  height: 50px;
  width: 90px;
  background-color: #0091ff;
  margin: 0 20px;
  font-weight: bold; }
  #primary-button:hover,
  #form-submit:hover {
    background-color: #0080E2; }

.primary-button {
  height: 50px;
  width: 90px;
  margin: 0 20px;
  font-weight: bold; }

/*****
Login Page
*****/
#login-form img {
  width: 400px; }

/*****
Nav Sidebar Styling
*****/
#sidebar-nav {
  position: fixed;
  top: 0;
  left: -230px;
  width: 300px;
  height: 100vh;
  transition: all 0.5s;
  background-color: #242424;
  color: #fff;
  padding: 0;
  z-index: 90; }
  #sidebar-nav:hover {
    left: 0;
    transition: all 0.5s; }
  #sidebar-nav ul {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%; }
  #sidebar-nav .nav-item {
    width: 100%;
    height: 55px;
    padding: 0;
    margin: 10px 0; }
    #sidebar-nav .nav-item.selected {
      background-color: #0091ff; }
      #sidebar-nav .nav-item.selected a:hover {
        color: #242424; }
    #sidebar-nav .nav-item #logoutForm {
      padding: 0; }
    #sidebar-nav .nav-item .nav-button {
      color: #fff;
      padding: 0;
      text-align: left; }
      #sidebar-nav .nav-item .nav-button:hover {
        color: #0091ff; }
      #sidebar-nav .nav-item .nav-button button {
        background-color: inherit;
        border: none;
        margin: 0;
        width: 100%; }
  #sidebar-nav .nav-label {
    display: inline-block;
    width: 200px;
    height: 55px;
    line-height: 55px;
    margin: auto 0 auto 15px; }
  #sidebar-nav .nav-icon {
    display: inline-block;
    float: right;
    width: 70px;
    height: 55px;
    line-height: 55px;
    padding: 0;
    margin: auto; }

/*****
Contact Form Styling
*****/
#modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
  display: block; }
  #modal-background.hide {
    display: none !important; }
  #modal-background.show {
    display: block !important; }

#contact-form-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #DEDEE3;
  /*border: 2px solid $form-border;*/
  border-radius: 5px;
  padding: 25px;
  z-index: 100; }
  #contact-form-modal .contact-title {
    margin: 20px 25px;
    text-align: center; }
  #contact-form-modal .form-close {
    position: absolute;
    color: #d9534f;
    top: 10px;
    right: 5px;
    cursor: pointer; }
  #contact-form-modal .form-close:hover {
    color: #c9302c; }

/*****
Header Styling
*****/
#header {
  position: absolute;
  top: 0;
  right: 0;
  height: 10vh; }
  #header #logo {
    height: 100%;
    margin-right: 20px; }

/*****
Footer Styling
*****/
#footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 7vh;
  text-align: center; }
  #footer ul {
    list-style: none;
    display: inline-block;
    padding: 0; }
    #footer ul li {
      display: inline-block;
      margin: 5px 10px; }
  #footer #copyright-div {
    text-align: right;
    padding: 0 20px 20px; }
    #footer #copyright-div #copyright {
      font-size: 12px;
      font-style: italic; }

/*****
Content Block Styling
*****/
#iframe-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden; }
  #iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: top left; }

/*****
Report Block Styling
*****/
.report-card {
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  margin: 15px 0;
  padding: 20px; }

/*****
Client Admin Styling
*****/
.client-admin-section {
  height: 80vh;
  padding: 10px; }
  .client-admin-section .scroll-y {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 25px; }
  .client-admin-section .client-admin-section-toolbar {
    width: 100%;
    vertical-align: middle; }
  .client-admin-section .search-box {
    width: 70% !important;
    display: inline-block; }
  .client-admin-section h3.client-admin-section-title {
    margin: 10px 10px 20px;
    text-align: center; }
  .client-admin-section input .search-box {
    width: 50% !important; }
  .client-admin-section #client-tree,
  .client-admin-section #user-list {
    height: 85%;
    width: 100%;
    margin-bottom: 10px; }
    .client-admin-section #client-tree ul,
    .client-admin-section #user-list ul {
      list-style-type: none;
      padding: 5px;
      margin: 5px; }
      .client-admin-section #client-tree ul li,
      .client-admin-section #user-list ul li {
        margin-bottom: 15px; }
  .client-admin-section .hr {
    height: 2px;
    border: 1px solid black;
    margin: 20px 5px;
    padding: 0; }

.client-admin-card {
  position: relative;
  padding: 0;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  min-height: 85px; }
  .client-admin-card:hover {
    /*background-color: lightgray;*/
    transform: scale(1.02); }
  .client-admin-card.disabled {
    color: #424242 !important;
    background-color: #DDD !important; }
  .client-admin-card.selected {
    color: white;
    background-color: #0091ff; }
  .client-admin-card .client-admin-card-title {
    margin: 5px 0; }
  .client-admin-card .client-information {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    height: 100%;
    width: 75%; }
  .client-admin-card .client-stats {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 25%;
    background-color: #242424;
    color: #fff; }
    .client-admin-card .client-stats .client-stat-container {
      position: relative;
      height: 50%;
      margin: 0;
      padding-left: 3.5em; }
      .client-admin-card .client-stats .client-stat-container h4 {
        display: inline-block;
        line-height: 100%; }
      .client-admin-card .client-stats .client-stat-container i {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translate(0, -50%); }
  .client-admin-card .icon-container {
    position: absolute;
    display: inline;
    right: 0;
    top: 50%;
    text-align: right;
    transform: translate(60%, -50%); }
    .client-admin-card .icon-container .card-button-background {
      border-radius: 50%;
      display: block;
      margin: 10px;
      text-align: center;
      vertical-align: middle;
      padding: 2px;
      transform-origin: center center; }
      .client-admin-card .icon-container .card-button-background.card-button-background-edit {
        background-color: #0091ff; }
        .client-admin-card .icon-container .card-button-background.card-button-background-edit:hover {
          background-color: #0080E2; }
      .client-admin-card .icon-container .card-button-background.card-button-background-delete {
        background-color: #d9534f; }
        .client-admin-card .icon-container .card-button-background.card-button-background-delete:hover {
          background-color: #c9302c; }
      .client-admin-card .icon-container .card-button-background.card-button-background-add {
        background-color: #5cb85c; }
        .client-admin-card .icon-container .card-button-background.card-button-background-add:hover {
          background-color: #449d44; }
      .client-admin-card .icon-container .card-button-background:hover {
        transform: scale(1.25);
        transform-origin: center center; }
      .client-admin-card .icon-container .card-button-background i {
        color: white; }
  .client-admin-card .left-icon {
    display: inline;
    height: 100%; }

#client-form h4 {
  margin-top: 15px;
  font-weight: bold; }

#client-form.read-only input:disabled {
  background-color: #DEDEE3;
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  box-shadow: none;
  font-weight: bold;
  cursor: default;
  overflow: hidden; }

