/******
Variable Definitions
******/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
/******
General Styling
******/
body {
  background-color: #DEDEE3;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; }

#content-wrapper {
  min-height: 100vh;
  position: relative; }
  #content-wrapper.navbar-offset {
    margin-left: 70px; }
  #content-wrapper.header-offset {
    padding-top: 50px; }

input,
textarea,
select {
  height: 40px;
  width: 350px;
  padding: 5px 10px;
  border: solid 2px transparent;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: border 0.2s; }
  input:focus,
  textarea:focus,
  select:focus {
    border: solid 2px #0091ff; }

textarea {
  height: auto;
  resize: none; }

.screen-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%); }

#primary-button,
#form-submit {
  height: 50px;
  width: 90px;
  background-color: #0091ff;
  margin: 0 20px;
  font-weight: bold; }
  #primary-button:hover,
  #form-submit:hover {
    background-color: #0080E2; }

/*****
Login Page
*****/
#login-form img {
  width: 400px; }

/*****
Nav Sidebar Styling
*****/
#sidebar-nav {
  position: fixed;
  width: 300px;
  height: 100vh;
  left: -230px;
  transition: all 0.5s;
  background-color: #242424;
  color: #fff;
  padding: 0;
  z-index: 100; }
  #sidebar-nav:hover {
    left: 0;
    transition: all 0.5s; }
  #sidebar-nav ul {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 100%; }
  #sidebar-nav .nav-item {
    width: 100%;
    height: 55px;
    padding: 0;
    margin: 10px 0; }
    #sidebar-nav .nav-item.selected {
      background-color: #0091ff; }
      #sidebar-nav .nav-item.selected a:hover {
        color: #242424; }
    #sidebar-nav .nav-item #logoutForm {
      padding: 0; }
    #sidebar-nav .nav-item .nav-button {
      color: #fff;
      padding: 0;
      text-align: left; }
      #sidebar-nav .nav-item .nav-button:hover {
        color: #0091ff; }
      #sidebar-nav .nav-item .nav-button button {
        background-color: inherit;
        border: none;
        margin: 0;
        width: 100%; }
  #sidebar-nav .nav-label {
    display: inline-block;
    width: 200px;
    height: 55px;
    line-height: 55px;
    margin: auto 0 auto 15px; }
  #sidebar-nav .nav-icon {
    display: inline-block;
    float: right;
    width: 70px;
    height: 55px;
    line-height: 55px;
    padding: 0;
    margin: auto; }

/*****
Contact Form Styling
*****/
#modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
  display: block; }
  #modal-background.hide {
    display: none !important; }
  #modal-background.show {
    display: block !important; }

#contact-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #DEDEE3;
  /*border: 2px solid $form-border;*/
  border-radius: 5px;
  padding: 25px;
  z-index: 100; }
  #contact-form .contact-title {
    margin: 20px 25px;
    text-align: center; }
  #contact-form .form-close {
    position: absolute;
    color: #ff4618;
    top: 10px;
    right: 5px;
    cursor: pointer; }
  #contact-form .form-close:hover {
    color: #ff2300; }

/*****
Header Styling
*****/
#header {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block; }
  #header #logo {
    width: 400px;
    margin-right: 20px; }

/*****
Footer Styling
*****/
#footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center; }
  #footer ul {
    list-style: none;
    display: inline-block;
    padding: 0; }
    #footer ul li {
      display: inline-block;
      margin: 5px 10px; }
  #footer #copyright-div {
    text-align: right;
    padding: 0 20px 20px; }
    #footer #copyright-div #copyright {
      font-size: 12px;
      font-style: italic; }

/*****
Content Block Styling
*****/
#iframe-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden; }
  #iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-origin: top left; }

/*****
Report Block Styling
*****/
.report-card {
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  margin: 15px 0;
  padding: 20px; }

