/******
Variable Definitions
******/

$background: #DEDEE3;
$input-focus: #0091ff;
$login-button-color: #0091ff;
$login-button-hover: #0080E2;
$nav-background-color: #242424;
$nav-font-color: #fff;
$nav-selected-color: #0091ff;
$nav-hover-font-color: #0091ff;
$form-background: #DEDEE3;
$form-border: #424242;
$form-close: #d9534f;
$form-close-hover: #c9302c;
$card-background-color: #fff;
$card-selected-background-color: #0091ff;
$client-admin-stats-background: #242424;
$client-admin-stats-font: #fff;
$button-warning: #d9534f;
$button-warning-hover: #c9302c;
$button-confirm: #0091ff;
$button-confirm-hover: #0080E2;
$button-save: #5cb85c;
$button-save-hover: #449d44;
$button-disabled: #DDD;
$text-disabled: #424242;
    
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/******
General Styling
******/

body {
    background-color: $background;
    box-sizing: border-box;
    font-family: 'Noto Sans', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#content-wrapper {
    min-height: 100vh;
    position: relative;

    &.navbar-offset {
        margin-left: 70px;
    }
}

.page-title {
    margin: 8vh 0 20px 20px;
    text-align: center;
    font-weight: bold;
}

input,
textarea,
select {
    height: 40px;
    width: 350px;
    padding: 5px 10px;
    border: solid 2px rgba(0, 0, 0, 0);
    border-radius: 5px;
    margin-bottom: 5px;
    transition: border 0.2s;

    &:focus {
        border: solid 2px $input-focus;
    }

    &:disabled {
        font-size-adjust: 1.1;
        font-weight: bold;
        border: none !important;
        border-bottom: solid 1px black !important;
        border-radius: 0 !important;
        background-color: transparent !important;
        background: transparent !important;
        box-shadow: none;
        cursor: default !important;
        -moz-appearance: none !important;
        -webkit-appearance: none !important;

        &::-ms-expand {
            display: none;
        }
    }

}

input:-webkit-autofill,
input:-webkit-autofill,
input:-webkit-autofill {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
}

textarea {
    height: auto;
    resize: none;
}

.form-group {
    margin-bottom: 10px;
}

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#primary-button,
#form-submit,
.primary-button {
    height: 50px;
    min-width: 90px;
    background-color: $login-button-color;
    margin: 0 20px;
    font-weight: bold;

    &:hover {
        background-color: $login-button-hover;
    }
}


/*****
Login Page
*****/
    #login-form {

        img {
            width: 400px;
        }
    }

    #password-reset-form {
    }
    /*****
Nav Sidebar Styling
*****/
    #sidebar-nav {
        position: fixed;
        top: 0;
        left: -230px;
        width: 300px;
        height: 100vh;
        transition: all 0.5s;
        background-color: $nav-background-color;
        color: $nav-font-color;
        padding: 0;
        z-index: 90;

        &:hover {
            left: 0;
            transition: all 0.5s;
        }

        ul {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            list-style: none;
            display: inline-block;
            padding: 0;
            margin: 0;
            width: 100%;
        }


        .nav-item {
            width: 100%;
            height: 55px;
            padding: 0;
            margin: 10px 0;

            &.selected {
                background-color: $nav-selected-color;

                a:hover {
                    color: $nav-background-color;
                }
            }

            #logoutForm {
                padding: 0;
            }

            .nav-button {
                color: $nav-font-color;
                padding: 0;
                text-align: left;

                &:hover {
                    color: $nav-hover-font-color;
                }

                button {
                    background-color: inherit;
                    border: none;
                    margin: 0;
                    width: 100%;
                }
            }
        }

        .nav-label {
            display: inline-block;
            width: 200px;
            height: 55px;
            line-height: 55px;
            margin: auto 0 auto 15px;
        }

        .nav-icon {
            display: inline-block;
            float: right;
            width: 70px;
            height: 55px;
            line-height: 55px;
            padding: 0;
            margin: auto;
        }
    }
    /*****
Contact Form Styling
*****/
    #modal-background {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 50;
        display: block;

        &.hide {
            display: none !important;
        }

        &.show {
            display: block !important;
        }
    }

    #contact-form-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $form-background;
        /*border: 2px solid $form-border;*/
        border-radius: 5px;
        padding: 25px;
        z-index: 100;

        .contact-title {
            margin: 20px 25px;
            text-align: center;
        }

        .form-close {
            position: absolute;
            color: $form-close;
            top: 10px;
            right: 5px;
            cursor: pointer;
        }

        .form-close:hover {
            color: $form-close-hover;
        }
    }
    /*****
Header Styling
*****/
    #header {
        position: absolute;
        top: 0;
        right: 0;
        height: 10vh;

        #logo {
            height: 100%;
            margin-right: 20px;
        }
    }
    /*****
Footer Styling
*****/
    #footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: 7vh;
        text-align: center;

        ul {
            list-style: none;
            display: inline-block;
            padding: 0;

            li {
                display: inline-block;
                margin: 5px 10px;
            }
        }

        #copyright-div {
            text-align: right;
            padding: 0 20px 20px;

            #copyright {
                font-size: 12px;
                font-style: italic;
            }
        }
    }
    /*****
Content Block Styling
*****/
    #iframe-container {
        position: relative;
        height: 100vh;
        width: 100%;
        overflow: hidden;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: scale(1.00);
            transform-origin: top left;
        }
    }

/*****
Report Block Styling
*****/
.report-card {
    border: 2px solid #000;
    border-radius: 5px;
    background-color: $card-background-color;
    margin: 15px 0;
    padding: 20px;
}

/*****
Client Admin Styling
*****/
.client-admin-section {
    height: 80vh;
    padding: 10px;

    &.hidden-on-load {
        display: none;
    }

    .scroll-y {
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 25px;
    }

    .client-admin-section-toolbar {
        width: 100%;
        vertical-align: middle;
    }

    .search-box {
        width: 70% !important;
        display: inline-block;
    }

    h3.client-admin-section-title {
        margin: 10px 10px 20px;
        text-align: center;
    }

    input .search-box {
        width: 50% !important;
    }

    #client-tree,
    #user-list {
        height: 85%;
        width: 100%;
        margin-bottom: 10px;

        ul {
            list-style-type: none;
            padding: 5px;
            margin: 5px;

            li {
                margin-bottom: 15px;
            }
        }
    }

    .hr {
        height: 2px;
        border: 1px solid black;
        margin: 20px 5px;
        padding: 0;
    }

    .client-insert {
    }
}

.client-admin-card {
    position: relative;
    padding: 0;
    background-color: $card-background-color;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;

    &:hover {
        /*background-color: lightgray;*/
        transform: scale(1.02);
    }

    &.disabled {
        color: $text-disabled !important;
        background-color: $button-disabled !important;
    }

    &.selected {
        color: white;
        background-color: $card-selected-background-color;
    }


    &.editing {
    }


    .client-admin-card-title {
        margin: 5px 0;
    }

    .client-information {
        display: inline-block;
        margin: 0;
        padding: 5px 10px;
        height: 100%;
        width: 75%;
    }

    .client-stats {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 25%;
        background-color: $client-admin-stats-background;
        color: $client-admin-stats-font;

        .client-stat-container {
            position: relative;
            height: 50%;
            margin: 0;
            padding-left: 3.5em;

            h4 {
                display: inline-block;
                line-height: 100%;
            }

            i {
                position: absolute;
                top: 50%;
                left: 5px;
                transform: translate(0, -50%);
            }
        }
    }

    .icon-container {
        position: absolute;
        display: inline;
        right: 0;
        top: 50%;
        text-align: right;
        transform: translate(60%, -50%);

        .card-button-background {
            border-radius: 50%;
            display: block;
            margin: 10px;
            text-align: center;
            vertical-align: middle;
            padding: 2px;
            transform-origin: center center;

            &.card-button-background-edit {
                background-color: $button-confirm;

                &:hover {
                    background-color: $button-confirm-hover;
                }
            }

            &.card-button-background-delete {
                background-color: $button-warning;

                &:hover {
                    background-color: $button-warning-hover;
                }
            }

            &.card-button-background-add {
                background-color: $button-save;

                &:hover {
                    background-color: $button-save-hover;
                }
            }

            &:hover {
                transform: scale(1.25);
                transform-origin: center center;
            }

            i {
                color: white;
            }
        }
    }

    .placeholder-arrow {
        display: inline;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translate(0, -50%);
    }

    .left-icon {
        display: inline;
        height: 100%;
    }
}

    #client-form {

        h4 {
            margin-top: 10px;
            font-weight: bold;
        }

    }