@model MillimanAccessPortal.Models.ErrorViewModels.NotAuthorizedViewModel

@{
    ViewData["Title"] = "Not Authorized";
    Layout = "_Layout_w_NB_H_F";
}

<h2>Not Authorized1</h2>

<div>
    <h2>Not Authorized2</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller=@Model.ReturnToController asp-action=@Model.ReturnToAction>Back To Authorized Content Index</a>
</div>
