@model MillimanAccessPortal.Models.HostedContentViewModels.HostedContentViewModel

@{
    ViewData["Title"] = "ViewWebHostedContent";
}

<div id="iframe-container">
    <iframe id="ContentIframe" src=@(Model.Url.AbsoluteUri)></iframe>
</div>
