@model MillimanAccessPortal.Models.HostedContentViewModels.WebHostedContentViewModel

@{
    ViewData["Title"] = "WebHostedContent";
}

<div id="iframe-container">
    <iframe id="ContentIframe" src=@(Model.Url) height="500" width="1000"></iframe>
</div>
