@model MillimanAccessPortal.Models.HostedContentViewModels.HostedContentViewModel

@{
    ViewData["Title"] = Model.ContentName;
}

<div id="iframe-container">
    <iframe id="ContentIframe" src=@(Model.Url)></iframe>
</div>
