//
//     Breakpoint mixins
//

//     Usage Example(s):
//
//     |    @include for-tablet-up {
//     |         .display-none-for-tablet-up {
//     |              display: none;
//     |         }
//     |    }

@mixin for-phone-only {
     /* Phone only */
     @media only screen and (max-width: 37.5em) { @content; }
}

@mixin for-tablet-up {
     /* Tablet and up */
     @media only screen and (min-width: 37.5em) { @content; }
}

@mixin for-tablet-down {
     /* Tablet and down */
     @media only screen and (max-width: 37.5em) { @content; }
}

@mixin for-laptop-up {
     /* Laptop and up */
     @media only screen and (min-width: 56.25em) { @content; }
}

@mixin for-laptop-down {
     /* Laptop and down */
     @media only screen and (max-width: 56.25em) { @content; }
}

@mixin for-desktop-up {
     /* Desktop and up */
     @media only screen and (min-width: 75em) { @content; }
}

@mixin for-desktop-down {
     /* Desktop and down */
     @media only screen and (max-width: 75em) { @content; }
}

@mixin for-big-desktop-up {
     /* Big Desktop and up */
     @media only screen and (min-width: 112.5em) { @content; }
}
