/* Admin Panel */

.admin-panel-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    padding: 0 1em 1em;

    @include for-tablet-down() {
        flex: none;
        margin-bottom: 3em;
    }


    .admin-panel-header {
        text-align: center;

        @include for-tablet-down() {
            text-align: left;
            text-decoration: underline;
            padding: 0;
            margin-bottom: 1em;
        }
    }

    .admin-panel-toolbar {
        display: flex;
        flex-flow: row nowrap;
        flex: none;
        align-items: center;
        padding-bottom: .25em;

        .admin-panel-searchbar {
            width: 60%;
        }

        .admin-panel-action-icons-container {
            display: flex;
            justify-content: flex-end;
            align-content: center;
            flex: 1 0 auto;

            .action-icon {
                color: $charcoal;
                padding: 0 .25em;
                height: 2.0em;
                width: 2.0em;

                &:hover {
                    color: lighten($charcoal, 20%);
                }
            }
        }
    }

    .admin-panel-content-container,
    .admin-panel-action-container {
        padding-right: 1em;
        padding-left: 3px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 0;

        .admin-panel-content-action,
        .admin-panel-content {
            position: relative;
            list-style: none;
            padding: 0;
            margin-bottom: 0;

            .card-100 {
                width: 100%;
            }

            .card-90 {
                width: 90%;
                margin-left: 10%;
            }

            .action-card {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                text-align: center;
                height: 5.25em;
                text-transform: uppercase;

                &:hover {
                    color: lighten($charcoal, 20%);
                }

                &[selected] {
                    &:hover {
                        color: $white;
                    }
                }

                h2.card-body-primary-text {
                    width: 100%;
                    margin: 0;
                }
            }

            .fieldset-container {

                h4 {
                    width: 100%;
                    border-bottom: 2px solid #2B2B2B;
                    padding: 1em .5em 0 .5em;
                    margin-bottom: .25em;
                    text-transform: uppercase;
                }

                .fieldset-options-container {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-around;
                    padding-bottom: 1em;
                    margin-top: 1em;

                    .fieldset-option {
                        flex: 1 0 auto;
                        background-color: $blue;
                        color: $white;
                        margin: .25em;
                        border: 1px solid $charcoal;
                        border-radius: .25em;
                        text-align: center;
                        cursor: pointer;

                        &.disabled {
                            background-color: $white;
                            color: $grey;
                            border-color: $grey;
                            cursor: default;
                        }
                    }
                }

                fieldset {

                    legend {
                        border-bottom: 1px solid $charcoal;
                        font-size: 1em;
                    }
                }
            }
        }
    }

    .admin-panel-content-container {
        flex: 1 1 auto;
    }
    .admin-panel-action-container {
        overflow-y: hidden;
    }
}


/* Checkboxes */
.selection-option-container {
    padding-left: .2em;
}

.selection-option-modified {
    width: 1.3125em;
    height: 1.3125em;
    flex: none;
    margin-right: 0.4em;
    align-self: flex-start;
    color: rgba(0, 0, 0, 0);
    cursor: default;

    &.added {
        color: $green;
    }

    &.removed {
        color: $red;
    }
}

.selection-option-label {
    display: block;
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 1em;
    cursor: pointer;
    user-select: none;

    padding-top: 0.125em;
    padding-bottom: 0.125em;

    .selection-option-value {
        position: absolute;
        opacity: 0;
        width: 0;
    }


    .selection-option-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.75em;
        width: 1.75em;
        background-color: $grey;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: .67em;
            top: .30em;
            width: .5em;
            height: 1em;
            border: solid $white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }

    .selection-option-value:checked ~ .selection-option-checkmark {
        background-color: $blue;

        &:after {
            display: block;
        }
    }

    &:hover .selection-option-value ~ .selection-option-checkmark {
        background-color: darken($grey, 20%);
    }
    &:hover .selection-option-value:checked ~ .selection-option-checkmark {
        background-color: darken($blue, 20%);
    }

    &.readonly {
        cursor: default;

        .selection-option-checkmark {
            cursor: default;
        }

        .selection-option-value:checked ~ .selection-option-checkmark {
            background-color: $dark-grey;
        }

        &:hover .selection-option-value ~ .selection-option-checkmark {
            background-color: $grey;
        }
        &:hover .selection-option-value:checked ~ .selection-option-checkmark {
            background-color: $dark-grey;
        }
    }
}



/* Action Icons */

.action-icon {
    color: $charcoal;
    cursor: pointer;

    &:hover {
        color: lighten($charcoal, 10%);
    }
}
