@model string;

@{
    ViewData["Title"] = "";
    Layout = "_Layout";
}

<div id="agreement-container">
    <h2 id="content-name">User Agreement Text</h2>
    <form id="user-agreement-form" action="updateUserAgreement" method="POST">
        @Html.AntiForgeryToken()
        <div id="user-agreement-text">
            @Html.TextBox("newAgreementText", @Model)
        </div>
        <div class="button-container">
            <button id="update-button" type="submit" class="green-button">Update</button>
        </div>
    </form>
</div>

