<script type="text/template" data-template="node">
  <li>
    <div class="card-container">
      <div class="card-body-main-container">
          <div class="card-body-secondary-container">
              <svg class="card-user-icon">
                  <use xlink:href="#action-icon-user"></use>
              </svg>
              <svg class="card-user-role-indicator">
                  <use xlink:href="#action-icon-add"></use>
              </svg>
          </div>
        <div class="card-body-primary-container">
          <h2 class="card-body-primary-text"></h2>
          <p class="card-body-secondary-text"></p>
          <p class="card-body-secondary-text"></p>
        </div>
        <div class="card-stats-container">
            <div class="card-stat-container tooltip" title="Assigned users">
                <svg class="card-stat-icon">
                    <use xlink:href="#action-icon-users"></use>
                </svg>
                <h4 class="card-stat-value card-stat-user-count"></h4>
            </div>
            <div class="card-stat-container tooltip" title="Reports">
                <svg class="card-stat-icon">
                    <use xlink:href="#action-icon-reports"></use>
                </svg>
                <h4 class="card-stat-value card-stat-content-count"></h4>
            </div>
        </div>
        <div class="card-button-side-container">
            <div class="card-button-background card-button-delete tooltip" title="Delete client">
                <svg class="card-button-icon">
                    <use xlink:href="#action-icon-delete"></use>
                </svg>
            </div>
            <div class="card-button-background card-button-edit tooltip" title="Edit client details">
                <svg class="card-button-icon">
                    <use xlink:href="#action-icon-edit"></use>
                </svg>
            </div>
            <div class="card-button-background card-button-new-child tooltip" title="New sub-client">
                <svg class="card-button-icon">
                    <use xlink:href="#action-icon-add"></use>
                </svg>
            </div>
            <div class="card-button-background card-button-remove-user tooltip" title="Remove user">
                <svg class="card-button-icon">
                    <use xlink:href="#action-icon-remove"></use>
                </svg>
            </div>
        </div>
      </div>
      <div class="card-expansion-container">
        <h4 class="card-expansion-category-label">Client Roles</h4>
        <div class="switch-container">
          <div class="toggle-switch">
            <input type="checkbox" class="toggle-switch-checkbox" data-role-enum="1">
            <label class="toggle-switch-label">
              <span class="toggle-switch-inner"></span>
              <span class="toggle-switch-switch"></span>
            </label>
          </div>
          <label class="switch-label">Client Administrator</label>
        </div>
        <div class="switch-container">
          <div class="toggle-switch">
            <input type="checkbox" class="toggle-switch-checkbox" data-role-enum="3">
            <label class="toggle-switch-label">
              <span class="toggle-switch-inner"></span>
              <span class="toggle-switch-switch"></span>
            </label>
          </div>
          <label class="switch-label">User Administrator</label>
        </div>
        <div class="switch-container">
          <div class="toggle-switch">
            <input type="checkbox" class="toggle-switch-checkbox" data-role-enum="4">
            <label class="toggle-switch-label">
              <span class="toggle-switch-inner"></span>
              <span class="toggle-switch-switch"></span>
            </label>
          </div>
          <label class="switch-label">Content Administrator</label>
        </div>
        <div class="switch-container">
          <div class="toggle-switch">
            <input type="checkbox" class="toggle-switch-checkbox" data-role-enum="5">
            <label class="toggle-switch-label">
              <span class="toggle-switch-inner"></span>
              <span class="toggle-switch-switch"></span>
            </label>
          </div>
          <label class="switch-label">Content Eligible</label>
        </div>
        <div class="card-button-bottom-container">
            <div class="card-button-background card-button-expansion tooltip" title="Expand user card">
                <svg class="card-button-icon">
                    <use xlink:href="#action-icon-expand-card"></use>
                </svg>
            </div>
        </div>
      </div>
    </div>
  </li>
</script>
