body {
    padding: 1em 5em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    margin: 1em 0 .25em 0;
}

ol li {
    list-style-type: decimal;
}

ol li ol li {
    list-style-type: lower-alpha;
}

ul li {
    list-style: none;
}

li {
    padding: 6px 0;
}

a {
    text-decoration: none;
    color: #0095FF;
}

a:hover {
    color: #0068B2;
}
