body {
    font-family: 'Open Sans', sans-serif;
    color: #39414D;
    font-size: 14px;
    margin: 0;
}

.body-content {
    max-width: 800px;
    margin: 50px auto;
}

p {
    margin: 0 0 .75em 0;
    line-height: 24px;
}

header {
    width: 100%;
    height: 48px;
    background: #39414D;
    border-bottom: 1px solid #22272E;
}

header img {
    max-width: 250px;
    padding: 16px;
}

h1 {
    font-family: 'Open Sans Light', 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 42px;
    line-height: 50px;
    margin: 1rem 0;
}

button {
    display: flex;
    flex-flow: row nowrap;
}

button p {
    flex-grow: 2;
    margin: 0;
}

.accordion, .accordion:active, .active {
    background-color: #fff;
    color: #39414D;
    cursor: pointer;
    padding: 10px 16px;
    width: 100%;
    border: #E8E9EA;
    text-align: left;
    outline: none;
    font-size: 16px;
    border-top: 1px solid #E8E9EA;
}

.accordion:hover {
    background-color: #E8E9EA;
}

.content {
    padding: 0 16px;
    max-height: 0;
    background-color: white;
    overflow: hidden;
}

.content.show {
    transition: max-height 1.0s ease-in-out;
    max-height: 100em;
    border-left: 4px solid rgba(0,128,226,.75);
    margin: 0px 16px 12px 18px;
}

.icon {
    max-height: 14px;
    max-width: 14px;
    color: #39414D;
    align-self: center;
}

.rotate {
    transform: rotate(180deg);
}

h3.subheading {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 400;
    color: #444;
    padding: 8px 0 4px 0;
    margin: 0;
}

ol, ul {
    padding: 0 0 16px 28px;
    margin: 0;
}

ol li {
    list-style-type: decimal;
}

ol li ol li {
    list-style-type: lower-alpha;
}

ol li ul li {
    list-style-type: disc;
}

ul li {
    list-style: square;
}

li {
    padding: 4px 0;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #0095FF;
}

a:hover {
    color: #0068B2;
}

table#syntax {
    border: 2px solid #444;
    border-collapse: collapse;
    margin-bottom: 1em;
}

table#syntax th, 
table#syntax td {
    padding: .5em 1em;
    border: 1px solid #444;
}

table#syntax td ul,
table#syntax td ol {
    padding: 0;
}

table#syntax td ul li,
table#syntax td ol li {
    list-style-position: inside;
}

table#syntax td ul li {
    list-style-type: circle;
}
