@import "../../map_modules/variables";
@import "../../map_modules/mixins";

.detail-column-container {
    display: flex;
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-bottom: 0.8em;

    .detail-column {
        margin-bottom: 0.4em;

        .detail-section {

            .detail-section-title {
                margin-bottom: 0.2em;
            }

            .detail-container {
                margin-left: 0.4em;
                margin-bottom: 0.1em;

                .detail-label {
                    font-weight: bold;
                    width: 35%;
                    display: inline-block;
                    vertical-align: top;

                    &::after {
                        content: ':'
                    }
                }

                .detail-value {
                    width: 65%;
                    display: inline-block;
                    vertical-align: top;

                    ul {
                        list-style: none;
                        padding: 0;
                    }
                }

                .systemAdminButton {
                  margin: 0.75em;
                  padding: 1em !important;
                }
            }

            .nested-list-section {
                margin-bottom: .5em;

                .nested-list-section-title {
                    margin: 0;
                    margin-left: 0.5em;
                }
                .nested-list-value {
                    margin: 0;
                    margin-left: 1em;
                }
            }
        }
    }
}
