@import "../../map_modules/variables";
@import "../../map_modules/mixins";

.activity-log-table {

    .event-row {
        border-top: 1px solid $grey;

        td {
            padding-top: 1em;
            padding: .75em;
            font-size: .875rem;
        }


        &:first-child {
            margin-top: 0;
            border-top: none;
        }

        .username {
            font-size: .95em;
            opacity: .85;
        }
    }
}
