@import "../../map_modules/variables";
@import "../../map_modules/mixins";

.activity-log-table {

    .event-row {
        border-top: 1px solid $grey;

        td {
            padding-top: 1em;
            padding: .5em 0;
        }


        &:first-child {
            margin-top: 0;
            border-top: none;
        }

        .username {
            font-size: .8em;
            font-style: italic;
        }
    }

    .event-details {
        color: $dark-grey;
        font-size: .9em;
        font-style: italic;

        & + .event-details {
            padding-bottom: 1.5em;
        }

        td {
            padding-left: 3em;

            strong {
                font-style: initial;
            }
        }
    }

    .spacer {
        height: 1em;
    }
}
