@import "../../map_modules/variables";
@import "../../map_modules/mixins";

.activity-log-table {

    .event-row {
        border-bottom: 1px solid $grey;

        td {
            padding: .5em 0;
        }
    }
}
