@import "../../map_modules/variables";
@import "../../map_modules/mixins";

.admin-panel-content-container {
    display: flex;
    flex-flow: column nowrap;


    .activity-log-table-header {
        flex: 0 0 auto;
    }
    
    form {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
    }
}

.activity-log-table-header {
    display: flex;
    flex-flow: row nowrap;
    padding: .25em .25em 0;
    align-items: flex-end;

    .activity-log-header {
        flex: 1;
    }

    .download-button {
        flex: 0 0 auto;
        padding: .5em 1em !important;
        font-weight: 400 !important;
        letter-spacing: .03em;
        font-size: .875em;
    }
}

table {
    width: 100%;

    thead {
        border-bottom: 2px solid $charcoal;

        tr th {
            padding-bottom: .5em;
        }
    }
}

.form-section {
    padding-bottom: 2em;
}

.activity-log-table {

    .event-row {
        border-top: 1px solid $grey;

        td {
            padding-top: 1em;
            padding: .75em;
            font-size: .875rem;
        }


        &:first-child {
            margin-top: 0;
            border-top: none;
        }

        .username {
            font-size: .95em;
            opacity: .85;
        }

        .date-width {
            width: 84px;
        }

        .name-max-width {
            max-width: 150px;
            width: auto;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        @mixin sentence-case() {
            text-transform: lowercase;

            &:first-letter {
                text-transform: uppercase;
            }
        }

        .action-text {
            @include sentence-case();
        }
    }
}

#password {
    opacity: 0;
    height: 1px;
}

.sftpConnectionInfoTable,
.sftpCredentialsTable {
    tr > td:first-child {
        width: 13em;
    }
}

.notification-instruction {
    font-size: .775em;
    margin-left: 1.25em;
}

.files-table-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1em;
}


.file-drop-card-upload {
    //padding: 0 0 .5em;
    margin-bottom: 1.5em;

    .filename {
        margin-bottom: .5em;
    }

    .action-icon-container-inline {
        float: right;

        .action-icon {
            height: 1em;
            width: 1em;
        }
    }
}

.card-body-container {

    &.selected .file-drop-card-upload .action-icon {
        color: white;
    }

    .card-expansion-container.maximized {
        padding: 1em .5em 0;
    }
}

.card-status-container .upload-message-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .upload-notice {
        flex: 1 0 auto;
    }

    .expand-icon {
        flex: none;
        height: 1em;
        width: 1em;
        transition: all .5s ease-in-out;

        &.inverted {
            transform: rotate(180deg);
            transition: all .5s ease-in-out;
        }
    }
}

.move-item-modal {
    .move-item-add-folder-button {
        margin: 0;
        padding: 0 !important;
    }

    .move-item-text {
        font-size: 22px;
    }

    .breadcrumbs {
        margin-bottom: 0;

        .breadcrumb-link {
            color: $blue;
            cursor: pointer;
        }

        .move-file-slash {
            margin: 1rem;
        }
    }

    .folder-content-table {
        .folder-icon {
            width: 2em;
        }

        .content-type-icon {
            height: 1.25em;
            width: 1.25em;
        }
    }

    .create-new-folder-area {
        .new-folder-input {
            width: 85%;
            display: inline-block;
            margin: 0 !important;
        }

        .new-folder-button-container {
            width: 15%;
            float: right;
            margin-top: 1rem;


            .move-item-new-folder-spinner {
                margin-left: 0.25rem;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
}
