@import "../../map_modules/variables";
@import "../../map_modules/mixins";

.activity-log-table-header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: .25em .25em 0;
    align-items: flex-end;

    .activity-log-header {
        flex: 1;
    }

    .download-button {
        flex: 0 0 auto;
        padding: .25em !important;
        font-weight: 100 !important;
    }
}
