@import "../../map_modules/variables";

.client-summary-container,
.client-review-container {
    margin: 0;
    padding: 1em;
    background-color: $white;
    overflow: auto;

    &.warning {
        border-left: 5px solid $orange;
    }

    &.late {
        border-left: 5px solid $red;
    }

    .header {
        width: 100%;

        .client-name,
        .client-code {
            display: block;
            padding: 0;
            margin: 0;
        }

        .client-name {
            font-weight: bold;
            font-size: 1.75em;
        }

        .client-code {
            font-size: 1em;
            margin-bottom: 1rem;
        }
    }

    .details-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .detail-column {
            flex: 1 0 auto;
        }
    }

    .detail-section {
        margin: 0;
        padding: 0;
        margin-bottom: 2.5rem;

        .detail-label,
        .detail-value,
        .detail-value-name,
        .detail-value-email {
            display: block;
        }

        .detail-label {
            font-size: .75em;
        }

        .detail-value {
            font-size: 1.25em;
        }

        .detail-value-name {
            font-weight: bold;
        }

        .detail-value-email {
            font-size: .9em;
        }

        .detail-list {
            padding-left: 1em;
            list-style: square;

            .list-container {
                margin-bottom: .25em;
            }
        }
    }

    .access-review-table {
        width: 100%;

        thead {
            background-color: $light-grey;

            .header-cell {
                border-bottom: 1px solid $charcoal;
            }

            .role-column {
                width: 10%;
            }
        }

        .center-text {
            text-align: center;
        }

        .detail-value-name {
            font-size: 1.1em;
            font-weight: bold;
        }

        .detail-value-email {
            font-size: .9em;
            font-style: italic;
        }
    }
}

.button-container {
    padding: 1em;
    text-align: right;

    .align-left {
        float: left;
    }
}
