@import "../../map_modules/variables";
@import "../../map_modules/mixins";

.content-card-container {
    flex: 1 0 100% !important;
    max-width: 100% !important;
}

#iframe-container {
    position: relative;
    width: 100%;
    height: 20em;

    iframe, object {
        height: 100%;
        width: 100%;
        overflow: auto;
        border: none;
    }

    .new-tab-icon {
        position: absolute;
        top: 1em;
        right: 2em;
        padding: 0;

        svg {
            height: 2em;
            width: 2em;
        }
    }
}
