@import "../../map_modules/variables";
@import "../../map_modules/mixins";

.content-card-container {
    flex: 1 0 100% !important;
    max-width: 100% !important;
}

#iframe-container {
    position: relative;
    width: 100%;
    height: 20em;

    iframe, object {
        height: 100%;
        width: 100%;
        overflow: auto;
        border: none;
    }

    .new-tab-icon {
        position: absolute;
        top: 1em;
        right: 2em;
        padding: 0;

        svg {
            height: 2em;
            width: 2em;
        }
    }
}

.hierarchy-diffs {
    
    table {
        width: 100%;
        background-color: $white;
        border: 1px solid $charcoal;

        th {
            border-bottom: 1px solid $charcoal;
            font-weight: bold;

            &.header-status {
                width: 7em;
            }
        }

        tr.status-1 {   // Added
            background-color: rgba($green, .3);
        }

        tr.status-2 {   // Removed
            background-color: rgba($red, .3);
        }
    }
}

.selection-group-detail {
    span.status {
        font-size: .75em;
    }
    span.inactive-status {
        color: $red;
    }
    span.active-status {
        color: $green;
    }
}

.go-live-button-container {
    text-align: center;
}